<!-- HANDLEBARS TEMPLATE -->
<script id="alert" type="text/x-handlebars-template">
  <!-- partial:./alert.hbs -->
  <!-- partial -->
</script>

<!-- HANDLEBARS TEMPLATE -->
<script id="noticeboard-template" type="text/x-handlebars-template">
  <!-- partial:./noticeboard.hbs -->
  <!-- partial -->
</script>

<!-- HANDLEBARS TEMPLATE -->
<script id="timeslot-section-template" type="text/x-handlebars-template">
  <!-- partial:./timeslot-section.hbs -->
  <!-- partial -->
</script>

<!-- HANDLEBARS TEMPLATE -->
<script
  id="autocomplete-result-item-template"
  type="text/x-handlebars-template"
>
  <!-- partial:./autocomplete-item.hbs -->
  <!-- partial -->
</script>
