<!-- RATE ORDER -->
<div class="js-rate-modal modal">
  <!-- THE ACTUAL WINDOW -->
  <div class="modal__window">
    <!-- HEADER -->
    <div class="modal__header">
      <div class="modal__header-left">
        <img
          src="./images/icons/left-arrow.svg"
          alt=""
          class="mr-10 js-previous-step"
        />
        <div>Αξιολόγησε το κατάστημα</div>
      </div>
      <div class="modal__header-right">
        <div class="js-close">
          <img src="./images/icons/modal-close.svg" alt="" class="" />
        </div>
      </div>
    </div>
    <!-- BODY -->
    <div class="modal__body">
      <div class="d-flex justify-content-center py-20">
        <img src="./images/illustrations/rate-guy.webp" alt="" />
      </div>
      <div
        class="px-16 py-10 font-averta font-size-8 font-weight-700 text-center"
      >
        Θα μας δώσεις τα σχόλιά σου;
      </div>
      <div class="px-16 py-10 text-center">
        Πάμε να κάνουμε το Delivery.gr ακόμα καλύτερο!
      </div>
      <div class="previous-order__rate-options">
        <!-- ITEM -->
        <div class="previous-order__rate-options-item" data-name="quality">
          <div class="d-flex font-weight-700">
            <div class="previous-order__rate-options-item-name mb-10">
              Ποιότητα
            </div>
            <div class="ml-auto js-rate-text"></div>
          </div>
          <div class="previous-order__rate-options-item-description mb-20">
            Πώς ήταν όλα αυτά που δοκίμασες;
          </div>
          <div class="previous-order__rate-options-item-emojis">
            <div
              class="previous-order__rate-options-item-emoji-parent"
              data-rate="1"
              data-rate-name="bad1"
            >
              <img
                src="./images/emoji/1.webp"
                alt=""
                class="previous-order__rate-options-item-emoji"
              />
            </div>
            <div
              class="previous-order__rate-options-item-emoji-parent"
              data-rate="2"
              data-rate-name="bad2"
            >
              <img
                src="./images/emoji/2.webp"
                alt=""
                class="previous-order__rate-options-item-emoji"
              />
            </div>
            <div
              class="previous-order__rate-options-item-emoji-parent"
              data-rate="3"
              data-rate-name="good3"
            >
              <img
                src="./images/emoji/3.webp"
                alt=""
                class="previous-order__rate-options-item-emoji"
              />
            </div>
            <div
              class="previous-order__rate-options-item-emoji-parent"
              data-rate="4"
              data-rate-name="good4"
            >
              <img
                src="./images/emoji/4.webp"
                alt=""
                class="previous-order__rate-options-item-emoji"
              />
            </div>
            <div
              class="previous-order__rate-options-item-emoji-parent"
              data-rate="5"
              data-rate-name="good5"
            >
              <img
                src="./images/emoji/5.webp"
                alt=""
                class="previous-order__rate-options-item-emoji"
              />
            </div>
          </div>
        </div>
        <!-- ITEM -->
        <div class="previous-order__rate-options-item" data-name="delivery">
          <div class="d-flex font-weight-700">
            <div class="previous-order__rate-options-item-name mb-10">
              Εξυπηρέτηση
            </div>
            <div class="ml-auto js-rate-text"></div>
          </div>
          <div class="previous-order__rate-options-item-description mb-20">
            Πώς ήταν η παράδοση;
          </div>
          <div class="previous-order__rate-options-item-emojis">
            <div
              class="previous-order__rate-options-item-emoji-parent"
              data-rate="1"
              data-rate-name="bad1"
            >
              <img
                src="./images/emoji/1.webp"
                alt=""
                class="previous-order__rate-options-item-emoji"
              />
            </div>
            <div
              class="previous-order__rate-options-item-emoji-parent"
              data-rate="2"
              data-rate-name="bad2"
            >
              <img
                src="./images/emoji/2.webp"
                alt=""
                class="previous-order__rate-options-item-emoji"
              />
            </div>
            <div
              class="previous-order__rate-options-item-emoji-parent"
              data-rate="3"
              data-rate-name="good3"
            >
              <img
                src="./images/emoji/3.webp"
                alt=""
                class="previous-order__rate-options-item-emoji"
              />
            </div>
            <div
              class="previous-order__rate-options-item-emoji-parent"
              data-rate="4"
              data-rate-name="good4"
            >
              <img
                src="./images/emoji/4.webp"
                alt=""
                class="previous-order__rate-options-item-emoji"
              />
            </div>
            <div
              class="previous-order__rate-options-item-emoji-parent"
              data-rate="5"
              data-rate-name="good5"
            >
              <img
                src="./images/emoji/5.webp"
                alt=""
                class="previous-order__rate-options-item-emoji"
              />
            </div>
          </div>
        </div>
        <!-- ITEM -->
        <div class="previous-order__rate-options-item" data-name="speed">
          <div class="d-flex font-weight-700">
            <div class="previous-order__rate-options-item-name mb-10">
              Ταχύτητα
            </div>
            <div class="ml-auto js-rate-text"></div>
          </div>
          <div class="previous-order__rate-options-item-description mb-20">
            Πώς ήταν ο χρόνος παράδοσης;
          </div>
          <div class="previous-order__rate-options-item-emojis">
            <div
              class="previous-order__rate-options-item-emoji-parent"
              data-rate="1"
              data-rate-name="bad1"
            >
              <img
                src="./images/emoji/1.webp"
                alt=""
                class="previous-order__rate-options-item-emoji"
              />
            </div>
            <div
              class="previous-order__rate-options-item-emoji-parent"
              data-rate="2"
              data-rate-name="bad2"
            >
              <img
                src="./images/emoji/2.webp"
                alt=""
                class="previous-order__rate-options-item-emoji"
              />
            </div>
            <div
              class="previous-order__rate-options-item-emoji-parent"
              data-rate="3"
              data-rate-name="good3"
            >
              <img
                src="./images/emoji/3.webp"
                alt=""
                class="previous-order__rate-options-item-emoji"
              />
            </div>
            <div
              class="previous-order__rate-options-item-emoji-parent"
              data-rate="4"
              data-rate-name="good4"
            >
              <img
                src="./images/emoji/4.webp"
                alt=""
                class="previous-order__rate-options-item-emoji"
              />
            </div>
            <div
              class="previous-order__rate-options-item-emoji-parent"
              data-rate="5"
              data-rate-name="good5"
            >
              <img
                src="./images/emoji/5.webp"
                alt=""
                class="previous-order__rate-options-item-emoji"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- STICKY ACTION -->
    <div class="modal__action">
      <div class="py-20 px-16 w-100">
        <div class="primary-btn js-action-btn">Αποστολή αξιολόγησης</div>
      </div>
    </div>
  </div>
</div>
