<div class="modal user-card-{{id}}">
  <!-- THE ACTUAL WINDOW -->
  <div class="modal__window">
    <!-- HEADER -->
    <div class="modal__header">
      <div class="modal__header-left">Η κάρτα μου</div>
      <div class="modal__header-right">
        <div class="js-close">
          <img src="./images/icons/modal-close.svg" alt="" class="" />
        </div>
      </div>
    </div>
    <!-- BODY -->
    <div class="modal__body">
      <img src="./images/illustrations/coupon.svg" alt="" class="img-fluid" />
      {{#if isExpired}}
        <div class="d-flex py-16 px-16">
          <img
            class="mw-22 mr-10"
            src="./images/icons/no-card-red.svg"
            alt=""
          />
          <div class="">Αυτή η κάρτα έχει λήξει!</div>
        </div>
      {{/if}}
      <section class="form">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="floatingInput"
            placeholder="placeholder"
            autocomplete="off"
            disabled
            value="{{cardNumber}}"
          />
          <label for="floatingInput">Αριθμός κάρτας</label>
        </div>
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="floatingInput"
            placeholder="placeholder"
            autocomplete="off"
            disabled
            value="{{cardHolder}}"
          />
          <label for="floatingInput">Όνοματεπώνυμο κατόχου</label>
        </div>
        <div class="add-card__expiration">
          <!-- MONTH -->
          <div class="form-floating">
            <input
              type="text"
              class="form-control"
              id="month"
              placeholder="placeholder"
              inputmode="numeric"
              autocomplete="off"
              disabled
              value="{{cardExpiration}}"
            />
            <label for="month">Ημερομηνία λήξης</label>
          </div>
          <!-- YEAR -->
          <div class="form-floating">
            <input
              type="text"
              class="form-control"
              id="year"
              placeholder="placeholder"
              inputmode="numeric"
              autocomplete="off"
              disabled
              value="..."
            />
            <label for="year">CVV</label>
          </div>
        </div>
      </section>

    </div>
    <!-- STICKY ACTION -->
    <div class="modal__action">
      <div class="py-20 px-16 w-100">
        <div class="primary-btn primary-btn--red js-action-btn">Διαγραφή κάρτας</div>
      </div>
    </div>
  </div>
</div>
