//todo
:root {
  --color-blue: #5a88ff;
  --color-red: #ec5176;
  --color-light: #fff;
  --color-dark: #000;
  --color-cultured: #f6f7f9;
  --color-platinum: #eaebec;
  --color-dark-gray: #676970;
}

.color-dark-gray {
  color: var(--color-dark-gray);
}

.color-blue {
  color: var(--color-blue);
}

.bg-cultured {
  background-color: var(--color-cultured);
}
