//Normalize.css + 3rd party
@import 'normalize.css/normalize';
@import 'swiper/swiper-bundle';

// Main
@import './global.scss';

// Components
// @import '../components/card.scss';
@import '../components/card.scss';
@import '../components/menu.scss';
@import '../components/categories.scss';
