//Normalize.css + 3rd party
@import 'normalize.css/normalize';
@import 'swiper/swiper-bundle';

// Main
@import './global.scss';
@import './containers.scss';

// Components
// @import '../components/card.scss';
@import '../components/card.scss';
@import '../components/menu.scss';
@import '../components/categories.scss';
@import '../components/header.scss';
@import '../components/search-and-filters.scss';
@import '../components/ad-banner.scss';
@import '../components/food-categories.scss';
