@import 'normalize.css/normalize';
@import 'swiper/swiper-bundle';

html {
  font-size: 10px;
}

body {
  background: #f6f7f9;
  color: #000;
  margin: 0;
  padding: 0;
  position: relative;
}

.store-page {
  background: #fff;
}

.checkout-page {
  background: #fff;
}

.catalog-page {
  background: #fff;
}

.thankyou-page {
  background: #fff;
}

$trans-easing: cubic-bezier(0.65, 0, 0.35, 1);
$trans-time1: 0.3s;
$trans-time2: 0.6s;
$trans-time3: 1.2s;
$trans: all $trans-time1 $trans-easing;
$trans2: all $trans-time2 $trans-easing;
$trans3: all $trans-time3 $trans-easing;

//remove highlighting
*:focus {
  outline: none;
}
a {
  color: inherit;
  text-decoration: none;
}

// we rarely use images as inline elements and having the as block removes the white bottom gap
img {
  display: block;
}

//to remove later
.prototype {
  display: none;
  .swiper-container {
    width: 100%;
  }

  .swiper-slide {
    text-align: center;
    display: inline-block;
    width: auto;
  }
}

main {
  // margin: 2rem;
}
.hide-overflow {
  overflow: hidden;
}
.test {
  width: auto;
  height: 75px;
}

.display-none {
  display: none;
}

// hide scrollbar but keep functionality

#search-field {
  display: none;
}
