@import 'normalize.css/normalize';
@import 'swiper/swiper-bundle';

html {
  font-size: 10px;
}

body {
  background: #f6f7f9;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #000;
  margin: 0;
  padding: 0;
  position: relative;
}

$trans-easing: cubic-bezier(0.645, 0.045, 0.355, 1);
$trans-time1: 0.3s;
$trans-time2: 0.6s;
$trans-time3: 1.2s;
$trans: all $trans-time1 $trans-easing;
$trans2: all $trans-time2 $trans-easing;
$trans3: all $trans-time3 $trans-easing;

.prototype {
  display: none;
  .swiper-container {
    width: 100%;
  }

  .swiper-slide {
    text-align: center;
    display: inline-block;
    width: auto;
  }
}

main {
  // margin: 2rem;
}

a {
  color: inherit;
  text-decoration: none;
}
