.d-none {
  display: none !important;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.fit-cover {
  object-fit: cover;
}

.fit-contain {
  object-fit: contain;
}

.mw-22 {
  max-width: 22px;
}

.mw-26 {
  max-width: 26px;
}

.mw-38 {
  max-width: 38px;
}

.w-100 {
  width: 100%;
}

.text-center {
  text-align: center;
}

.ml-auto {
  margin-left: auto;
}
.mr-auto {
  margin-right: auto;
}
.mt-auto {
  margin-top: auto;
}
.mb-auto {
  margin-bottom: auto;
}

// For margin
$spacings: 6, 10, 16, 18, 20, 28, 30;
@each $spacing in $spacings {
  .mr-#{$spacing} {
    margin-right: #{$spacing}px;
  }
  .ml-#{$spacing} {
    margin-left: #{$spacing}px;
  }
  .mt-#{$spacing} {
    margin-top: #{$spacing}px;
  }
  .mb-#{$spacing} {
    margin-bottom: #{$spacing}px;
  }

  .my-#{$spacing} {
    margin-top: #{$spacing}px;
    margin-bottom: #{$spacing}px;
  }

  .mx-#{$spacing} {
    margin-left: #{$spacing}px;
    margin-right: #{$spacing}px;
  }

  .m-#{$spacing} {
    margin: #{$spacing}px;
  }

  .pr-#{$spacing} {
    padding-right: #{$spacing}px;
  }
  .pl-#{$spacing} {
    padding-left: #{$spacing}px;
  }
  .pt-#{$spacing} {
    padding-top: #{$spacing}px;
  }
  .pb-#{$spacing} {
    padding-bottom: #{$spacing}px;
  }

  .py-#{$spacing} {
    padding-top: #{$spacing}px;
    padding-bottom: #{$spacing}px;
  }

  .px-#{$spacing} {
    padding-left: #{$spacing}px;
    padding-right: #{$spacing}px;
  }

  .p-#{$spacing} {
    padding: #{$spacing}px;
  }
}
