.text-underline {
  text-decoration: underline;
}

.d-none {
  display: none !important;
}

.p-relative {
  position: relative;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.fit-cover {
  object-fit: cover;
}

.fit-contain {
  object-fit: contain;
}

// For max widths
$mWidths: 18, 20, 22, 26, 38, 50, 120;
@each $mWidth in $mWidths {
  .mw-#{$mWidth} {
    max-width: #{$mWidth}px;
  }
}

.text-center {
  text-align: center;
}

.ml-auto {
  margin-left: auto;
}
.mr-auto {
  margin-right: auto;
}
.mt-auto {
  margin-top: auto;
}
.mb-auto {
  margin-bottom: auto;
}

// For margin
$spacings: 0, 6, 8, 10, 14, 16, 18, 20, 25, 28, 30;
@each $spacing in $spacings {
  .mr-#{$spacing} {
    margin-right: #{$spacing}px;
  }
  .ml-#{$spacing} {
    margin-left: #{$spacing}px;
  }
  .mt-#{$spacing} {
    margin-top: #{$spacing}px;
  }
  .mb-#{$spacing} {
    margin-bottom: #{$spacing}px;
  }

  .my-#{$spacing} {
    margin-top: #{$spacing}px;
    margin-bottom: #{$spacing}px;
  }

  .mx-#{$spacing} {
    margin-left: #{$spacing}px;
    margin-right: #{$spacing}px;
  }

  .m-#{$spacing} {
    margin: #{$spacing}px;
  }

  .pr-#{$spacing} {
    padding-right: #{$spacing}px;
  }
  .pl-#{$spacing} {
    padding-left: #{$spacing}px;
  }
  .pt-#{$spacing} {
    padding-top: #{$spacing}px;
  }
  .pb-#{$spacing} {
    padding-bottom: #{$spacing}px;
  }

  .py-#{$spacing} {
    padding-top: #{$spacing}px;
    padding-bottom: #{$spacing}px;
  }

  .px-#{$spacing} {
    padding-left: #{$spacing}px;
    padding-right: #{$spacing}px;
  }

  .p-#{$spacing} {
    padding: #{$spacing}px;
  }
}

.scroll-padding-bottom {
  scroll-padding-bottom: 100px;
}

.border-bottom {
  border-bottom: 1px solid #eaebec;
}

.opacity-20 {
  opacity: 0.2;
}

.opacity-40 {
  opacity: 0.4;
}

.flip-horizontally {
  transform: scaleX(-1);
}
.flip-vertically {
  transform: scaleY(-1);
}

.w-100 {
  width: 100%;
}
.w-75 {
  width: 75%;
}
.w-50 {
  width: 50%;
}
.w-25 {
  width: 25%;
}

.line-through {
  text-decoration: line-through;
}
