:root {
  --space-1: 6px;
  --space-2: 8px;
  --space-3: 14px;
  --space-4: 16px;
  --space-5: 24px;
}

//todo
// 6px (card: to keno p exei to icon me to copy)
// 8px (card: paddings)
// 14px (card: apo titlo se bottom flex row)
// 16px (container: left / right padding)
// 24px (category page: margin bot apo karta se karta)
