//todo
// 6px (card: to keno p exei to icon me to copy)
// 8px (card: paddings)
// 14px (card: apo titlo se bottom flex row)
// 16px (container: left / right padding)
// 24px (category page: margin bot apo karta se karta)
