.accordion {
  &__container {
    width: 100%;

    &--nested .table {
      .table__item:last-child {
        border-bottom: none;
      }
    }
  }
  &__item {
    box-sizing: border-box;
    transition: $trans;
    &.is-active {
      background-color: #f6f7f9;
    }
  }
  &__header {
    display: flex;
    align-items: center;
    padding: 20px 16px;

    .accordion__container--nested & {
      padding: 14px 16px;
    }

    .accordion__container--smaller & {
      padding: 12px 16px;
    }
  }
  &__header-content {
    @include font-averta;
    @include font-size-9;

    font-weight: 700;
  }
  &__right-side {
    margin-left: auto;
    display: flex;
    align-items: center;
  }
  &__header-arrow {
    padding-left: 6px;
    width: 30px;
    height: 30px;
    flex-shrink: 0;

    .accordion__container--nested & {
      width: 22px;
      height: 22px;
    }

    img {
      transition: $trans;
      max-width: 100%;
      height: auto;
      .is-active > .accordion__header & {
        transform: rotate(180deg);
      }
    }
  }

  &__panel {
    overflow: hidden;
    transition-property: height, visibility;
    transition-timing-function: $trans-easing;
    will-change: height;
  }
  &__description {
    padding: 16px;
    @include font-size-4;

    font-weight: 500;
  }

  &__status {
    padding: 16px;
    @include font-size-4;

    font-weight: 500;
  }
  &__content {
    @include font-size-1;

    font-weight: 700;
  }
}

//accordion
// transparent kai otan anoigi pernei xrwma bg
// otan exei logo exei alla kena apo otan exei text
