.ad-banner {
  // height: 175px;
  // background-color: green;
  // opacity: 0.5;
  padding: 16px 0;

  &__inner {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    display: flex;
    padding-left: 16px;
    padding-right: 16px;

    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    /* Hide scrollbar for Chrome, Safari and Opera */

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__item {
    overflow-y: hidden;
    flex-shrink: 0;

    img {
      margin-right: 15px;
      width: 300px;
      height: auto;
      border-radius: 6px;
    }

    &:last-child img {
      margin-right: 0;
    }
  }
}
