.add-address {
  &__autosuggest-modal {
    .modal__body {
      position: relative;
      z-index: 1;
    }

    .modal__action.hidden {
      display: none;
    }
  }
  &__map-illustration {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
  }
  &__map-illustration-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &__autosuggest {
  }

  &__autosuggest-input-container {
    // outline: 1px solid red;
    display: flex;
    align-items: center;
    padding: 16px 10px;
    border: 2px solid #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background: #f6f7f9;
    position: relative;
  }

  &__autosuggest-input-icon {
    order: 1;
    opacity: 0.2;
    transition: $trans;
  }
  &__autosuggest-input {
    flex-grow: 1;
    order: 2;
    background-color: transparent;
    padding: 0;
    margin: 0;
    border: 0;
    font-weight: 700;
    @include font-size-4;

    &::placeholder {
      font-weight: 500;
      @include font-size-2;
    }

    &:placeholder-shown ~ img {
      opacity: 1;
    }
  }

  &__autosuggest-input-loader-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-20px) scale(0.7);
    opacity: 0;
    pointer-events: none;

    &.active {
      opacity: 1;
    }
  }

  &__autosuggest-results {
    margin-top: 10px;
    background: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 8px;
    width: calc(100% - 16px);
    overflow: hidden;
    @include font-size-2;
    // this should be inline
    background-image: url('../images/powered_by_google_on_white_hdpi.png');
    background-repeat: no-repeat;
    background-size: 150px auto;
    background-position: bottom 10px right 16px;

    // if we have no results dont show the logo
    &--no-results {
      background-image: none;
    }
  }

  &__autosuggest-result {
    padding: 12px 10px;
    border-bottom: 1px solid #f6f7f9;
    display: flex;
    &:last-child {
      border-bottom: 0;
      // padding bottom on the last child for the google logo
      padding-bottom: 45px;

      .add-address__autosuggest-results--no-results & {
        padding-bottom: 0;
      }
    }
    img {
      padding-top: 4px;
      align-self: flex-start;
      margin-right: 10px;
    }
  }

  &__autosuggest-result-no-result-btn {
    margin-left: auto;
    padding: 8px;
    background: #f6f7f9;
    border-radius: 6px;
  }

  &__autosuggest-result--no-result img {
    align-self: center;
  }

  // TRACK ME
  &__trackme {
    width: 44px;
    height: 44px;
    background-color: #5a88ff;
    box-shadow: 0 10px 20px rgba(90, 136, 255, 0.3);
    border-radius: 50%;
    position: absolute;
    bottom: 16px;
    right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
    img {
      width: 26px;
      height: 26px;
    }
  }

  // Verify modal

  /* Always set the map height explicitly to define the size of the div
  /* element that contains the map. */
  &__map-container {
    display: flex;
    flex-direction: column;
  }
  &__map {
    height: 260px;
  }
  &__map-info {
    padding: 10px 16px;
    background: rgba(90, 136, 255, 0.8);
    color: white;
    font-weight: 500;
    @include font-size-2;
    &.error {
      background-color: #eb6e8b;
    }
  }

  &__verify-inputs {
  }
  &__verify-inputs-number-postal {
    display: flex;
    & > div {
      width: 50%;
    }
  }
}
