.add-card {
  &__tags {
    display: flex;
    align-items: center;
  }
  &__tag {
    // background-color: red;
    color: #676970;
    padding: 12px 16px;
    border-radius: 6px;
    margin-right: 16px;
    font-weight: 700;

    &:last-child {
      margin-right: 0;
    }
    &--active {
      background-color: #f6f7f9;
      color: black;
    }
  }

  // INSIDE THE ADD CARD MODAL
  &__error {
    display: none;
    &--active {
      display: flex;
    }
  }

  &__expiration {
    display: flex;
  }
}
