.autocomplete-search {
  &__header {
    display: flex;
    width: 100%;
    align-items: center;
  }
  &__input-container {
    display: flex;
    align-items: center;
    padding: 0 10px;
    background: #f6f7f9;
    border-radius: 8px;
    height: 50px;
    flex-grow: 1;
    align-self: stretch;
  }

  &__input {
    flex: 1;
    margin-left: 10px;
    margin-right: 10px;
    outline: 0;
    border: 0;
    background-color: transparent;
    @include font-default;
    @include font-size-4;

    font-weight: 500;
  }
}
