.card {
  // background-color: red;
  display: inline-flex;
  flex-direction: column;
  width: 200px;
  border-radius: 8px;
  overflow: hidden;
  filter: drop-shadow(0 8px 16px rgba(0, 0, 0, 0.08));

  &__top {
    position: relative;
  }
  &__img {
    // background-color: green;
    display: block;
    object-fit: cover;
    height: 216px;
    width: 100%;

    .card--short & {
      height: 150px;
    }
  }

  &__top-overlay {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;

    .card--status-line &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.06),
          rgba(0, 0, 0, 0.06)
        ),
        linear-gradient(
          180deg,
          rgba(0, 0, 0, 0) 56.08%,
          rgba(0, 0, 0, 0.1) 100%
        );
    }

    .card--closed &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: linear-gradient(
          0deg,
          rgba(255, 255, 255, 0.8),
          rgba(255, 255, 255, 0.8)
        ),
        linear-gradient(180deg, rgba(255, 255, 255, 0) 56.08%, #fff 100%);
    }
  }
  &__top-overlay-inner {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 8px;
    left: 8px;
    width: calc(100% - 16px);
    height: calc(100% - 16px);
  }
  &__badges {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: auto;
  }
  &__badge {
    padding: 8px;
    position: relative;
    overflow: hidden;
    z-index: 0;
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: white;

    //if you want to have on badge and only have it on right side
    &--right {
      margin-left: auto;
    }

    .card--dark & {
      color: black;
    }

    &::before {
      border-radius: 6px;
      z-index: -1;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.8);

      // if we support backdrop filter we add it with a lower bg color opacity
      @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
        backdrop-filter: blur(24px);
        background-color: rgba(0, 0, 0, 0.4);
      }

      .card--dark & {
        background-color: rgba(255, 255, 255, 0.8);
        // if we support backdrop filter we add it with a lower bg color opacity
        @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
          backdrop-filter: blur(24px);
          background-color: rgba(255, 255, 255, 0.4);
        }
      }
    }
  }

  &__badge-icon {
    width: 18px;
    height: 18px;
    margin-right: 6px;
    flex-shrink: 0;
  }
  &__badge-icon-svg {
    width: 100%;
    height: auto;
  }
  //light card
  &__badge-icon-svg--dark {
    display: none;
  }
  &__badge-icon-svg--light {
    display: block;
  }

  //dark card
  .card--dark &__badge-icon-svg--dark {
    display: block;
  }
  .card--dark &__badge-icon-svg--light {
    display: none;
  }

  &__badge-copy {
  }

  &__closed-icon {
    margin: auto;
    display: none;

    .card--closed & {
      display: block;
    }
  }

  &__closed-icon-svg {
    width: 70px;
    height: 70px;
  }
  &__status-line {
    // display: flex;
    align-items: center;
    color: white;
    margin-top: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    display: none;

    .card--closed &,
    .card--status-line & {
      display: flex;
    }
    .card--closed & {
      color: black;
    }
  }
  &__status-line-icon {
    width: 18px;
    height: 18px;
    margin-right: 6px;
    flex-shrink: 0;
  }
  &__status-line-icon-svg {
    width: 100%;
    height: auto;
  }
  &__status-line-icon-svg--light {
    display: block;
  }
  &__status-line-icon-svg--dark {
    display: none;
  }
  .card--closed &__status-line-icon-svg--light {
    display: none;
  }
  .card--closed &__status-line-icon-svg--dark {
    display: block;
  }

  &__status-line-copy {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &__bottom {
    padding: 8px;
    background-color: white;
  }
  &__title {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  &__tags {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin-top: 6px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    .card--no-tags & {
      display: none;
    }
  }
  &__time-and-rating {
    margin-top: 14px;
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
  }
  &__time {
    display: flex;
  }
  &__time-icon {
    width: 18px;
    height: 18px;
    margin-right: 6px;
    flex-shrink: 0;
  }
  &__time-icon-svg {
    width: 100%;
    height: auto;
  }
  &__time-copy {
  }

  &__rating {
    margin-left: auto;
    display: flex;
  }
  &__rating-icon {
    width: 18px;
    height: 18px;
    margin-left: 6px;
    flex-shrink: 0;
  }
  &__rating-icon-svg {
    width: 100%;
    height: auto;
  }
  &__rating-copy {
  }
}
