.card {
  // outline: 1px solid red;
  display: inline-flex;
  width: 200px;
  height: 287px;
  flex-direction: column;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.04), 0 0 2px rgba(0, 0, 0, 0.03);
  // filter: drop-shadow(0 8px 16px rgba(0, 0, 0, 0.08));
  &--full-width {
    width: 100%;
  }
  &--short {
    height: 221px;
  }
  //The top part (img) doesnt have a fixed height.
  //it grows based on the space left from the bottom white box
  &__top {
    flex-grow: 1;
    //have a limit in case the white bottom box is too big
    min-height: 100px;
    position: relative;
  }

  &__bottom {
    background-color: white;
    // min-height: calc(70px - (8px * 2)); //TODO. do we need min-height?
    padding: 8px;
  }

  //the image takes 100% space of the top part and it fits with cover
  &__img {
    display: block;
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  &__title {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    &--two-lines {
      -webkit-line-clamp: 2;
    }
  }

  &__description {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 150%;
    color: #676970;
    margin-top: 6px;

    // https://css-tricks.com/almanac/properties/l/line-clamp/
    // https://caniuse.com/css-line-clamp
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    &--two-lines {
      -webkit-line-clamp: 2;
    }
  }

  &__bottom-row {
    // outline: 1px solid red;
    margin-top: 14px;
    display: flex;
  }
  &__bottom-row-item:nth-child(1) {
    // outline: 1px solid red;
  }
  &__bottom-row-item:nth-child(2) {
    // outline: 1px solid red;
    margin-left: auto;
  }

  &__icon-with-copy {
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;

    & > div:nth-child(1) {
      margin-right: 6px;
    }
  }

  &__icon-with-copy-text {
  }

  &__icon-with-copy-img-container {
    width: 22px;
    height: 22px;
  }
  &__icon-with-copy-img {
    max-width: 100%;
  }

  // top overlay
  &__top-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;

    .card--status-line &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.06),
          rgba(0, 0, 0, 0.06)
        ),
        linear-gradient(
          180deg,
          rgba(0, 0, 0, 0) 56.08%,
          rgba(0, 0, 0, 0.1) 100%
        );
    }

    .card--closed &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      background: linear-gradient(
          0deg,
          rgba(255, 255, 255, 0.8),
          rgba(255, 255, 255, 0.8)
        ),
        linear-gradient(180deg, rgba(255, 255, 255, 0) 56.08%, #fff 100%);
    }
  }
  &__top-overlay-inner {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 8px;
  }

  &__badges {
    display: flex;
    width: 100%;
    margin-bottom: auto;
    z-index: 1;
    position: relative;

    & > div:nth-child(2) {
      margin-left: auto;
    }
  }

  &__badge {
    padding: 8px;
    position: relative;
    overflow: hidden;
    z-index: 0;
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 14px;
    font-weight: 700;
    color: black;

    .card--dark & {
      color: white;
    }

    &::before {
      border-radius: 6px;
      z-index: -1;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.8);
      // if we support backdrop filter we add it with a lower bg color opacity
      // @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
      //   backdrop-filter: blur(24px);
      //   background-color: rgba(255, 255, 255, 0.4);
      // }

      .card--dark & {
        background-color: rgba(0, 0, 0, 0.8);

        // if we support backdrop filter we add it with a lower bg color opacity
        // @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
        //   backdrop-filter: blur(24px);
        //   background-color: rgba(0, 0, 0, 0.4);
        // }
      }
    }
  }

  &__badge-icon {
    width: 18px;
    height: 18px;
    margin-right: 6px;
    flex-shrink: 0;
  }
  &__badge-icon-svg {
    width: 100%;
  }
  //light card
  &__badge-icon-svg--dark {
    display: block;
  }
  &__badge-icon-svg--light {
    display: none;
  }

  //dark card
  .card--dark &__badge-icon-svg--dark {
    display: none;
  }
  .card--dark &__badge-icon-svg--light {
    display: block;
  }

  &__badge-copy {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__closed-icon {
    margin: auto;
    display: none;
    position: relative;
    z-index: 1;

    .card--closed & {
      display: block;
    }
  }

  &__closed-icon-svg {
    width: 70px;
    height: 70px;
  }
  &__status-line {
    position: relative;
    z-index: 1;
    align-items: center;
    color: black;
    margin-top: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 150%;
    display: none;

    .card--closed &,
    .card--status-line & {
      display: flex;
    }

    .card--dark & {
      color: white;
    }
  }
  &__status-line-icon {
    width: 18px;
    height: 18px;
    margin-right: 6px;
    flex-shrink: 0;
  }
  &__status-line-icon-svg {
    width: 100%;
    height: auto;
  }
  &__status-line-icon-svg--light {
    display: none;
  }
  &__status-line-icon-svg--dark {
    display: block;
  }

  .card--dark &__status-line-icon-svg--light {
    display: block;
  }

  .card--dark &__status-line-icon-svg--dark {
    display: none;
  }

  &__status-line-copy {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}
