.cart {
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;

  &__header {
    padding: 20px 16px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
    // box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
    outline: 1px solid red;
  }

  &__header-left {
    display: flex;
    align-items: center;
  }
  &__header-right {
    margin-left: auto;
  }

  &__header-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  &__header-icon-img {
    max-width: 100%;
    height: auto;
  }
  &__header-text {
    @include font-averta;
    @include font-size-8;

    font-weight: 700;
  }

  &__body {
    // used because we have the add to cart and qty buttons
    padding-bottom: 100px;
  }

  &__products {
    display: flex;
    flex-direction: column;
  }
  &__product {
  }
  &__product-header {
    display: flex;
    @include font-default;
    @include font-size-4;

    align-items: center;
  }
  &__product-header-img-container {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
  }
  &__product-header-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__product-quantity-container {
    position: relative;
  }
  &__product-quantity {
    top: -10px;
    left: 0;
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #5a88ff;
    border-radius: 50%;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
  }

  &__product-quantity-text {
    @include font-size-2;

    line-height: 1;
    font-weight: 700;
  }

  &__product-header-title {
    font-weight: 700;
  }
  &__product-header-price {
    font-weight: 700;
    color: #5a88ff;
  }
}
