.city-areas {
  padding: 10px 16px;
  &__section {
    &::after {
      content: '';
      display: block;
      height: 1px;
      background-color: #eaebec;
      margin: 30px 0;
    }
    &:last-child::after {
      display: none;
    }
  }
  &__section-num {
    color: #676970;
    @include font-size-2;

    margin-bottom: 6px;
  }
  &__section-letter {
    @include font-size-9;

    font-weight: 700;
    padding-bottom: 10px;
    margin-bottom: 16px;
  }
  &__section-list {
    display: flex;
    flex-direction: column;
  }
  &__section-list-item {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
