html {
  --scrollbarBG: transparent;
  --thumbBG: #c5c6c7;
}
.custom-scroll {
  & {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  }
  &::-webkit-scrollbar {
    width: 5px;
    background-color: var(--scrollbarBG);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG);
  }

  &::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
  }
}
