.delivery-type {
  border-bottom: 1px solid #eaebec;
  &__option-header {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    width: calc(100% - 36px);
    // .is-active & {
    //   display: none;
    // }
  }
  &__option-header-top {
    color: #676970;
    @include font-size-2;

    font-weight: 500;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    transition: $trans;
    opacity: 1;
    .is-active & {
      opacity: 0;
    }
    &.has-error {
      color: #ec5176;
    }
  }
  &__option-header-bottom {
    font-weight: 700;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    transition: $trans;
    opacity: 1;
    .is-active & {
      opacity: 0;
    }
  }

  &__option-header-opened-container {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  &__option-header-opened-copy {
    @include font-size-2;

    font-weight: 500;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    transition: $trans;
    opacity: 0;
    .is-active & {
      opacity: 1;
    }
  }

  &__options {
    display: flex;
    flex-direction: column;
    // align-items: center;
    padding: 18px 16px;
  }
  &__options-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 18px 16px;
    background: #fff;
    border-radius: 10px;
    margin-bottom: 16px;
    transition: $trans;

    &:last-child {
      margin-bottom: 0;
    }

    &.active {
      background: #5a88ff;
      box-shadow: 0 10px 20px rgba(90, 136, 255, 0.3);
    }
  }

  &__options-button-icon {
    width: 26px;
    height: 26px;
    background-color: #e7edfa;
    border-radius: 50%;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    transition: $trans;

    .active & {
      background-color: rgba(#fff, 0.1);
    }
  }

  &__options-button-icon-inner {
    width: 12px;
    height: 12px;
    border: 1px solid #5a88ff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: $trans;

    img {
      opacity: 0;
      transition: $trans;
    }

    .active & {
      width: 16px;
      height: 16px;
      background-color: #5a88ff;

      img {
        opacity: 1;
      }
    }
  }

  &__options-button-name {
    @include font-size-4;

    transition: $trans;
    font-weight: 700;
    .active & {
      color: #fff;
    }
  }
}
