.delivery-btn {
  display: inline-block;
  background: rgba(#5a88ff, 0.1);
  border-radius: 8px;
  color: #5a88ff;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  padding: 8px 16px;
}
