.dummy {
  &__img {
    max-width: 100%;

    // outline: 1px solid red;
    width: 100%;
    height: 100%;
    // height: 70px;
    // object-fit: cover;
  }

  &__search {
    max-width: 100%;
    height: auto;
  }
}
