.featured-slider {
  &__header {
    display: flex;
    align-items: center;
    padding: 10px 0;
  }
  &__title {
    @include font-averta;
    @include font-size-5;

    font-weight: 700;
  }
  &__btn {
    @include font-size-2;

    font-weight: 500;
    padding-left: 16px;
    margin-left: auto;
  }

  &__swiper {
    padding: 18px 0;
    padding-bottom: 28px;
  }
  .swiper-slide {
    width: auto;
  }
}
