.food-categories {
  .swiper-slide {
    width: auto;
  }

  &__item {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 8px;
    width: auto;
    // outline: 1px solid red;
    // max-width: 110px;
  }
  &__item-img-parent {
    width: 64px;
    height: 64px;
    margin-bottom: 6px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    // outline: 1px solid green;

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: '';
      border-radius: 50%;
      z-index: -1;
      background-color: #eaebec;
      transition: $trans;
      transform: scale(0);
    }
  }

  &__item:hover &__item-img-parent::after,
  &__item.active &__item-img-parent::after {
    transform: scale(1);
  }

  &__item-img {
    width: 100%;
    max-width: 44px;
    height: auto;
  }
  &__item-title {
    padding: 10px 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 150%;
    max-width: 100px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}
