.footer {
  // height: 140px;
  // background-color: purple;
  // opacity: 0.5;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 40px;
  padding-bottom: 26px;
  background-color: #f6f7f9;
  &__menu {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
  }

  &__menu-col {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__menu-link {
    margin-bottom: 20px;
    @include font-size-2;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__social {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }

  &__social-link {
    width: 36px;
    height: 36px;
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
    img {
      max-width: 100%;
      height: auto;
    }
  }

  &__native-apps {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }
  &__native-apps-link {
    margin-right: 20px;
    margin-bottom: 20px;

    &:last-child {
      margin-right: 0;
      margin-bottom: 0;
    }
  }

  &__copyright {
    color: #676970;
  }
}
