// INPUT AND TEXTAREA

.form-floating {
  position: relative;
  .form-control {
    @include font-size-4;

    background-color: transparent;
    color: #000;
    // height: 70px;
    min-height: 70px;
    display: block;
    width: 100%;
    border-width: 0;
    padding: 24px 16px;
    box-sizing: border-box;
    transition: background-color $trans-time1 $trans-easing,
      border $trans-time1 $trans-easing;
    font-weight: 700;
    border-bottom: 1px solid transparent;
    border-bottom: 1px solid #eff0f1;
    // &:last-child {
    //   border-bottom: 0;
    // }

    &:disabled {
      background-color: transparent;
      color: #000;
      // remove this?
      color: #676970;
      height: 70px;
      min-height: 70px;
      display: block;
      width: 100%;
      border-width: 0;
      padding: 24px 16px;
      box-sizing: border-box;
      @include font-size-4;

      font-weight: 700;
      border-bottom: 1px solid transparent;
      border-bottom: 1px solid #eff0f1;
      transition: background-color $trans-time1 $trans-easing,
        border $trans-time1 $trans-easing;
    }
    &::placeholder {
      color: transparent;
      opacity: 0;
    }

    &:focus,
    &:not(:placeholder-shown) {
      padding-top: 36px;
      padding-bottom: 12px;
    }
    &:focus {
      border-bottom: 1px solid #5a88ff;
      background-color: #f6f7f9;
    }

    &:focus ~ label,
    &:not(:placeholder-shown) ~ label {
      transform: translateY(-15px);
      color: #676970;
    }

    // ERROR
    &--has-error {
      &,
      &:focus {
        border-bottom: 1px solid #ec5176;
      }
      & ~ label,
      &:focus ~ label,
      &:not(:placeholder-shown) ~ label {
        color: #ec5176;
      }
    }
  }
  label {
    @include font-size-2;

    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 24px 16px;
    pointer-events: none;
    transform-origin: 0 0;
    transition: $trans;
  }

  textarea {
    resize: none;
  }

  select {
    -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Safari and Chrome */
    appearance: none;
  }
}

.form-checkbox {
  // height: 70px;
  min-height: 70px;
  display: flex;
  align-items: center;
  width: 100%;
  border-width: 0;
  padding: 20px 16px;
  box-sizing: border-box;
  border-bottom: 1px solid #eff0f1;
  // &:last-child {
  //   border-bottom: 0;
  // }

  label {
    padding-right: 10px;
    @include font-size-2;
  }

  &__input {
    flex-shrink: 0;
    margin-left: auto;
    position: relative;
    -webkit-appearance: none;
    outline: none;
    width: 50px;
    height: 30px;
    // box-shadow: inset -20px 0 0 0 #fff;
    transition: all 0.3s linear;
    background-color: #e7edfa;
    border-radius: 100px;
    // border: 1px solid red;

    &::after {
      content: '';
      position: absolute;
      top: 3px;
      left: 3px;
      background: transparent;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background-color: #fff;
      transition: $trans;
    }

    &:checked {
      background-color: #5a88ff;
      &::after {
        transform: translateX(20px);
      }
    }
  }
}
input[type='button'],
input[type='submit'] {
  border: none;
  // background: none;
  // color: inherit;
  // padding: 0;
  // font: inherit;
  // cursor: pointer;
  // outline: inherit;
}
