.header {
  display: flex;
  padding: 20px 16px;
  align-items: center;
  background: #fff;
  // outline: 1px solid red;
  &__left {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    margin-right: auto;
  }
  &__center {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-shrink: 0;
  }
  &__right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
  }
  &__user {
    display: flex;
    align-items: center;
  }

  &__user-photo {
    width: 30px;
    height: 30px;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
  }

  &__user-photo-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__burger {
  }
  &__burger-icon {
    width: 30px;
    height: 30px;
  }
  &__login-btn {
    @include font-size-2;

    font-weight: 700;
    padding: 10px;
    color: #fff;
    background: #8e8cff;
    box-shadow: 0 8px 10px rgba(142, 140, 255, 0.3);
    border-radius: 8px;
  }

  &__notification {
    width: 30px;
    height: 30px;
    // outline: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-right: 10px;
  }
  &__notification-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &__notification-number {
    position: relative;
    z-index: 1;
    color: #fff;
    @include font-size-1;

    font-weight: 700;
  }
}
