.header {
  display: flex;
  padding: 20px 16px;
  align-items: center;
  background: #fff;
  // outline: 1px solid red;
  &__left {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    margin-right: auto;
  }
  &__center {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-shrink: 0;
  }
  &__right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
  }
  &__user {
    display: flex;
    align-items: center;
    position: relative;
  }

  &__user-photo {
    width: 30px;
    height: 30px;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
  }

  &__user-photo-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__burger {
  }
  &__burger-icon {
    width: 30px;
    height: 30px;
  }
  &__login-btn {
    @include font-size-13;

    font-weight: 700;
    padding: 10px;
    color: #fff;
    background: #8e8cff;
    box-shadow: 0 8px 10px rgba(142, 140, 255, 0.3);
    border-radius: 8px;
  }

  &__notification {
    width: 30px;
    height: 30px;
    // outline: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-right: 10px;
    margin-left: 30px;
  }
  &__notification-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &__notification-number {
    position: relative;
    z-index: 1;
    color: #fff;
    @include font-size-1;

    font-weight: 700;
  }

  // MENU
  .main-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 1100;
    // display: flex;
    flex-direction: column;
    display: none;

    &.active {
      display: flex;
    }

    &__top {
      display: flex;
      padding: 20px 16px;
      box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
    }

    &__top-burger-icon {
      width: 30px;
      height: 30px;
    }

    &__scrollable {
      flex-grow: 1;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      // min-height: 538px;
    }

    &__scrollable-inner {
    }

    &__menu {
      padding: 8px 16px;
      // outline: 1px solid red;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    &__menu-item {
      margin-bottom: 10px;
      // outline: 1px solid red;
      display: flex;
      align-items: center;
      padding: 10px;
      border-radius: 8px;

      &:last-child {
        margin-bottom: 0;
      }
      &--active {
        background: #f6f7f9;
        color: #5a88ff;
      }
    }

    &__menu-item-img {
      width: 22px;
      height: 22px;
      margin-right: 10px;
    }
    &__menu-item-copy {
      font-weight: 700;
    }

    &__secondary-menu-parent {
      margin-top: auto;
    }
    &__secondary-menu {
      margin-top: 40px;
      margin-bottom: 40px;
      padding: 8px 16px;
      // outline: 1px solid red;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    &__secondary-menu-item {
      color: #676970;
      margin-bottom: 16px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  // USER MODAL
  &__user-modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1060;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
    // background-color: rgba(0, 0, 0, 0.5);
    padding: 60px 16px;
    box-sizing: border-box;
    display: none;
    &.active {
      display: flex;
    }
  }

  &__user-modal-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    // background-color: red;
  }

  &__user-modal-window {
    // outline: 1px solid red;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
    box-shadow: 0 8px 22px rgba(0, 0, 0, 0.16);
    border-radius: 12px;
    background-color: #fff;
  }
  &__user-modal-item {
    padding: 16px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eaebec;

    &:last-child {
      border-bottom: 0;
    }
  }
  &__user-modal-item-img {
    margin-right: 10px;
  }
  &__user-modal-item-copy {
  }
}
