.landing-categories {
  &__promotions {
    .swiper-slide {
      width: auto;
    }
    .snippet__swiper {
      padding: 0 16px;
      margin-bottom: 30px;
    }
  }
  &__promotions-item {
    background-color: #ebeef4;
    height: 120px;
    width: 200px;
    border-radius: 14px;
    padding: 14px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }
  &__promotions-item-logo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #dfe2e8;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      max-width: 100%;
      height: auto;
    }
  }
  &__promotions-item-title {
    @include font-averta;

    font-weight: 700;
    margin-top: auto;
  }
  &__grid {
    padding-left: 16px;
    padding-right: 16px;
  }

  &__grid-row {
    box-sizing: border-box;
    display: flex;
    // width: 100%;
    margin-left: -5px;
    margin-right: -5px;
    flex-wrap: wrap;
  }
  &__grid-col {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    width: 50%;
    box-sizing: border-box;
    max-width: 100%;
  }
  &__grid-item {
    height: 164px;
    box-sizing: border-box;
    padding: 14px;
    display: flex;
    flex-direction: column;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 14px;
  }

  &__grid-item-icon {
    width: 36px;
    height: 36px;
  }
  &__grid-item-title {
    @include font-averta;

    font-weight: 700;
    margin-top: auto;
  }
}
