.landing-hero {
  max-width: 100%;
  min-height: 160px;
  padding: 20px 16px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  // overflow: hidden;
  // overflow-y: hidden;
  // overflow-x: hidden;

  &--tall {
    min-height: 400px;
    margin-bottom: 60px;
  }
  &__welcome-copy {
    @include font-size-9;
    @include font-averta;

    font-weight: 700;
    margin-top: auto;
  }
  &__dots {
    position: absolute;
    top: 16px;
    right: -16px;
    width: 144px;
    height: auto;
    z-index: -2;
  }

  &__welcome-top-copy {
    // @include font-size-9;
    @include font-averta;

    font-size: 30px;
    line-height: 39px;
    font-weight: 700;
    max-width: 240px;
  }

  &__badge {
    display: inline-block;
    vertical-align: middle;
    // background: #ffc700;
    // border-radius: 8px;
    // transform: rotate(-4deg);
    // padding: 10px;
  }
  &__guy {
    position: absolute;
    top: 85px;
    right: -155px;
    width: 460px;
    height: auto;
    transform: scaleX(-1);
    z-index: -1;
  }
  &__trigger {
    background-color: #e2e9f1;
    border-radius: 100px;
    padding: 16px;
    margin-top: auto;
  }
  &__trigger-inner {
    background-color: #fff;
    border-radius: 100px;
    padding: 20px 16px;
    box-shadow: 0 2px 0 #eaebec, 0 16px 16px -8px rgba(102, 100, 184, 0.1);
    display: flex;
    align-items: center;
  }
}
