.landing-cities {
  position: relative;
  margin-top: 60px;
  margin-bottom: 60px;
  &__container {
    display: flex;
    flex-wrap: wrap;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 100px;
  }
  &__copy {
    padding: 20px 16px;
    padding-top: 180px; // @include font-size-9;
    padding-bottom: 40px; // @include font-size-9;
    @include font-averta;

    font-size: 30px;
    line-height: 39px;
    font-weight: 700;
    max-width: 240px;
  }
  &__city {
    padding: 12px 18px;
    background-color: #eef0f2;
    margin-right: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    font-weight: 700;
    @include font-size-1;
  }
  &__dots {
    position: absolute;
    top: 100px;
    right: 16px;
    width: 144px;
    height: auto;
    z-index: -2;
  }
  &__dude {
    position: absolute;
    top: 60px;
    right: -140px;
    z-index: -1;
  }
}
