.landing-hero {
  min-height: 160px;
  padding: 20px 16px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  // overflow: hidden;
  // overflow-y: hidden;
  // overflow-x: hidden;

  &--tall {
    min-height: 500px;
  }
  &__welcome-copy {
    @include font-size-9;
    @include font-averta;

    font-weight: 700;
    margin-top: auto;
  }
  &__dots {
    position: absolute;
    top: 16px;
    right: -16px;
    width: 144px;
    height: auto;
  }

  &__welcome-top-copy {
    // @include font-size-9;
    @include font-averta;

    font-size: 30px;
    line-height: 39px;
    font-weight: 700;
    max-width: 240px;
  }

  &__badge {
    display: inline-block;
    vertical-align: middle;
    // background: #ffc700;
    // border-radius: 8px;
    // transform: rotate(-4deg);
    // padding: 10px;
  }
  &__guy {
    position: absolute;
    top: 85px;
    right: -155px;
    width: 460px;
    height: auto;
    transform: scaleX(-1);
  }
}
