.layout {
  display: flex;
  max-width: 740px;
  margin-left: auto;
  margin-right: auto;

  &__main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__main-inner {
    display: flex;
    flex-direction: column;
  }

  &__side {
    display: none;
    background-color: blue;
  }

  &__header {
    height: 100px;
    background-color: red;
  }
  &__a {
    height: 400px;
    background-color: purple;
  }
  &__filters {
    height: 50px;
    background-color: fuchsia;
  }
  &__b {
    height: 300px;
    background-color: green;
  }

  @include when-more('lg') {
    max-width: none;

    &__side {
      width: 300px;
      display: block;
    }
  }
  @include when-more('xl') {
    &__main {
      flex-direction: row;
    }
    &__main-inner {
      flex-grow: 1;
    }
    &__header {
      width: 300px;
      height: 100%;
    }
    // &__header {
    //   order: 1;
    // }
    // &__filters {
    //   order: 2;
    // }
    // &__a {
    //   order: 3;
    // }
    // &__b {
    //   order: 4;
    // }
  }
}

// .layout {
//   display: flex;
//   max-width: 740px;
//   margin-left: auto;
//   margin-right: auto;

//   &__center {
//     flex-grow: 1;
//     display: flex;
//     flex-direction: column;
//   }

//   &__header
//   }
//   &__main {
//     flex-grow: 1;
//     // max-width: 740px;
//   }
//   &__side {
//     width: 300px;
//     position: fixed;
//     display: none;
//   }

//   @include when-more('lg') {
//     max-width: 1500px;

//     &__side {
//       position: static;
//       display: block;
//     }
//   }

//   @include when-more('xl') {
//     &__center {
//       flex-direction: row;
//     }
//     &__header {
//       width: 250px;
//     }
//   }
// }

.content {
  outline: 1px solid red;
  margin: 30px;
}

.content-100 {
  height: 100px;
}

.content-300 {
  height: 300px;
}
.content-900 {
  height: 900px;
}
.content-1100 {
  height: 1100px;
}

.width-info {
  position: absolute;
  font-size: 20px;
  font-weight: 700;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
