.login {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  align-items: flex-start;
  display: none;
  // display: flex;
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.5);
  }
  &.active {
    display: flex;
  }

  &__window {
    width: 100%;
    // max-height: calc(100vh - 105px);
    // height: 100%;
    margin-top: 46px;
    margin-left: 16px;
    margin-right: 16px;
    background: #fff;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 22px 16px;
    position: relative;
  }

  &__close {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  &__title {
    padding-top: 10px;
    padding-bottom: 10px;
    @include font-size-9;
    @include font-averta;

    text-align: center;
    font-weight: 700;
    // outline: 1px solid red;
    margin-bottom: 20px;
  }

  &__social-options {
    display: flex;
    flex-direction: column;
    padding: 10px 16px;
  }

  &__social-btn {
    display: flex;
    margin-bottom: 16px;
    padding: 16px;
    background-color: #f6f7f9;
    border-radius: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__social-btn-img {
    margin-right: 16px;
  }
  &__social-btn-copy {
    color: #676970;
  }
}
