.market-menu {
  &__products {
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 16px;
    padding-right: 16px;
  }
  &__product-row {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    margin-left: -8px;
    margin-right: -8px;
  }

  &__product-col {
    box-sizing: border-box;
    display: block;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
    max-width: 100%;
    width: 50%;
    padding-right: 8px;
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  &__product {
    // outline: 1px solid red;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.08);
    height: 100%;
    // background-color: red;

    // user-select: none;
    // padding: 14px 16px;
    // display: flex;
    // align-items: center;
    // // outline: 1px solid red;
    // border-bottom: 1px solid #eaebec;
    // background: #fff;
  }
  &__product-image-container {
    height: 190px;
    width: 100%;
    background-color: #fff;
    padding: 8px;
    box-sizing: border-box;
    position: relative;
  }
  &__product-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  &__product-badge {
    position: absolute;
    left: 8px;
    top: 8px;
    display: flex;
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.06);
    border-radius: 6px;
    overflow: hidden;
    align-items: center;
    color: #313038;
    font-weight: 700;
  }

  &__product-info {
    padding: 8px;
    // display: flex;
    // flex-direction: column;
  }
  &__product-title {
    color: #313038;
    font-weight: 700;
    line-height: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    min-height: 60px;

    // TODO new font?
  }

  &__product-small-text {
    margin-top: 6px;
    color: #676970;
    @include font-size-2;

    min-height: 21px;
    font-weight: 500;
  }
  &__product-price-container {
    display: flex;
    font-weight: 700;
    margin-top: 14px;
  }

  &__product-price {
    color: #313038;
  }
  &__product-price-old {
    color: #676970;
    text-decoration: line-through;
    margin-left: 16px;
  }

  &__product-action-bar {
    margin-top: auto;
    padding: 8px;
    padding-top: 0;
    // margin-top: 14px;
    // align-self: flex-end;
    // outline: 1px solid red;
    // background-color: #f6f7f9;
    // padding: 14px 16px;
    // border-radius: 8px;
  }

  &__product-quick-add-btn {
    background-color: #f6f7f9;
    padding: 14px 16px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    font-weight: 700;
  }

  &__product-change-qty-btn {
    display: none;
    background-color: #f6f7f9;
    padding: 14px 16px;
    border-radius: 8px;
    display: flex;
    font-weight: 700;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  &__product-plus-trigger {
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
  }
  &__product-minus-trigger {
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
  }
}
