.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  &.active {
    display: flex;
  }

  &__window {
    // margin: 1rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 100%;
    // background-clip: padding-box;
    overflow-y: auto;
    // scroll-padding-bottom: 100px;
  }
  &__header {
    display: flex;
    // align-items: flex-start;
    padding: 20px 16px;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
    flex-shrink: 0;
    @include font-averta;
    @include font-size-8;

    font-weight: 700;
  }

  &__header-left {
    display: flex;
    align-items: center;
  }
  &__header-right {
    display: flex;
    align-items: center;
    padding-left: 10px;
    margin-left: auto;
  }
  &__body {
    flex-grow: 1;
  }
  &__action {
    user-select: none;
    transform: translate3d(0, 0, 0);
    // sticky so it doesnt overlap desktop scrollbar
    position: sticky;
    bottom: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    display: flex;
    flex-shrink: 0;
  }
}
