.payment-type {
  border-bottom: 1px solid #eaebec;
  &__option-header {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
  }
  &__option-header-top {
    color: #676970;
    @include font-size-2;

    font-weight: 500;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    transition: $trans;
    opacity: 1;
    .is-active & {
      opacity: 0;
    }
    &.has-error {
      color: #ec5176;
    }
  }
  &__option-header-bottom {
    font-weight: 700;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    transition: $trans;
    opacity: 1;
    .is-active & {
      opacity: 0;
    }
  }

  &__option-header-bottom-inner {
    display: flex;
    margin-top: 6px;
  }

  &__option-header-opened-container {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  &__option-header-opened-copy {
    @include font-size-2;

    font-weight: 500;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    transition: $trans;
    opacity: 0;
    .is-active & {
      opacity: 1;
    }
  }

  &__button {
    width: 90px;
    height: 120px;
    background-color: #fff;
    border-radius: 8px;
    position: relative;
    display: flex;
    &--active {
      background-color: #5a88ff;
      color: #fff;
    }
    &--expired {
      background-color: #ec5176;
    }
  }

  &__button-checkmark {
    display: none;
    position: absolute;
    top: 6px;
    left: 6px;
    width: 26px;
    height: 26px;
  }
  &__button--active &__button-checkmark {
    display: block;
  }
  &__button-image {
    position: absolute;
    width: 60px;
    height: 40px;
    top: 38px;
    bottom: 42px;
    left: 15px;
    right: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__button--expired &__button-image-dark,
  &__button--expired &__button-image-light {
    max-width: 18px;
  }

  &__button-image-dark {
    display: block;
  }
  &__button-image-light {
    display: none;
  }

  &__button--active &__button-image path {
    stroke: white;
  }

  &__button--active &__button-image-dark {
    display: none;
  }
  &__button--active &__button-image-light {
    display: block;
  }

  &__button-copy {
    margin-top: auto;
    margin-bottom: 6px;
    flex-grow: 1;
    text-align: center;
    font-weight: 700;
    @include font-size-1;
  }
}
