.personal-details {
  &__subtitle {
    @include font-size-2;

    font-weight: 500;
    color: #676970;
  }
  &__phone {
    position: relative;
  }
  &__phone-trigger {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
  }
}
