.previous-order {
  // MODAL
  &__status {
    display: flex;
    padding: 10px 16px;
  }
  &__status--completed {
    background-color: #e9fffc;
    color: #2b8e81;
  }
  &__status--cancelled {
    background-color: #f6e7ed;
    color: #ec5176;
  }

  &__rate {
    padding: 20px 16px;
  }
  &__rate-btn {
  }

  &__rate-options {
    display: flex;
    flex-direction: column;
    padding: 10px 16px;
  }
  &__rate-options-item {
    display: flex;
    flex-direction: column;
    background: #f6f7f9;
    border-radius: 10px;
    padding: 16px;
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
    &--selected {
      background-color: #fff3d3;
    }
  }
  &__rate-options-item-name {
  }
  &__rate-options-item-description {
  }
  &__rate-options-item-emojis {
    display: flex;
    justify-content: space-between;
  }
  &__rate-options-item-emoji-parent {
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    .previous-order__rate-options-item--selected & {
      opacity: 0.4;
    }
    &--selected {
      background-color: #ffd97a;
      opacity: 1 !important;
    }
  }
  &__rate-options-item-emoji {
    max-width: 40px;
    height: auto;
  }
}
