.primary-btn {
  padding: 18px 16px;
  background: #5a88ff;
  color: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: $trans;
  font-weight: 700;
  &--disabled {
    background: #8eaeff;
    pointer-events: none;
  }

  &--fake-disabled {
    background: #8eaeff;
  }

  &--secondary {
    background-color: #fff;
    border: 2px solid #e7edfa;
    color: black;
  }

  &--fixed-w-150 {
    width: 150px;
  }

  &__icon {
  }
  &__copy {
  }
}
