.primary-btn {
  padding: 18px 16px;
  background: #5a88ff;
  color: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: $trans;
  &--disabled {
    background: rgba(90, 136, 255, 0.6);
    pointer-events: none;
  }

  &__icon {
  }
  &__copy {
  }
}
