body {
  // overflow: hidden;
}
.product-modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  display: flex;
  align-items: flex-start;
  // display: none;

  &__window {
    width: 100%;
    max-height: 100%;
    overflow-y: scroll;
    outline: 1px solid red;
    background-color: white;
  }

  &__header {
    display: flex;
    align-items: flex-start;
    padding: 20px 16px;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
  }
  &__header-left {
  }
  &__header-right {
    padding-left: 10px;
    margin-left: auto;
  }

  &__body {
    padding-bottom: 60px;
  }

  &__title {
    @include font-averta;
    @include font-size-8;

    font-weight: 700;
  }

  //Slider
  &__slider {
  }
  &__slide {
    height: 190px;
  }
  &__slide-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swiper-pagination-bullets {
    text-align: right;
  }

  .swiper-container-horizontal
    > .swiper-pagination-bullets
    .swiper-pagination-bullet {
    background: #fff;
    opacity: 0.2;
    width: 4px;
    height: 4px;
    border-radius: 100px;
    margin: 0;
    margin-right: 3px;
    transition: $trans;
    &:last-child {
      margin-right: 16px;
    }
  }
  .swiper-container-horizontal
    > .swiper-pagination-bullets
    .swiper-pagination-bullet-active {
    opacity: 1;
    width: 14px;
    border-radius: 100px;
  }
  &__description {
    padding: 16px;
    font-weight: 500;
    @include font-size-4;
  }
}
