body {
  // overflow: hidden;
}
.product-modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5000;
  display: flex;
  align-items: flex-start;
  // display: none;

  &__window {
    width: 100%;
    max-height: 100%;
    overflow-y: scroll;
    // outline: 1px solid red;
    background-color: white;
  }

  &__header {
    display: flex;
    align-items: flex-start;
    padding: 20px 16px;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
  }
  &__header-left {
  }
  &__header-right {
    padding-left: 10px;
    margin-left: auto;
  }

  &__body {
    // used because we have the add to cart and qty buttons
    padding-bottom: 100px;
  }

  &__title {
    @include font-averta;
    @include font-size-8;

    font-weight: 700;
  }

  //Slider
  &__slider {
  }
  &__slide {
    height: 190px;
  }
  &__slide-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swiper-pagination-bullets {
    text-align: right;
  }

  .swiper-container-horizontal
    > .swiper-pagination-bullets
    .swiper-pagination-bullet {
    background: #fff;
    opacity: 0.2;
    width: 4px;
    height: 4px;
    border-radius: 100px;
    margin: 0;
    margin-right: 3px;
    transition: $trans;
    &:last-child {
      margin-right: 16px;
    }
  }
  .swiper-container-horizontal
    > .swiper-pagination-bullets
    .swiper-pagination-bullet-active {
    opacity: 1;
    width: 14px;
    border-radius: 100px;
  }
  &__description {
    padding: 16px;
    font-weight: 500;
    @include font-size-4;
  }

  //group options and variant
  &__options {
  }
  &__option {
    // outline: 1px solid red;
    border-bottom: 1px solid #eaebec;
  }
  &__option-header {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    // .is-active & {
    //   display: none;
    // }
  }
  &__option-header-top {
    color: #676970;
    @include font-size-2;

    font-weight: 500;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    transition: $trans;
    opacity: 1;
    .is-active & {
      opacity: 0;
    }
    &.has-error {
      color: #ec5176;
    }
  }
  &__option-header-bottom {
    font-weight: 700;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    transition: $trans;
    opacity: 1;
    .is-active & {
      opacity: 0;
    }
  }

  &__option-header-opened-container {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  &__option-header-opened-copy {
    @include font-size-2;

    font-weight: 500;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    transition: $trans;
    opacity: 0;
    .is-active & {
      opacity: 1;
    }
  }

  &__option-items {
  }
  &__option-item {
    display: flex;
    padding: 14px 16px;
    @include font-size-4;

    font-weight: 700;
    border-bottom: 1px solid #eaebec;
    transition: $trans;
    &:last-child {
      border-bottom: none;
    }
    &--active {
      color: #5a88ff;
    }
  }

  &__option-item-left {
    display: flex;
  }
  &__option-item-right {
    padding-left: 8px;
    margin-left: auto;
    flex-shrink: 0;
  }

  &__option-icon {
    width: 26px;
    height: 26px;
    background-color: #e7edfa;
    border-radius: 50%;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
  }
  &__option-icon-inner {
    width: 12px;
    height: 12px;
    border: 1px solid #5a88ff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: $trans;

    img {
      position: relative;
      transform: translateY(1px);
      opacity: 0;
      transition: $trans;
    }

    .product-modal__option-item--active & {
      width: 16px;
      height: 16px;
      background-color: #5a88ff;

      img {
        opacity: 1;
      }
    }
  }
  &__option-item-price {
    display: flex;
  }
  // ADD TO CART
  &__add-to-cart {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    display: flex;
    color: white;
    font-weight: 700;

    &-inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 16px;
      width: 100%;
    }
  }

  &__add-to-cart-qty {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 16px;
    background: #5a88ff;
    box-shadow: 0 10px 20px rgba(90, 136, 255, 0.3);
    border-radius: 10px;
    margin-right: 30px;
    flex-grow: 1;
  }

  &__add-to-cart-qty-minus {
    width: 14px;
    height: 14px;
  }
  &__add-to-cart-qty-minus-img {
    max-width: 100%;
    height: auto;
  }
  &__add-to-cart-qty-plus {
    width: 14px;
    height: 14px;
  }
  &__add-to-cart-qty-plus-img {
    max-width: 100%;
    height: auto;
  }
  &__add-to-cart-qty-value {
  }

  &__add-to-cart-btn {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 16px;
    background: #5a88ff;
    box-shadow: 0 10px 20px rgba(90, 136, 255, 0.3);
    border-radius: 10px;
  }
  &__add-to-cart-btn-icon {
    width: 22px;
    height: 22px;
  }
  &__add-to-cart-btn-icon-img {
    max-width: 100%;
    height: auto;
  }
  &__add-to-cart-btn-price {
  }
}
