.search-and-filters {
  padding: 10px 16px;
  margin: 16px 0;

  &__container {
    display: flex;
  }

  &__search {
    flex-grow: 1;
    margin-right: 10px;
    background: #f6f7f9;
    border-radius: 8px;
    padding: 13px 10px;
  }
  &__search-box {
    display: flex;
  }
  &__search-box-img {
    width: 22px;
    height: 22px;
    align-self: center;
    margin-right: 10px;
  }
  &__search-box-input {
    outline: 0;
    border: 0;
    background-color: transparent;
    font-weight: 500;
    color: #000;
    width: 100%;
    &::placeholder {
      font-weight: 500;
      color: #000;
    }
  }

  &__search-box-close-img {
    width: 22px;
    height: 22px;
  }
  &__filters {
    background: #f6f7f9;
    // width: 105px;
    border-radius: 8px;
    padding: 13px 10px;
  }
  &__filters-box {
    display: flex;
  }
  &__filters-box-img {
    width: 22px;
    height: 22px;
    align-self: center;
    margin-right: 10px;
  }
  &__filters-box-copy {
  }
}
