.snippet {
  &__header {
    display: flex;
    align-items: center;
    padding: 10px 0;
  }
  &__title {
    @include font-averta;
    @include font-size-5;

    font-weight: 700;
  }

  &__description {
    padding: 10px 0;
    @include font-size-4;

    font-weight: 500;
  }
  &__btn {
    @include font-size-2;

    font-weight: 500;
    padding-left: 16px;
    margin-left: auto;
  }

  &__swiper {
    padding-top: 18px;
    padding-bottom: 28px;

    // padding-left: 16px;
    // // padding-right: 16px;
    // overflow-x: auto;
    // .card {
    //   margin-right: 16px;
    // }
  }
  .swiper-slide {
    width: auto;
  }
}
