.stores {
  &__list {
    padding-top: 18px;
    padding-bottom: 18px;
  }
  &__list-item {
    margin-bottom: 24px;
    display: block;
    padding-left: 16px;
    padding-right: 16px;
  }

  &__empty {
    padding: 10px;
    background-color: red;
  }
}
