.user-cards {
  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 14px;
  }
  &__item {
    background-color: #f6f7f9;
    padding: 16px;
    max-width: 310px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 22px;
    &--expired {
      background-color: #ec5176;
      color: #fff;
    }
  }
  &__item-header {
    display: flex;
    align-items: center;
  }
  &__item-header-title {
    @include font-size-6;
    @include font-averta;

    font-weight: 600;
  }
  &__item-header-icon {
    margin-left: auto;
  }
  &__item-number {
    margin-top: 34px;
    margin-bottom: 43px;
    @include font-averta;
    @include font-size-7;

    font-weight: 700;
    letter-spacing: 0.34em;
    text-align: center;
  }
  &__item-footer {
    display: flex;
    align-items: center;
    font-weight: 700;
  }
  &__item-footer-name {
  }
  &__item-footer-expiration {
    margin-left: auto;
  }
}
