.card {
  // background-color: red;
  display: inline-flex;
  flex-direction: column;
  width: 200px;
  border-radius: 8px;
  overflow: hidden;

  &__top {
    position: relative;
  }
  &__img {
    // background-color: green;
    display: block;
    object-fit: cover;
    height: 216px;
    width: 100%;

    &--short {
      height: 150px;
    }
  }

  &__top-overlay {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &__top-overlay-inner {
    display: flex;
    width: 100%;
    padding: 8px;
    align-items: flex-start;
  }
  &__badges {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  &__badge {
    padding: 8px;
    position: relative;
    overflow: hidden;
    z-index: 0;
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 700;

    .card--dark & {
      color: white;
    }

    &:first-child {
      margin-right: 6px;
    }

    &::before {
      border-radius: 6px;
      z-index: -1;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.8);

      .card--dark & {
        background-color: rgba(0, 0, 0, 0.8);

        // if we support backdrop filter we add it with a lower bg color opacity
        @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
          backdrop-filter: blur(24px);
          background-color: rgba(0, 0, 0, 0.4);
        }
      }

      // if we support backdrop filter we add it with a lower bg color opacity
      @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
        backdrop-filter: blur(24px);
        background-color: rgba(255, 255, 255, 0.4);
      }
    }
  }

  &__badge-icon {
    width: 18px;
    height: 18px;
    margin-right: 6px;
    // background-color: red;
  }
  &__badge-icon-svg {
    width: 100%;
    height: auto;
  }
  //light card
  &__badge-icon-svg--dark {
    display: block;
  }
  &__badge-icon-svg--light {
    display: none;
  }

  //dark card
  .card--dark &__badge-icon-svg--dark {
    display: none;
  }
  .card--dark &__badge-icon-svg--light {
    display: block;
  }

  &__badge-copy {
  }
  &__bottom {
    padding: 20px;
    background-color: red;
  }
}
