//Normalize.css + 3rd party
@import 'normalize.css/normalize';
@import 'swiper/swiper-bundle';

// Main
@import './base/global.scss';
@import './base/spacings.scss';
@import './base/colors.scss';
@import './base/fonts.scss';
@import './base/containers.scss';

// Components
@import './components/header.scss';
@import './components/footer.scss';
@import './components/card.scss';
@import './components/menu.scss';
@import './components/categories.scss';
@import './components/search-and-filters.scss';
@import './components/ad-banner.scss';
@import './components/food-categories.scss';
@import './components/delivery-btn.scss';
@import './components/snippet.scss';
@import './components/stores.scss';
@import './components/accordion.scss';
@import './components/table.scss';
