@import 'swiper/swiper-bundle';

html {
  font-size: 10px;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #000;
  margin: 0;
  padding: 0;
  position: relative;
}

.prototype {
  display: none;
  .swiper-container {
    width: 100%;
  }

  .swiper-slide {
    text-align: center;
    display: inline-block;
    width: auto;
  }
}

main {
  margin: 20rem;
}
