<!-- partials the exists to all pages -->

<!-- LOADER -->
<!-- partial:./delivery-loader.html -->
<!-- partial -->

<!-- ADDRESS MODALS -->
<!-- partial:./address-modals.html -->
<!-- partial -->

<!-- CONNECT MODALS -->
<!-- partial:./connect-modals.html -->
<!-- partial -->

<!-- HANDLEBARS TEMPLATES -->
<!-- partial:./templates/handlebars-templates.html -->
<!-- partial -->

<!-- VERIFY NUMBER MODALS -->
<!-- partial:./verify-number.html -->
<!-- partial -->

<!-- TIMESLOT -->
<!-- partial:./timeslot-modal.html -->
<!-- partial -->

<!-- ALCOHOL AND TOBACCO -->
<!-- partial:./alcohol-and-tobacco-modals.html -->
<!-- partial -->
