<!-- CHOOSE ADDRESS -->
<div class="choose-address">
  <div class="choose-address__window">
    <!-- HEADER -->
    <div class="choose-address__header">
      <div class="choose-address__header-left">
        <div class="choose-address__title">Διευθύνσεις</div>
      </div>
      <div class="choose-address__header-right">
        <div class="choose-address__close-btn">
          <img
            src="./images/icons/modal-close.svg"
            alt=""
            class="choose-address__close-btn-img"
          />
        </div>
      </div>
    </div>
    <!-- STATUS BAR -->
    <div class="choose-address__status">
      <!-- ICON -->
      <div class="choose-address__status-icon">
        <img
          src="./images/icons/track.svg"
          alt=""
          class="choose-address__status-icon-img"
        />
      </div>
      <!-- TAG -->
      <div class="choose-address__status-tag">ΣΠΙΤΙ</div>
      <!-- TIME -->
      <div class="choose-address__status-time">20 - 25 λεπτά</div>
    </div>
    <!-- ADDRESSES -->
    <div class="choose-address__list">
      <!-- BUTTON -->
      <div class="choose-address__options-button active">
        <div class="choose-address__options-button-icon">
          <div class="choose-address__options-button-icon-inner">
            <img src="./images/icons/checkmark-light.svg" alt="" />
          </div>
        </div>
        <div class="choose-address__options-button-name">
          Evripidou 28, 3ος όροφος, Reborrn
        </div>
      </div>
      <!-- BUTTON -->
      <div class="choose-address__options-button">
        <div class="choose-address__options-button-icon">
          <div class="choose-address__options-button-icon-inner">
            <img src="./images/icons/checkmark-light.svg" alt="" />
          </div>
        </div>
        <div class="choose-address__options-button-name">
          Chiou 10, 1ος όροφος, Κλαδάς
        </div>
      </div>
      <!-- BUTTON -->
      <div class="choose-address__options-button">
        <div class="choose-address__options-button-icon">
          <div class="choose-address__options-button-icon-inner">
            <img src="./images/icons/checkmark-light.svg" alt="" />
          </div>
        </div>
        <div class="choose-address__options-button-name">
          Kirillou Methodiou 22, 5ος όροφος, Γαβαλάς
        </div>
      </div>
      <!-- BUTTON -->
      <div class="choose-address__options-button">
        <div class="choose-address__options-button-icon">
          <div class="choose-address__options-button-icon-inner">
            <img src="./images/icons/checkmark-light.svg" alt="" />
          </div>
        </div>
        <div class="choose-address__options-button-name">
          Kirillou Methodiou 22, 5ος όροφος, Γαβαλάς
        </div>
      </div>
      <!-- BUTTON -->
      <div class="choose-address__options-button">
        <div class="choose-address__options-button-icon">
          <div class="choose-address__options-button-icon-inner">
            <img src="./images/icons/checkmark-light.svg" alt="" />
          </div>
        </div>
        <div class="choose-address__options-button-name">
          Kirillou Methodiou 22, 5ος όροφος, Γαβαλάς
        </div>
      </div>
      <!-- BUTTON -->
      <div class="choose-address__options-button">
        <div class="choose-address__options-button-icon">
          <div class="choose-address__options-button-icon-inner">
            <img src="./images/icons/checkmark-light.svg" alt="" />
          </div>
        </div>
        <div class="choose-address__options-button-name">
          Kirillou Methodiou 22, 5ος όροφος, Γαβαλάς
        </div>
      </div>
      <!-- BUTTON -->
      <div class="choose-address__options-button">
        <div class="choose-address__options-button-icon">
          <div class="choose-address__options-button-icon-inner">
            <img src="./images/icons/checkmark-light.svg" alt="" />
          </div>
        </div>
        <div class="choose-address__options-button-name">
          Kirillou Methodiou 22, 5ος όροφος, Γαβαλάς
        </div>
      </div>
    </div>
    <!-- ADD -->
    <div class="choose-address__add-new">
      <div class="choose-address__add-new-btn">
        <div class="choose-address__add-new-btn-icon">
          <img
            src="./images/icons/add-address.svg"
            alt=""
            class="choose-address__add-new-btn-icon-img"
          />
        </div>
        <div class="choose-address__add-new-btn-copy">Προσθήκη διεύθυνσης</div>
      </div>
    </div>
  </div>
</div>

<!-- ADD ADDRESS AUTOSUGGEST  -->
<div class="modal active add-address__autosuggest-modal">
  <!-- THE ACTUAL WINDOW -->
  <div class="modal__window">
    <!-- HEADER -->
    <div class="modal__header">
      <div class="modal__header-left">Προσθήκη διεύθυνσης</div>
      <div class="modal__header-right">
        <div class="js-close-modal">
          <img src="./images/icons/modal-close.svg" alt="" class="" />
        </div>
      </div>
    </div>
    <!-- BODY -->
    <div class="modal__body">
      <!-- ABSOLUTE ILLUSTRATION -->
      <div class="add-address__map-illustration">
        <img
          src="./images/map.svg"
          alt=""
          class="add-address__map-illustration-img"
        />
      </div>
      <!-- AUTOSUGGEST INPUT -->
      <div class="add-address__autosuggest container-a py-20">
        <div class="add-address__autosuggest-input-container">
          <!-- INPUT -->
          <input
            class="add-address__autosuggest-input"
            type="text"
            id=""
            name=""
            placeholder="Βάλε τη διεύθυνσή σου"
          />
          <!-- ICON -->
          <img
            src="./images/icons/search.svg"
            alt=""
            class="add-address__autosuggest-input-icon img-fluid mw-22 mr-10"
          />

          <!-- LOADER ICON -->
          <div class="add-address__autosuggest-input-loader-icon">
            <svg
              version="1.1"
              id="loader-1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              x="0px"
              y="0px"
              width="40px"
              height="40px"
              viewBox="0 0 50 50"
              style="enable-background: new 0 0 50 50"
              xml:space="preserve"
            >
              <path
                fill="#000"
                d="M25.251,6.461c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615V6.461z"
              >
                <animateTransform
                  attributeType="xml"
                  attributeName="transform"
                  type="rotate"
                  from="0 25 25"
                  to="360 25 25"
                  dur="0.6s"
                  repeatCount="indefinite"
                />
              </path>
            </svg>
          </div>
          <!-- RESULTS -->
          <div class="add-address__autosuggest-results">
            <!-- RESULT ITEM -->
            <div class="add-address__autosuggest-result">
              <img
                class="img-fluid mw-18"
                src="./images/icons/pin-blue.svg"
                alt=""
              />
              <div>
                <span>Main</span> <span class="color-dark-gray">Secondary</span>
              </div>
            </div>
            <!-- RESULT ITEM -->
            <div class="add-address__autosuggest-result">
              <img
                class="img-fluid mw-18"
                src="./images/icons/pin-blue.svg"
                alt=""
              />
              <div>
                <span>Main</span> <span class="color-dark-gray">Secondary</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- GEOLOCATION BTN -->
      <div class="add-address__trackme">
        <img src="./images/icons/trackme.svg" alt="" />
      </div>
    </div>
    <!-- STICKY ACTION -->
    <div class="modal__action">
      <div class="py-20 px-16 w-100">
        <div class="primary-btn js-action-btn">Παράγγειλε τώρα</div>
      </div>
    </div>
  </div>
</div>

<!-- ADD ADDRESS VERIFY  -->
<div class="modal add-address__verify-modal">
  <!-- THE ACTUAL WINDOW -->
  <div class="modal__window">
    <!-- HEADER -->
    <div class="modal__header">
      <div class="modal__header-left">
        <img
          src="./images/icons/left-arrow.svg"
          alt=""
          class="mr-10 js-previous-step"
        />
        <div>Προσθήκη διεύθυνσης</div>
      </div>
      <div class="modal__header-right">
        <div class="js-close-modal">
          <img src="./images/icons/modal-close.svg" alt="" class="" />
        </div>
      </div>
    </div>
    <!-- BODY -->
    <div class="modal__body">
      <!-- MAP CONTAINER -->
      <div class="add-address__map-container">
        <div class="add-address__map"></div>
        <div class="add-address__map-info">
          Move the pin to your exact location
        </div>
      </div>

      <!-- VERIFY INPUTS -->
      <div class="add-address__verify-inputs">
        <!-- CITY -->
        <div class="form-floating">
          <input
            type="text"
            class="form-control js-city"
            id="floatingInput"
            placeholder="placeholder"
          />
          <label for="floatingInput">Πόλη</label>
        </div>
        <!-- ROUTE -->
        <div class="form-floating">
          <input
            type="text"
            class="form-control js-street-name"
            id="floatingInput"
            placeholder="placeholder"
          />
          <label for="floatingInput">Οδός</label>
        </div>
        <!-- NUMBER AND POSTAL -->
        <div class="add-address__verify-inputs-number-postal">
          <!-- NUMBER -->
          <div class="form-floating">
            <input
              type="text"
              class="form-control js-street-number"
              id="floatingInput"
              placeholder="placeholder"
            />
            <label for="floatingInput">Αριθμός</label>
          </div>
          <!-- POSTAL -->
          <div class="form-floating">
            <input
              type="text"
              class="form-control js-postal"
              id="floatingInput"
              placeholder="placeholder"
            />
            <label for="floatingInput">T.K.</label>
          </div>
        </div>
        <!-- ROUTE -->
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="floatingInput"
            placeholder="placeholder"
          />
          <label for="floatingInput">Κουδούνι</label>
        </div>
      </div>
    </div>
    <!-- STICKY ACTION -->
    <div class="modal__action">
      <div class="py-20 px-16 w-100">
        <div class="primary-btn js-action-btn">Αποθήκευση</div>
      </div>
    </div>
  </div>
</div>
