<div class="address-trigger">
  <div class="accordion__container accordion__container--smaller">
    <div class="accordion__item">
      <div class="accordion__header">
        <div class="delivery-type__option-header">
          <!-- TOP AND BOTTOM COPY -->
          <div class="delivery-type__option-header-top">
            Σπίτι ― Χρόνος παράδοσης ~ 20/25'
          </div>
          <div class="delivery-type__option-header-bottom">
            <div>Evripidou 28, 3ος όροφος, Reborrn</div>
            <!-- <div class="d-flex align-items-center">
              <img class="mr-6" src="./images/icons/no-address.svg" alt="" />
              <div>Προσθήκη διεύθυνσης</div>
            </div> -->
          </div>
          <div class="delivery-type__option-header-opened-container">
            <div class="delivery-type__option-header-opened-copy">
              Σπίτι ― Χρόνος παράδοσης ~ 20/25'
            </div>
          </div>
        </div>
        <div class="accordion__right-side">
          <div class="accordion__header-arrow">
            <img src="./images/icons/accordion-arrow.svg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
