<!-- CHOOSE ADDRESS -->
<div class="choose-address">
  <div class="choose-address__window">
    <!-- HEADER -->
    <div class="choose-address__header">
      <div class="choose-address__header-left">
        <div class="choose-address__title">Διευθύνσεις</div>
      </div>
      <div class="choose-address__header-right">
        <div class="choose-address__close-btn">
          <img
            src="./images/icons/modal-close.svg"
            alt=""
            class="choose-address__close-btn-img"
          />
        </div>
      </div>
    </div>

    <!-- ADDRESSES -->
    <div class="choose-address__list">
      <!-- BUTTON -->
      <div
        class="choose-address__options-button active"
        data-street="sadf"
        data-number="12"
        data-postal="12322"
        data-city="Athens"
        data-state="state"
        data-lat="321.54"
        data-lng="123.232"
        data-floor="5"
        data-door="fos"
        data-desc="SPITI"
      >
        <div class="choose-address__options-button-icon">
          <div class="choose-address__options-button-icon-inner">
            <img src="./images/icons/checkmark-light.svg" alt="" />
          </div>
        </div>
        <div class="choose-address__options-button-name">
          [Active] Evripidou 28, 3ος όροφος, Reborrn
        </div>
      </div>
      <!-- BUTTON -->
      <div
        class="choose-address__options-button"
        data-street="sadf"
        data-number="12"
        data-postal="12322"
        data-city="Athens"
        data-state="state"
        data-lat="321.54"
        data-lng="123.232"
        data-floor="5"
        data-door="fos"
        data-desc="SPITI"
      >
        <div class="choose-address__options-button-icon">
          <div class="choose-address__options-button-icon-inner">
            <img src="./images/icons/checkmark-light.svg" alt="" />
          </div>
        </div>
        <div class="choose-address__options-button-name">
          Chiou 10, 1ος όροφος, Κλαδάς
        </div>
      </div>
      <!-- BUTTON -->
      <div
        class="choose-address__options-button"
        data-street="sadf"
        data-number="12"
        data-postal="12322"
        data-city="Athens"
        data-state="state"
        data-lat="321.54"
        data-lng="123.232"
        data-floor="5"
        data-door="fos"
        data-desc="SPITI"
      >
        <div class="choose-address__options-button-icon">
          <div class="choose-address__options-button-icon-inner">
            <img src="./images/icons/checkmark-light.svg" alt="" />
          </div>
        </div>
        <div class="choose-address__options-button-name">
          Kirillou Methodiou 22, 5ος όροφος, Γαβαλάς
        </div>
      </div>
      <!-- BUTTON -->
      <div
        class="choose-address__options-button"
        data-street="sadf"
        data-number="12"
        data-postal="12322"
        data-city="Athens"
        data-state="state"
        data-lat="321.54"
        data-lng="123.232"
        data-floor="5"
        data-door="fos"
        data-desc="SPITI"
      >
        <div class="choose-address__options-button-icon">
          <div class="choose-address__options-button-icon-inner">
            <img src="./images/icons/checkmark-light.svg" alt="" />
          </div>
        </div>
        <div class="choose-address__options-button-name">
          Kirillou Methodiou 22, 5ος όροφος, Γαβαλάς
        </div>
      </div>
      <!-- BUTTON -->
      <div
        class="choose-address__options-button"
        data-street="sadf"
        data-number="12"
        data-postal="12322"
        data-city="Athens"
        data-state="state"
        data-lat="321.54"
        data-lng="123.232"
        data-floor="5"
        data-door="fos"
        data-desc="SPITI"
      >
        <div class="choose-address__options-button-icon">
          <div class="choose-address__options-button-icon-inner">
            <img src="./images/icons/checkmark-light.svg" alt="" />
          </div>
        </div>
        <div class="choose-address__options-button-name">
          Kirillou Methodiou 22, 5ος όροφος, Γαβαλάς
        </div>
      </div>
      <!-- BUTTON -->
      <div
        class="choose-address__options-button"
        data-street="sadf"
        data-number="12"
        data-postal="12322"
        data-city="Athens"
        data-state="state"
        data-lat="321.54"
        data-lng="123.232"
        data-floor="5"
        data-door="fos"
        data-desc="SPITI"
      >
        <div class="choose-address__options-button-icon">
          <div class="choose-address__options-button-icon-inner">
            <img src="./images/icons/checkmark-light.svg" alt="" />
          </div>
        </div>
        <div class="choose-address__options-button-name">
          Kirillou Methodiou 22, 5ος όροφος, Γαβαλάς
        </div>
      </div>
      <!-- BUTTON -->
      <div
        class="choose-address__options-button"
        data-street="sadf"
        data-number="12"
        data-postal="12322"
        data-city="Athens"
        data-state="state"
        data-lat="321.54"
        data-lng="123.232"
        data-floor="5"
        data-door="fos"
        data-desc="SPITI"
      >
        <div class="choose-address__options-button-icon">
          <div class="choose-address__options-button-icon-inner">
            <img src="./images/icons/checkmark-light.svg" alt="" />
          </div>
        </div>
        <div class="choose-address__options-button-name">
          Kirillou Methodiou 22, 5ος όροφος, Γαβαλάς
        </div>
      </div>
    </div>
    <!-- ADD -->
    <div class="choose-address__add-new">
      <div class="choose-address__add-new-btn">
        <div class="choose-address__add-new-btn-icon">
          <img
            src="./images/icons/add-address.svg"
            alt=""
            class="choose-address__add-new-btn-icon-img"
          />
        </div>
        <div class="choose-address__add-new-btn-copy">Προσθήκη διεύθυνσης</div>
      </div>
    </div>
  </div>
</div>

<!-- ADD ADDRESS AUTOSUGGEST  -->
<div class="modal add-address__autosuggest-modal">
  <!-- THE ACTUAL WINDOW -->
  <div class="modal__window">
    <!-- HEADER -->
    <div class="modal__header">
      <div class="modal__header-left">Προσθήκη διεύθυνσης</div>
      <div class="modal__header-right">
        <div class="js-close-modal">
          <img src="./images/icons/modal-close.svg" alt="" class="" />
        </div>
      </div>
    </div>
    <!-- BODY -->
    <div class="modal__body">
      <!-- ABSOLUTE ILLUSTRATION -->
      <div class="add-address__map-illustration">
        <img
          src="./images/map.svg"
          alt=""
          class="add-address__map-illustration-img"
        />
      </div>
      <!-- AUTOSUGGEST INPUT -->
      <div class="add-address__autosuggest container-a py-20">
        <div class="add-address__autosuggest-input-container">
          <!-- INPUT -->
          <input
            class="add-address__autosuggest-input"
            type="text"
            id=""
            name=""
            placeholder="Βάλε τη διεύθυνσή σου"
          />
          <!-- ICON -->
          <img
            src="./images/icons/search.svg"
            alt=""
            class="add-address__autosuggest-input-icon img-fluid mw-22 mr-10"
          />

          <!-- LOADER ICON -->
          <div class="add-address__autosuggest-input-loader-icon">
            <svg
              version="1.1"
              id="loader-1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              x="0px"
              y="0px"
              width="40px"
              height="40px"
              viewBox="0 0 50 50"
              style="enable-background: new 0 0 50 50"
              xml:space="preserve"
            >
              <path
                fill="#000"
                d="M25.251,6.461c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615V6.461z"
              >
                <animateTransform
                  attributeType="xml"
                  attributeName="transform"
                  type="rotate"
                  from="0 25 25"
                  to="360 25 25"
                  dur="0.6s"
                  repeatCount="indefinite"
                />
              </path>
            </svg>
          </div>
          <!-- RESULTS -->
          <div class="add-address__autosuggest-results">
            <!-- RESULT ITEM -->
            <div class="add-address__autosuggest-result">
              <img
                class="img-fluid mw-18"
                src="./images/icons/pin-blue.svg"
                alt=""
              />
              <div>
                <span>Main</span> <span class="color-dark-gray">Secondary</span>
              </div>
            </div>
            <!-- RESULT ITEM -->
            <div class="add-address__autosuggest-result">
              <img
                class="img-fluid mw-18"
                src="./images/icons/pin-blue.svg"
                alt=""
              />
              <div>
                <span>Main</span> <span class="color-dark-gray">Secondary</span>
              </div>
            </div>
            <!-- RESULT ITEM -->
            <div
              class="
                add-address__autosuggest-result
                add-address__autosuggest-result--no-result
                js-no-result
                align-items-center
              "
            >
              <img
                class="img-fluid mw-18 align-self-center"
                src="./images/icons/no-pin.svg"
                alt=""
              />
              <span>Δεν βρήκες διεύθυνση;</span>
              <span class="add-address__autosuggest-result-no-result-btn"
                >Πάτησε εδώ</span
              >
            </div>
          </div>
        </div>
      </div>
      <!-- GEOLOCATION BTN -->
      <div class="add-address__trackme">
        <img src="./images/icons/trackme.svg" alt="" />
      </div>
    </div>
    <!-- STICKY ACTION -->
    <div class="modal__action">
      <div class="py-20 px-16 w-100">
        <div class="primary-btn js-action-btn">Παράγγειλε τώρα</div>
      </div>
    </div>
  </div>
</div>

<!-- ADD ADDRESS VERIFY  -->
<div class="modal add-address__verify-modal">
  <!-- THE ACTUAL WINDOW -->
  <div class="modal__window">
    <!-- HEADER -->
    <div class="modal__header">
      <div class="modal__header-left">
        <img
          src="./images/icons/left-arrow.svg"
          alt=""
          class="mr-10 js-previous-step"
        />
        <div>Προσθήκη διεύθυνσης</div>
      </div>
      <div class="modal__header-right">
        <div class="js-close-modal">
          <img src="./images/icons/modal-close.svg" alt="" class="" />
        </div>
      </div>
    </div>
    <!-- BODY -->
    <div class="modal__body">
      <!-- MAP CONTAINER -->
      <div class="add-address__map-container">
        <div class="add-address__map"></div>
        <div class="add-address__map-info">
          Move the pin to your exact location
        </div>
      </div>

      <!-- VERIFY INPUTS -->
      <div class="add-address__verify-inputs">
        <!-- CITY -->
        <div class="form-floating">
          <input
            type="text"
            class="form-control js-city"
            id="floatingInput"
            placeholder="placeholder"
          />
          <label for="floatingInput">Πόλη</label>
        </div>
        <!-- ROUTE -->
        <div class="form-floating">
          <input
            type="text"
            class="form-control js-street-name"
            id="floatingInput"
            placeholder="placeholder"
          />
          <label for="floatingInput">Οδός</label>
        </div>
        <!-- NUMBER AND POSTAL -->
        <div class="add-address__verify-inputs-number-postal">
          <!-- NUMBER -->
          <div class="form-floating">
            <input
              type="text"
              class="form-control js-street-number"
              id="floatingInput"
              placeholder="placeholder"
            />
            <label for="floatingInput">Αριθμός</label>
          </div>
          <!-- POSTAL -->
          <div class="form-floating">
            <input
              type="text"
              class="form-control js-postal"
              id="floatingInput"
              placeholder="placeholder"
            />
            <label for="floatingInput">T.K.</label>
          </div>
        </div>
        <!-- ROUTE -->
        <div class="form-floating">
          <input
            type="text"
            class="form-control js-doorbell"
            id="floatingInput"
            placeholder="placeholder"
          />
          <label for="floatingInput">Κουδούνι</label>
        </div>

        <!-- FLOOR -->
        <div class="form-floating">
          <select name="" class="form-control js-floor">
            <option selected disabled value="">Επίλεξε όροφο</option>
            <option value="-1">Υπόγειο</option>
            <option value="0">Ισόγειο</option>
            <option value="0.5">Ημιόροφος</option>
            <option value="1">1-ος</option>
            <option value="2">2-ος</option>
            <option value="3">3-ος</option>
            <option value="4">4-ος</option>
            <option value="5">5-ος</option>
            <option value="6">6-ος</option>
            <option value="7">7-ος</option>
            <option value="8">8-ος</option>
            <option value="9">9-ος</option>
            <option value="10">10-ος</option>
            <option value="11">11-ος</option>
            <option value="12">12-ος</option>
            <option value="13">13-ος</option>
            <option value="14">14-ος</option>
            <option value="15">15-ος</option>
            <option value="16">16-ος</option>
            <option value="17">17-ος</option>
            <option value="18">18-ος</option>
            <option value="19">19-ος</option>
            <option value="20">20-ος</option>
            <option value="21">21-ος</option>
            <option value="22">22-ος</option>
            <option value="23">23-ος</option>
            <option value="24">24-ος</option>
            <option value="25">25-ος</option>
            <option value="26">26-ος</option>
            <option value="27">27-ος</option>
            <option value="28">28-ος</option>
          </select>
          <label for="floatingInput">Όροφος</label>
        </div>
      </div>
    </div>
    <!-- STICKY ACTION -->
    <div class="modal__action">
      <div class="py-20 px-16 w-100">
        <div class="primary-btn js-action-btn">Αποθήκευση</div>
      </div>
    </div>
  </div>
</div>

<!-- NOTIFICATION -->
<div class="add-address__notify-modal small-modal">
  <div class="small-modal__bg"></div>
  <div class="small-modal__window">
    <img
      src="./images/icons/login-close.svg"
      alt=""
      class="small-modal__close"
    />
    <div class="small-modal__title">Address Details</div>
    <img
      src="./images/illustrations/address-notify.svg"
      alt=""
      class="img-fluid mw-120 ml-auto mr-auto"
    />
    <div class="text-center px-16 mb-20">
      Please enter your address to see from which restaurants and stores we
      deliver to you
    </div>

    <div class="small-modal__actions">
      <div class="primary-btn js-action-btn">Where to deliver?</div>
    </div>
  </div>
</div>
