<!-- CHOOSE ADDRESS -->
<div class="choose-address">
  <div class="choose-address__window">
    <!-- HEADER -->
    <div class="choose-address__header">
      <div class="choose-address__header-left">
        <div class="choose-address__title">Διευθύνσεις</div>
      </div>
      <div class="choose-address__header-right">
        <div class="choose-address__close-btn">
          <img
            src="./images/icons/modal-close.svg"
            alt=""
            class="choose-address__close-btn-img"
          />
        </div>
      </div>
    </div>
    <!-- STATUS BAR -->
    <div class="choose-address__status">
      <!-- ICON -->
      <div class="choose-address__status-icon">
        <img
          src="./images/icons/track.svg"
          alt=""
          class="choose-address__status-icon-img"
        />
      </div>
      <!-- TAG -->
      <div class="choose-address__status-tag">ΣΠΙΤΙ</div>
      <!-- TIME -->
      <div class="choose-address__status-time">20 - 25 λεπτά</div>
    </div>
    <!-- ADDRESSES -->
    <div class="choose-address__list">
      <!-- BUTTON -->
      <div class="choose-address__options-button active">
        <div class="choose-address__options-button-icon">
          <div class="choose-address__options-button-icon-inner">
            <img src="./images/icons/checkmark-light.svg" alt="" />
          </div>
        </div>
        <div class="choose-address__options-button-name">
          Evripidou 28, 3ος όροφος, Reborrn
        </div>
      </div>
      <!-- BUTTON -->
      <div class="choose-address__options-button">
        <div class="choose-address__options-button-icon">
          <div class="choose-address__options-button-icon-inner">
            <img src="./images/icons/checkmark-light.svg" alt="" />
          </div>
        </div>
        <div class="choose-address__options-button-name">
          Chiou 10, 1ος όροφος, Κλαδάς
        </div>
      </div>
      <!-- BUTTON -->
      <div class="choose-address__options-button">
        <div class="choose-address__options-button-icon">
          <div class="choose-address__options-button-icon-inner">
            <img src="./images/icons/checkmark-light.svg" alt="" />
          </div>
        </div>
        <div class="choose-address__options-button-name">
          Kirillou Methodiou 22, 5ος όροφος, Γαβαλάς
        </div>
      </div>
      <!-- BUTTON -->
      <div class="choose-address__options-button">
        <div class="choose-address__options-button-icon">
          <div class="choose-address__options-button-icon-inner">
            <img src="./images/icons/checkmark-light.svg" alt="" />
          </div>
        </div>
        <div class="choose-address__options-button-name">
          Kirillou Methodiou 22, 5ος όροφος, Γαβαλάς
        </div>
      </div>
      <!-- BUTTON -->
      <div class="choose-address__options-button">
        <div class="choose-address__options-button-icon">
          <div class="choose-address__options-button-icon-inner">
            <img src="./images/icons/checkmark-light.svg" alt="" />
          </div>
        </div>
        <div class="choose-address__options-button-name">
          Kirillou Methodiou 22, 5ος όροφος, Γαβαλάς
        </div>
      </div>
      <!-- BUTTON -->
      <div class="choose-address__options-button">
        <div class="choose-address__options-button-icon">
          <div class="choose-address__options-button-icon-inner">
            <img src="./images/icons/checkmark-light.svg" alt="" />
          </div>
        </div>
        <div class="choose-address__options-button-name">
          Kirillou Methodiou 22, 5ος όροφος, Γαβαλάς
        </div>
      </div>
      <!-- BUTTON -->
      <div class="choose-address__options-button">
        <div class="choose-address__options-button-icon">
          <div class="choose-address__options-button-icon-inner">
            <img src="./images/icons/checkmark-light.svg" alt="" />
          </div>
        </div>
        <div class="choose-address__options-button-name">
          Kirillou Methodiou 22, 5ος όροφος, Γαβαλάς
        </div>
      </div>
    </div>
    <!-- ADD -->
    <div class="choose-address__add-new">
      <div class="choose-address__add-new-btn">
        <div class="choose-address__add-new-btn-icon">
          <img
            src="./images/icons/add-address.svg"
            alt=""
            class="choose-address__add-new-btn-icon-img"
          />
        </div>
        <div class="choose-address__add-new-btn-copy">Προσθήκη διεύθυνσης</div>
      </div>
    </div>
  </div>
</div>
