<!-- ALCOHOL -->
<div class="js-alcohol-modal small-modal">
  <div class="small-modal__bg"></div>
  <div class="small-modal__window">
    <div class="small-modal__title text-left">Απολαύστε υπεύθυνα</div>
    <img src="./images/illustrations/coupon.svg" alt="" class="img-fluid" />
    <p class="p-16">
      Σε περίπτωση που η παραγγελία περιέχει προϊόντα με αλκοόλ, η αγορά γίνετε
      με δική σου ευθύνη.
    </p>

    <div class="small-modal__actions">
      <div class="primary-btn js-action-btn">Ok</div>
    </div>
  </div>
</div>

<!-- TOBACCO -->
<div class="js-tobacco-modal small-modal">
  <div class="small-modal__bg"></div>
  <div class="small-modal__window">
    <div class="small-modal__title">Άνω τον 18</div>
    <img src="./images/illustrations/coupon.svg" alt="" class="img-fluid" />
    <p class="p-16">
      <div class="font-weight-700 mb-18">Είσαι 18 χρόνων η άνω και καπνιστής?</div>
      Η παρούσα κατηγορία αφορά σημείο προβολής και πώλησης καπνικών προϊόντων. Με την αποδοχή σου δηλώνης υπεύθυνα ότι είσαι άνω τον 18 και χρήστης καπνικών προϊόντων.
    </p>

    <div class="small-modal__actions small-modal__actions--no-margin-x">
      <div class="d-flex">
      <div class="primary-btn primary-btn--fixed-w-150 flex-shrink-0 mr-10 js-action-btn js-accept">Ναι</div>
      <div class="primary-btn w-100 primary-btn--secondary js-cancel">Όχι</div>
    </div>
    </div>
  </div>
</div>
