<section class="ad-banner">
  <div class="ad-banner__inner">
    <div class="ad-banner__item">
      <ins
        data-revive-zoneid="2"
        data-revive-shopid="1"
        data-revive-id="43cdfaaf5abc23c76c870872bc2f2b4d"
        data-revive-seq="1"
        id="revive-0-1"
        data-revive-loaded="1"
        style="text-decoration: none"
        ><a
          href="https://banners.ekioskys.gr/www/delivery/cl.php?bannerid=189&amp;zoneid=2&amp;sig=03787eddc0aacfe009b32833479b5c73de6cbdbf3f8678f1624a9cd2a1df2e4b&amp;oadest=https%3A%2F%2Fwww.ekioskys.gr%2Fcategory%2Fbeers"
          target="_top"
          ><img
            src="https://banners.ekioskys.gr/www/images/eac9136569f06107e83c740af0d22a67.webp"
            width="522"
            height="252"
            alt=""
            title=""
            border="0"
        /></a>
        <div
          id="beacon_6056ef6654"
          style="position: absolute; left: 0; top: 0; visibility: hidden"
        >
          <img
            src="https://banners.ekioskys.gr/www/delivery/lg.php?bannerid=189&amp;campaignid=142&amp;zoneid=2&amp;loc=https%3A%2F%2Fwww.ekioskys.gr%2F&amp;cb=6056ef6654"
            width="0"
            height="0"
            alt=""
            style="width: 0; height: 0"
          /></div
      ></ins>
    </div>
    <div class="ad-banner__item">
      <ins
        data-revive-zoneid="2"
        data-revive-shopid="1"
        data-revive-id="43cdfaaf5abc23c76c870872bc2f2b4d"
        data-revive-seq="1"
        id="revive-0-1"
        data-revive-loaded="1"
        style="text-decoration: none"
        ><a
          href="https://banners.ekioskys.gr/www/delivery/cl.php?bannerid=189&amp;zoneid=2&amp;sig=03787eddc0aacfe009b32833479b5c73de6cbdbf3f8678f1624a9cd2a1df2e4b&amp;oadest=https%3A%2F%2Fwww.ekioskys.gr%2Fcategory%2Fbeers"
          target="_top"
          ><img
            src="https://banners.ekioskys.gr/www/images/eac9136569f06107e83c740af0d22a67.webp"
            width="522"
            height="252"
            alt=""
            title=""
            border="0"
        /></a>
        <div
          id="beacon_6056ef6654"
          style="position: absolute; left: 0; top: 0; visibility: hidden"
        >
          <img
            src="https://banners.ekioskys.gr/www/delivery/lg.php?bannerid=189&amp;campaignid=142&amp;zoneid=2&amp;loc=https%3A%2F%2Fwww.ekioskys.gr%2F&amp;cb=6056ef6654"
            width="0"
            height="0"
            alt=""
            style="width: 0; height: 0"
          /></div
      ></ins>
    </div>
    <div class="ad-banner__item">
      <ins
        data-revive-zoneid="2"
        data-revive-shopid="1"
        data-revive-id="43cdfaaf5abc23c76c870872bc2f2b4d"
        data-revive-seq="1"
        id="revive-0-1"
        data-revive-loaded="1"
        style="text-decoration: none"
        ><a
          href="https://banners.ekioskys.gr/www/delivery/cl.php?bannerid=189&amp;zoneid=2&amp;sig=03787eddc0aacfe009b32833479b5c73de6cbdbf3f8678f1624a9cd2a1df2e4b&amp;oadest=https%3A%2F%2Fwww.ekioskys.gr%2Fcategory%2Fbeers"
          target="_top"
          ><img
            src="https://banners.ekioskys.gr/www/images/eac9136569f06107e83c740af0d22a67.webp"
            width="522"
            height="252"
            alt=""
            title=""
            border="0"
        /></a>
        <div
          id="beacon_6056ef6654"
          style="position: absolute; left: 0; top: 0; visibility: hidden"
        >
          <img
            src="https://banners.ekioskys.gr/www/delivery/lg.php?bannerid=189&amp;campaignid=142&amp;zoneid=2&amp;loc=https%3A%2F%2Fwww.ekioskys.gr%2F&amp;cb=6056ef6654"
            width="0"
            height="0"
            alt=""
            style="width: 0; height: 0"
          /></div
      ></ins>
    </div>
    <div class="ad-banner__item">
      <ins
        data-revive-zoneid="2"
        data-revive-shopid="1"
        data-revive-id="43cdfaaf5abc23c76c870872bc2f2b4d"
        data-revive-seq="1"
        id="revive-0-1"
        data-revive-loaded="1"
        style="text-decoration: none"
        ><a
          href="https://banners.ekioskys.gr/www/delivery/cl.php?bannerid=189&amp;zoneid=2&amp;sig=03787eddc0aacfe009b32833479b5c73de6cbdbf3f8678f1624a9cd2a1df2e4b&amp;oadest=https%3A%2F%2Fwww.ekioskys.gr%2Fcategory%2Fbeers"
          target="_top"
          ><img
            src="https://banners.ekioskys.gr/www/images/eac9136569f06107e83c740af0d22a67.webp"
            width="522"
            height="252"
            alt=""
            title=""
            border="0"
        /></a>
        <div
          id="beacon_6056ef6654"
          style="position: absolute; left: 0; top: 0; visibility: hidden"
        >
          <img
            src="https://banners.ekioskys.gr/www/delivery/lg.php?bannerid=189&amp;campaignid=142&amp;zoneid=2&amp;loc=https%3A%2F%2Fwww.ekioskys.gr%2F&amp;cb=6056ef6654"
            width="0"
            height="0"
            alt=""
            style="width: 0; height: 0"
          /></div
      ></ins>
    </div>
  </div>
</section>
