<div class="cart__toggler">
  <div class="cart__toggler-inner">
    <div class="cart__toggler-btn">
      <div class="cart__checkout-btn-left">
        <div class="cart__checkout-btn-icon">
          <img
            src="./images/icons/cart-light.svg"
            alt=""
            class="cart__checkout-btn-icon-img"
          />
        </div>
        <div class="cart__checkout-btn-copy">Καλάθι</div>
      </div>
      <div class="cart__checkout-btn-right">
        <div class="cart__checkout-btn-price">49,40€</div>
      </div>
    </div>
  </div>
</div>

<!-- partial:../partials/cart-layout.html -->
<!-- partial -->
