<div class="cart">
  <!-- HEADER -->
  <div class="cart__header">
    <div class="cart__header-left">
      <div class="cart__header-icon">
        <img
          src="./images/icons/cart.svg"
          alt=""
          class="cart__header-icon-img"
        />
      </div>
      <div class="cart__header-text">Καλάθι</div>
    </div>
    <div class="cart__header-right">
      <div class="cart__header-close">
        <img
          src="./images/icons/modal-close.svg"
          alt=""
          class="cart__header-close-img"
        />
      </div>
    </div>
  </div>
  <!-- BODY -->
  <div class="cart__body">
    <!-- PRODUCTS LIST -->
    <div class="cart__products">
      <!-- PRODUCT -->
      <div class="cart__product">
        <div class="accordion">
          <!-- ACCORDION ITEM -->
          <div class="accordion__container">
            <div class="accordion__item">
              <div class="accordion__header">
                <div class="accordion__header-content">
                  <!-- HEADER CONTENT -->
                  <div class="cart__product-header">
                    <!-- PHOTO -->
                    <div class="cart__product-quantity-container">
                      <div class="cart__product-quantity">
                        <div class="cart__product-quantity-text">3x</div>
                      </div>
                      <div class="cart__product-header-img-container">
                        <img
                          src="./images/b5.jpg"
                          alt=""
                          class="cart__product-header-img"
                        />
                      </div>
                    </div>
                    <!-- PRODUCT TITLE AND PRICE  -->
                    <div class="cart__product-header-info-container">
                      <!-- TITLE -->
                      <div class="cart__product-header-title">Item</div>
                      <!-- PRICE -->
                      <div class="cart__product-header-price">16,20€</div>
                    </div>
                  </div>
                </div>
                <div class="accordion__right-side">
                  <div class="accordion__header-arrow">
                    <img src="./images/icons/accordion-arrow.svg" alt="" />
                  </div>
                </div>
              </div>
              <div class="accordion__panel">
                <div class="accordion__content">
                  <div class="table">
                    <!-- TABLE ITEM -->
                    <div class="table__item">
                      <div class="table__col">Name</div>
                      <div class="table__col">Index</div>
                    </div>
                    <!-- TABLE ITEM -->
                    <div class="table__item">
                      <div class="table__col">Name</div>
                      <div class="table__col">Index</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- PRODUCT -->
      <div class="cart__product">product</div>
    </div>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit modi quidem
      incidunt ipsa asperiores animi illo consequuntur repudiandae sapiente
      nihil alias numquam corrupti amet expedita, nisi tenetur temporibus!
      Tempore, quasi?
    </p>
    <p>
      Alias, quo possimus officiis tempora commodi at accusamus iste cupiditate
      ducimus praesentium sequi voluptates? A laudantium delectus sint sequi
      veniam ad harum eum nostrum ab. Dolores totam optio eos quaerat.
    </p>
    <p>
      Accusamus, quo delectus. Delectus minima totam eum tenetur beatae culpa.
      Deleniti, ratione nam obcaecati voluptate corrupti qui? Placeat eveniet
      totam atque, laboriosam quo, corporis unde sint necessitatibus expedita,
      omnis quas.
    </p>
    <p>
      Similique accusantium eius reiciendis dicta deleniti! Animi impedit
      doloremque illum totam. Eaque, perferendis eveniet? Repellat rem dolorum
      temporibus. Dolorem illo reiciendis possimus deserunt. Corrupti dolore
      cupiditate voluptatem possimus deserunt provident.
    </p>
    <p>
      Cum architecto eaque, alias aut doloremque delectus. Dolores iste, dolorum
      esse consequuntur magnam doloremque fuga quisquam? Ipsam quia optio
      voluptatum ullam esse nihil voluptatem consequuntur dignissimos obcaecati,
      eveniet voluptas totam.
    </p>
    <p>
      Reiciendis quod vitae harum dolores consequatur obcaecati quia tempora
      necessitatibus blanditiis soluta molestias libero nam voluptate sint autem
      non, repellendus voluptates doloremque! Quidem molestiae quas a, id
      adipisci ullam consectetur!
    </p>
    <p>
      Ducimus quia consequatur explicabo, fuga quod, laboriosam aperiam quisquam
      odio ut, consectetur ipsum eos veritatis sunt. Consectetur cum vero,
      veritatis quidem eligendi similique rerum reprehenderit adipisci ratione
      voluptatum, quas impedit!
    </p>
    <p>
      Harum temporibus tempora eos nam blanditiis pariatur maxime illo illum
      veritatis sequi fuga accusantium dignissimos quidem quae eligendi cumque
      mollitia earum ab delectus tempore, expedita, nisi necessitatibus
      perspiciatis suscipit. Repudiandae.
    </p>
    <p>
      Autem nisi dignissimos laboriosam facilis libero facere amet fugiat minus
      consequatur impedit? Nihil totam, earum assumenda non at expedita nam
      quisquam? Quis est molestiae, odio fuga deleniti inventore atque quaerat.
    </p>
    <p>
      At nobis placeat blanditiis error maiores, quis, inventore ad aspernatur
      hic odio dolorem mollitia assumenda eum ea eveniet obcaecati. Molestiae
      dolor sapiente eius commodi atque, necessitatibus ad suscipit ex? Harum?
    </p>
    <p>
      Assumenda labore consequatur sunt reiciendis sapiente dolore quisquam,
      adipisci non dolorum ad vero velit tenetur repudiandae eaque at nemo rem
      ipsam nulla aspernatur atque modi aut delectus corporis nihil? Quaerat?
    </p>
    <p>
      In, vitae libero minima asperiores sint perferendis eligendi adipisci
      nihil, non iste pariatur rem? Consequatur sed accusantium eum blanditiis
      quasi perferendis nihil, iste ex inventore ut perspiciatis aut dolor.
      Quam?
    </p>
    <p>
      Ipsam maiores eum quas magni porro nulla at exercitationem ut voluptatem
      saepe dicta fuga commodi nihil possimus quisquam quasi temporibus,
      distinctio repellat officiis veritatis non repudiandae ullam adipisci?
      Perferendis, cum!
    </p>
    <p>
      Nobis fugit, aliquid provident doloremque alias quod voluptatum.
      Consequuntur eos pariatur ex deserunt. Ex ab molestiae ipsam, assumenda
      modi tempore! Optio sed doloremque quisquam aperiam laudantium
      reprehenderit delectus praesentium in?
    </p>
    <p>
      Nesciunt aliquam amet error, autem sed, suscipit, omnis fugit hic
      veritatis ab facere nisi officia cumque! Corporis officia rerum sequi
      voluptates quia natus voluptatem et similique quam. Illum, magni
      cupiditate!
    </p>
    <p>
      Quisquam sequi earum soluta placeat fuga ipsam consequatur in amet,
      perferendis autem voluptas. Rem, animi ex similique vel aut eos sint.
      Perspiciatis dignissimos necessitatibus eveniet consequatur odio eius
      beatae nam.
    </p>
    <p>
      Quos atque mollitia vero, ratione laudantium voluptates. Atque asperiores
      doloremque doloribus quaerat ipsa assumenda, et porro dicta maxime earum.
      Voluptatibus quidem commodi assumenda itaque non eum est quas inventore
      dolores!
    </p>
    <p>
      Blanditiis modi inventore nostrum dolor fugit voluptates minima debitis
      saepe voluptate, ipsa sequi culpa ab explicabo quasi. Sint ipsum culpa rem
      aut qui temporibus laborum eligendi sunt itaque. Facere, quisquam?
    </p>
    <p>
      Molestiae, nobis. Sunt consequuntur suscipit veritatis in nulla inventore
      laudantium, nam recusandae qui nesciunt nemo delectus asperiores odit
      omnis hic velit commodi voluptatum. Temporibus harum doloribus ullam
      reiciendis, nostrum vero?
    </p>
    <p>
      Eos, officiis. Iste eius, at temporibus nostrum, architecto inventore
      soluta porro repellendus fuga ab adipisci animi sunt, reprehenderit itaque
      harum placeat voluptas incidunt sed quis ratione ipsam! Fugit, fugiat
      accusantium.
    </p>
    <p>
      Rerum illum sapiente ab, asperiores numquam laboriosam inventore in
      explicabo alias velit voluptatum, consequatur, quasi distinctio ullam
      obcaecati iste. Voluptatem nesciunt magnam corporis accusantium nemo
      exercitationem deserunt nobis maiores atque.
    </p>
    <p>
      Nemo pariatur harum quaerat quidem a molestias quos nulla, explicabo
      veniam aut voluptatem esse eaque labore similique qui at adipisci rerum
      natus reprehenderit minus eius. Quisquam nulla dolores suscipit facere.
    </p>
    <p>
      Aliquid iure sunt possimus delectus aut amet iste laboriosam ullam nam,
      consectetur quisquam aspernatur accusamus doloribus reiciendis
      repellendus. Nihil eos ducimus officia tenetur distinctio animi, modi sit
      quaerat eaque consectetur.
    </p>
    <p>
      Est cumque doloremque similique hic eos nam, a nesciunt quasi, fugit,
      eveniet quibusdam sunt et assumenda dolore vel dignissimos velit sit totam
      recusandae. Est, repudiandae numquam adipisci magnam quaerat
      reprehenderit!
    </p>
    <p>
      Eveniet, deleniti impedit adipisci temporibus porro distinctio a itaque,
      blanditiis quaerat voluptate eaque, dolores magni alias praesentium
      molestiae necessitatibus accusamus facilis ipsam in aut sint minima
      provident eius? Eligendi, tenetur.
    </p>
    <p>
      Quisquam commodi ipsum suscipit amet consectetur quaerat, facere, delectus
      id sit quod expedita beatae, eius doloribus. Minima dignissimos ullam hic
      aliquam? Corporis amet in sit quaerat cum nesciunt natus consectetur.
    </p>
    <p>
      Voluptatum quas illo laboriosam facere nobis expedita a quod, vero esse
      fuga at eligendi fugit aspernatur sunt, dolor exercitationem animi atque
      sapiente minus inventore quaerat velit. Veniam atque fuga delectus.
    </p>
    <p>
      In consectetur recusandae, quaerat quasi nisi deleniti natus magnam unde
      eligendi et molestiae illo cupiditate praesentium tempora sapiente ipsum
      neque dolores, enim facere doloremque. Ipsa libero quis beatae
      reprehenderit obcaecati.
    </p>
    <p>
      Molestiae a, voluptatum minima nulla fugit fuga maxime ullam deleniti,
      asperiores blanditiis quaerat ratione officiis qui perspiciatis, magnam
      cupiditate. Dolore assumenda ullam totam quis debitis non deleniti rerum
      soluta nesciunt.
    </p>
    <p>
      Rem, distinctio adipisci, laborum voluptate repellendus, dignissimos
      reprehenderit consequatur sit suscipit temporibus cupiditate debitis iste
      pariatur quaerat asperiores minus. Laborum soluta placeat aut fugit
      eveniet cupiditate reprehenderit, ipsa officia officiis!
    </p>
  </div>
</div>
