<div class="cart">
  <!-- HEADER -->
  <div class="cart__header">
    <div class="cart__header-left">
      <div class="cart__header-icon">
        <img
          src="./images/icons/cart.svg"
          alt=""
          class="cart__header-icon-img"
        />
      </div>
      <div class="cart__header-text">Καλάθι</div>
    </div>
    <div class="cart__header-right">
      <div class="cart__header-close">
        <img
          src="./images/icons/modal-close.svg"
          alt=""
          class="cart__header-close-img"
        />
      </div>
    </div>
  </div>
  <!-- BODY -->
  <!-- BODY IS BEING REPLACED EVERYTIME -->
  <!-- partial:../partials/cart-body.html -->
  <!-- partial -->
</div>
