<div class="checkout-cart__body" data-delivery-type="takeaway">
  <section class="snippet">
    <!-- title and btn -->
    <div class="container-a">
      <div class="snippet__header">
        <div class="snippet__title">
          <img
            class="img-fluid mw-22 mr-10"
            src="./images/icons/receipt.svg"
            alt=""
          />
          <div>Receipt</div>
        </div>
      </div>
    </div>

    <!-- PRODUCT OPTIONS -->
    <div class="table table--small">
      <!-- TABLE ITEM -->
      <div class="table__item">
        <div class="table__col">Naming</div>
        <div class="table__col">49,40€</div>
      </div>
      <!-- TABLE ITEM -->
      <div class="table__item">
        <div class="table__col">Naming</div>
        <div class="table__col">49,40€</div>
      </div>
      <!-- TABLE ITEM -->
      <div class="table__item">
        <div class="table__col">Naming</div>
        <div class="table__col">49,40€</div>
      </div>
    </div>
  </section>

  <!-- EDIT -->
  <section class="snippet pt-20 pb-20">
    <div class="container-a">
      <a href="" class="secondary-btn">
        <div class="secondary-btn__icon mw-22 mr-10">
          <img src="./images/icons/edit.svg" alt="" class="img-fluid" />
        </div>
        <div class="secondary-btn__copy">Τροποποίηση παραγγελίας</div>
      </a>
    </div>
  </section>

  <!-- RECEIPT -->
  <section class="snippet">
    <div class="cart__pricing">
      <!-- VAT -->
      <div class="cart__pricing-disclaimer">Οι τιμές περιλαμβάνουν ΦΠΑ</div>
      <!-- EXTRA BREKDOWN TABLE -->
      <div class="table table--small">
        <!-- TABLE ITEM -->
        <div class="table__item">
          <div class="table__col">Προϊόντα</div>
          <div class="table__col">46,90€</div>
        </div>
        <!-- TABLE ITEM -->
        <div class="table__item">
          <div class="table__col">Delivery fee</div>
          <div class="table__col">2,00€</div>
        </div>
        <!-- TABLE ITEM -->
        <div class="table__item">
          <div class="table__col">Περιβαλλοντικό τέλος πλαστικής σακούλας</div>
          <div class="table__col">0,50€</div>
        </div>
      </div>
      <!-- SUM -->
      <div class="cart__pricing-summary">
        <div class="cart__pricing-summary-title">Σύνολο</div>
        <div class="cart__pricing-summary-price">49,40€</div>
      </div>
    </div>
  </section>
</div>
