<!-- LOGIN -->
<div class="login">
  <div class="login__bg"></div>
  <div class="login__window">
    <img src="./images/icons/login-close.svg" alt="" class="login__close" />
    <div class="login__title">Είσοδος</div>

    <!-- SOCIAL OPTIONS -->
    <div class="login__social-options">
      <!-- FACEBOOK LOGIN -->
      <a
        href="https://www.delivery.gr/login/prepare/facebook"
        class="login__social-btn"
      >
        <img
          src="./images/icons/login-fb.svg"
          alt=""
          class="login__social-btn-img"
        />
        <div class="login__social-btn-copy">Facebook</div>
      </a>
      <!-- GOOGLE LOGIN -->
      <a
        href="https://www.delivery.gr/login/prepare/google"
        class="login__social-btn"
      >
        <img
          src="./images/icons/login-google.svg"
          alt=""
          class="login__social-btn-img"
        />
        <div class="login__social-btn-copy">Google</div>
      </a>
    </div>
    <!-- EMAIL / PHONE OPTION -->
    <div class="login__email-phone">
      <div class="login__email-phone-or">-ή-</div>
      <!-- NAME -->
      <div class="form-floating">
        <input
          type="text"
          class="form-control js-email-phone"
          id="name"
          placeholder="placeholder"
          autocomplete="off"
        />
        <label for="name">Email/τηλέφωνο</label>
      </div>
    </div>

    <div class="login__actions">
      <div class="primary-btn js-action-btn">Σύνδεση</div>
      <div class="login__actions-forgot js-forgot-password">
        Ξέχασα τον κωδικό μου
      </div>
    </div>
  </div>
</div>

<!-- PASSWORD -->
<div class="js-password-modal small-modal">
  <div class="small-modal__bg"></div>
  <div class="small-modal__window">
    <img
      src="./images/icons/login-close.svg"
      alt=""
      class="small-modal__close"
    />
    <div class="small-modal__title">Κωδικός πρόσβασης</div>
    <div class="text-center px-16 mb-20">
      Για να κάνετε είσοδο στο Delivery.gr, παρακαλούμε βάλτε τον κωδικό του
      λογαριασμού σας
    </div>

    <div class="small-modal__password-container">
      <!-- PASSWORD -->
      <div class="form-floating">
        <input
          type="password"
          class="form-control js-password"
          id="pass"
          placeholder="placeholder"
          autocomplete="off"
        />
        <label for="pass">Κωδικός</label>
      </div>
    </div>

    <div class="small-modal__actions">
      <div class="primary-btn js-action-btn">Συνέχεια</div>
      <div class="small-modal__actions-forgot js-forgot-password">
        Ξέχασα τον κωδικό μου
      </div>
      <div
        class="
          p-10
          font-size-2 font-weight-700
          text-center
          js-connect-with-phone
        "
      >
        Σύνδεση με τηλέφωνο
      </div>
    </div>
  </div>
</div>

<!-- OTP -->
<div class="js-otp-modal modal">
  <!-- THE ACTUAL WINDOW -->
  <div class="modal__window">
    <!-- HEADER -->
    <div class="modal__header">
      <div class="modal__header-left">Επιβεβαίωση Τηλεφώνου</div>
      <div class="modal__header-right">
        <div class="js-close">
          <img src="./images/icons/modal-close.svg" alt="" class="" />
        </div>
      </div>
    </div>
    <!-- BODY -->
    <div class="modal__body">
      <img src="./images/illustrations/coupon.svg" alt="" class="img-fluid" />
      <div class="container-a py-16">
        Το Delivery.gr θα στείλει ένα μήνυμα στο κινητό σας με τον κωδικό
        επιβεβαίωσης
      </div>
      <div class="form-floating">
        <input
          type="text"
          pattern="^[0-9]*$"
          class="form-control js-input"
          id="floatingInput"
          placeholder="placeholder"
          autocomplete="off"
        />
        <label for="floatingInput">Κωδικός</label>
      </div>
    </div>
    <!-- STICKY ACTION -->
    <div class="modal__action">
      <div class="py-20 px-16 w-100">
        <div class="primary-btn js-action-btn">Επιβεβαίωση</div>
      </div>
    </div>
  </div>
</div>

<!-- FORGOT PASSWORD -->
<div class="js-forgot-password-modal small-modal">
  <div class="small-modal__bg"></div>
  <div class="small-modal__window">
    <img
      src="./images/icons/login-close.svg"
      alt=""
      class="small-modal__close js-close"
    />
    <div class="small-modal__title">Επαναφορά κωδικού πρόσβασης</div>
    <div class="text-center px-16 mb-20">
      Εισάγετε το email σας και θα σας στείλουμε ένα σύνδεσμο για την επαναφορά
      του κωδικού σας.
    </div>

    <div class="small-modal__password-container">
      <!-- PASSWORD -->
      <div class="form-floating">
        <input
          type="email"
          class="form-control js-input"
          id="email"
          placeholder="placeholder"
          autocomplete="off"
        />
        <label for="email">Email</label>
      </div>
    </div>

    <div class="small-modal__actions">
      <div class="primary-btn js-action-btn">Αποστολή</div>
    </div>
  </div>
</div>

<!-- REGISTER -->
<div class="js-register-modal modal">
  <!-- THE ACTUAL WINDOW -->
  <div class="modal__window">
    <!-- HEADER -->
    <div class="modal__header">
      <div class="modal__header-left">Καλώς ήρθες!</div>
      <div class="modal__header-right">
        <div class="js-close">
          <img src="./images/icons/modal-close.svg" alt="" class="" />
        </div>
      </div>
    </div>
    <!-- BODY -->
    <div class="modal__body">
      <!-- NAME -->
      <div class="form-floating">
        <input
          type="text"
          class="form-control js-name"
          id="floatingInput"
          placeholder="placeholder"
        />
        <label for="floatingInput">Όνομα</label>
      </div>
      <!-- SURNAME -->
      <div class="form-floating">
        <input
          type="text"
          class="form-control js-surname"
          id="floatingInput"
          placeholder="placeholder"
        />
        <label for="floatingInput">Επίθετο</label>
      </div>
      <!-- EMAIL -->
      <div class="form-floating">
        <input
          type="email"
          class="form-control js-email"
          id="floatingInput"
          placeholder="placeholder"
        />
        <label for="floatingInput">Email</label>
      </div>
      <!-- PASSWORD -->
      <div class="form-floating">
        <input
          type="password"
          class="form-control js-password"
          id="floatingInput"
          placeholder="placeholder"
        />
        <label for="floatingInput">Κωδικός (προεραιτικό)</label>
      </div>
      <!-- PHONE -->
      <div class="personal-details__phone">
        <div
          class="personal-details__phone-trigger js-verify-number-trigger"
        ></div>
        <div class="personal-details__phone-checkbox">
          <img
            src="./images/icons/checkmark-phone.svg"
            alt=""
            class="img-fluid mx-26"
          />
        </div>
        <div class="form-floating">
          <input
            type="email"
            class="form-control js-verify-number-input"
            id="floatingInput"
            placeholder="placeholder"
          />
          <label for="floatingInput">Phone</label>
        </div>
      </div>

      <!-- TOS -->
      <div class="login__tos">
        <div class="login__tos-accept-top-box">
          <div class="font-weight-700 mb-10">Terms & Conditions</div>
          <div class="font-size-2">
            Έχω διαβάσει και αποδέχομαι τους
            <a class="color-blue font-weight-700" target="_blank" href="#"
              >Όρους Χρήσης</a
            >
            και
            <a class="color-blue font-weight-700" target="_blank" href="#"
              >Πολιτική Απορρήτου</a
            >
          </div>
        </div>
        <div class="login__tos-accept font-size-2 font-weight-700">
          <div class="login__tos-accept-copy">Αποδέχομαι</div>
          <div class="login__tos-accept-img">
            <img
              class="login__tos-accept-img-not-checked"
              src="./images/icons/checkbox-not-checked.svg"
              alt=""
            />
            <img
              class="login__tos-accept-img-checkmark"
              src="./images/icons/checkmark.svg"
              alt=""
            />
          </div>
        </div>

        <!-- HIDDEN -->
        <input
          class="login__tos-accept-hidden-checkbox js-tos"
          type="checkbox"
          id="accept-tos"
        />
      </div>
    </div>
    <!-- STICKY ACTION -->
    <div class="modal__action">
      <div class="py-20 px-16 w-100">
        <div class="primary-btn js-action-btn">Συνέχεια</div>
      </div>
    </div>
  </div>
</div>

<!-- MERGE -->
<div class="modal js-merge-modal">
  <!-- THE ACTUAL WINDOW -->
  <div class="modal__window">
    <!-- HEADER -->
    <div class="modal__header">
      <div class="modal__header-left">Merge accounts</div>
      <div class="modal__header-right">
        <div class="js-close">
          <img src="./images/icons/modal-close.svg" alt="" class="" />
        </div>
      </div>
    </div>
    <!-- BODY -->
    <div class="modal__body">
      <img src="./images/illustrations/coupon.svg" alt="" class="img-fluid" />
      <p class="p-16">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel
        blanditiis, dolores alias incidunt modi mollitia itaque molestias!
        Quibusdam, aperiam, ducimus dolorem animi qui unde sunt ad minima
        reprehenderit fugiat pariatur?
      </p>
      <!-- <div class="form-floating">
        <input
          type="text"
          pattern="^[0-9]*$"
          class="form-control js-input"
          id="floatingInput"
          placeholder="placeholder"
          autocomplete="off"
        />
        <label for="floatingInput">Verification Code</label>
      </div> -->
    </div>
    <!-- STICKY ACTION -->
    <div class="modal__action">
      <div class="py-20 px-16 w-100">
        <div class="primary-btn js-action-btn">Merge</div>
      </div>
    </div>
  </div>
</div>

<!-- MERGE WITH CODE-->
<div class="modal js-merge-with-code-modal">
  <!-- THE ACTUAL WINDOW -->
  <div class="modal__window">
    <!-- HEADER -->
    <div class="modal__header">
      <div class="modal__header-left">Merge accounts</div>
      <div class="modal__header-right">
        <div class="js-close">
          <img src="./images/icons/modal-close.svg" alt="" class="" />
        </div>
      </div>
    </div>
    <!-- BODY -->
    <div class="modal__body">
      <img src="./images/illustrations/coupon.svg" alt="" class="img-fluid" />
      <p class="p-16">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel
        blanditiis, dolores alias incidunt modi mollitia itaque molestias!
        Quibusdam, aperiam, ducimus dolorem animi qui unde sunt ad minima
        reprehenderit fugiat pariatur?
      </p>
      <div class="form-floating">
        <input
          type="text"
          pattern="^[0-9]*$"
          class="form-control js-input"
          id="floatingInput"
          placeholder="placeholder"
          autocomplete="off"
        />
        <label for="floatingInput">Verification Code</label>
      </div>
    </div>
    <!-- STICKY ACTION -->
    <div class="modal__action">
      <div class="py-20 px-16 w-100">
        <div class="primary-btn js-action-btn">Merge</div>
      </div>
    </div>
  </div>
</div>

<!-- RESET PASSWORD -->
<div class="modal js-reset-password-modal">
  <!-- THE ACTUAL WINDOW -->
  <div class="modal__window">
    <!-- HEADER -->
    <div class="modal__header">
      <div class="modal__header-left">Επαναφορά Κωδικού</div>
      <div class="modal__header-right">
        <div class="js-close">
          <img src="./images/icons/modal-close.svg" alt="" class="" />
        </div>
      </div>
    </div>
    <!-- BODY -->
    <div class="modal__body">
      <img src="./images/illustrations/coupon.svg" alt="" class="img-fluid" />
      <p class="p-16">Instructions on what the user should do</p>
      <div class="form-floating">
        <input
          type="password"
          pattern="^[0-9]*$"
          class="form-control js-password"
          id="floatingInput"
          placeholder="placeholder"
          autocomplete="off"
        />
        <label for="floatingInput">Κωδικός</label>
      </div>
      <div class="form-floating">
        <input
          type="password"
          pattern="^[0-9]*$"
          class="form-control js-confirm-password"
          id="floatingInput"
          placeholder="placeholder"
          autocomplete="off"
        />
        <label for="floatingInput">Επιβεβαίωση Κωδικού</label>
      </div>
    </div>
    <!-- STICKY ACTION -->
    <div class="modal__action">
      <div class="py-20 px-16 w-100">
        <div class="primary-btn js-action-btn">Αλλαγή</div>
      </div>
    </div>
  </div>
</div>

<!-- MISSING DATA -->
<div class="js-missing-data-modal modal">
  <!-- THE ACTUAL WINDOW -->
  <div class="modal__window">
    <!-- HEADER -->
    <div class="modal__header">
      <div class="modal__header-left">MISSING DATA</div>
      <div class="modal__header-right">
        <div class="js-close">
          <img src="./images/icons/modal-close.svg" alt="" class="" />
        </div>
      </div>
    </div>
    <!-- BODY -->
    <div class="modal__body">
      <!-- NAME -->
      <div class="form-floating">
        <input
          type="text"
          class="form-control js-name"
          id="floatingInput"
          placeholder="placeholder"
        />
        <label for="floatingInput">Όνομα</label>
      </div>
      <!-- SURNAME -->
      <div class="form-floating">
        <input
          type="text"
          class="form-control js-surname"
          id="floatingInput"
          placeholder="placeholder"
        />
        <label for="floatingInput">Επίθετο</label>
      </div>
      <!-- EMAIL -->
      <div class="form-floating">
        <input
          type="email"
          class="form-control js-email"
          id="floatingInput"
          placeholder="placeholder"
        />
        <label for="floatingInput">Email</label>
      </div>
      <!-- PASSWORD -->
      <div class="form-floating">
        <input
          type="password"
          class="form-control js-password"
          id="floatingInput"
          placeholder="placeholder"
        />
        <label for="floatingInput">Κωδικός (προεραιτικό)</label>
      </div>
      <!-- PHONE -->
      <div class="personal-details__phone">
        <div
          class="personal-details__phone-trigger js-verify-number-trigger"
        ></div>
        <div class="personal-details__phone-checkbox">
          <img
            src="./images/icons/checkmark-phone.svg"
            alt=""
            class="img-fluid mx-26"
          />
        </div>
        <div class="form-floating">
          <input
            type="email"
            class="form-control js-verify-number-input"
            id="floatingInput"
            placeholder="placeholder"
          />
          <label for="floatingInput">Phone</label>
        </div>
      </div>
    </div>
    <!-- STICKY ACTION -->
    <div class="modal__action">
      <div class="py-20 px-16 w-100">
        <div class="primary-btn js-action-btn">Συνέχεια</div>
      </div>
    </div>
  </div>
</div>
