<div class="login">
  <div class="login__bg"></div>
  <div class="login__window">
    <img src="./images/icons/login-close.svg" alt="" class="login__close" />
    <div class="login__title">Είσοδος</div>
    <div class="login__social-options">
      <!-- FACEBOOK LOGIN -->
      <a
        href="https://www.delivery.gr/login/prepare/facebook"
        class="login__social-btn"
      >
        <img
          src="./images/icons/login-fb.svg"
          alt=""
          class="login__social-btn-img"
        />
        <div class="login__social-btn-copy">Facebook</div>
      </a>
      <!-- GOOGLE LOGIN -->
      <a
        href="https://www.delivery.gr/login/prepare/google"
        class="login__social-btn"
      >
        <img
          src="./images/icons/login-google.svg"
          alt=""
          class="login__social-btn-img"
        />
        <div class="login__social-btn-copy">Google</div>
      </a>
    </div>
  </div>
</div>
