<div class="modal js-coupon-modal active">
  <!-- THE ACTUAL WINDOW -->
  <div class="modal__window">
    <!-- HEADER -->
    <div class="modal__header">
      <div class="modal__header-left">Add Coupon</div>
      <div class="modal__header-right">
        <div class="js-close-coupon-modal">
          <img src="./images/icons/modal-close.svg" alt="" class="" />
        </div>
      </div>
    </div>
    <!-- HEADER -->
    <div class="modal__body">
      <img src="./images/illustrations/coupon.svg" alt="" class="img-fluid" />

      <div class="container-a py-16">
        Please enter the Coupon Number that we sent you via SMS.
        <span class="color-dark-gray">ex. BB-600N31HG</span>
      </div>

      <!-- ERROR -->
      <div class="p-16 js-coupon-error coupon__error">
        <img
          src="./images/icons/error.svg"
          alt=""
          class="img-fluid mw-22 flex-shrink-0 align-self-center mr-10"
        />
        <div class="js-coupon-error-msg">
          You may have entered the wrong phone number.
        </div>
      </div>

      <div class="form-floating">
        <input
          type="email"
          class="form-control js-coupon-input"
          id="floatingInput"
          placeholder="placeholder"
        />
        <label for="floatingInput">Αριθμός κουπονιού</label>
      </div>
    </div>
    <!-- STICKY ACTION -->
    <div class="modal__action">
      <div class="py-20 px-16 w-100">
        <div class="primary-btn js-action-btn">Apply Coupon</div>
      </div>
    </div>
  </div>
</div>
