<section class="food-categories">
  <div class="food-categories__swiper swiper-container">
    <div class="swiper-wrapper">
      <!-- ITEM -->
      <div class="swiper-slide">
        <a href="" class="food-categories__item">
          <div class="food-categories__item-img-parent">
            <img
              src="./images/icons/food-categories/all.svg"
              alt=""
              class="food-categories__item-img"
            />
          </div>
          <div class="food-categories__item-title">Όλες</div>
        </a>
      </div>
      <!-- ITEM -->
      <div class="swiper-slide">
        <a href="" class="food-categories__item">
          <div class="food-categories__item-img-parent">
            <img
              src="./images/icons/food-categories/temp.svg"
              alt=""
              class="food-categories__item-img"
            />
          </div>
          <div class="food-categories__item-title">Pizza</div>
        </a>
      </div>
      <!-- ITEM -->
      <div class="swiper-slide">
        <a href="" class="food-categories__item">
          <div class="food-categories__item-img-parent">
            <img
              src="./images/icons/food-categories/temp.svg"
              alt=""
              class="food-categories__item-img"
            />
          </div>
          <div class="food-categories__item-title">Σουβλάκι</div>
        </a>
      </div>
      <!-- ITEM -->
      <div class="swiper-slide">
        <a href="" class="food-categories__item">
          <div class="food-categories__item-img-parent">
            <img
              src="./images/icons/food-categories/temp.svg"
              alt=""
              class="food-categories__item-img"
            />
          </div>
          <div class="food-categories__item-title">Κρέπα</div>
        </a>
      </div>
      <!-- ITEM -->
      <div class="swiper-slide">
        <a href="" class="food-categories__item">
          <div class="food-categories__item-img-parent">
            <img
              src="./images/icons/food-categories/temp.svg"
              alt=""
              class="food-categories__item-img"
            />
          </div>
          <div class="food-categories__item-title">Burger</div>
        </a>
      </div>
      <!-- ITEM -->
      <div class="swiper-slide">
        <a href="" class="food-categories__item">
          <div class="food-categories__item-img-parent">
            <img
              src="./images/icons/food-categories/temp.svg"
              alt=""
              class="food-categories__item-img"
            />
          </div>
          <div class="food-categories__item-title">Μαγειρευτό</div>
        </a>
      </div>
      <!-- ITEM -->
      <div class="swiper-slide">
        <a href="" class="food-categories__item">
          <div class="food-categories__item-img-parent">
            <img
              src="./images/icons/food-categories/temp.svg"
              alt=""
              class="food-categories__item-img"
            />
          </div>
          <div class="food-categories__item-title">Κινέζικο</div>
        </a>
      </div>
      <!-- ITEM -->
      <div class="swiper-slide">
        <a href="" class="food-categories__item">
          <div class="food-categories__item-img-parent">
            <img
              src="./images/icons/food-categories/temp.svg"
              alt=""
              class="food-categories__item-img"
            />
          </div>
          <div class="food-categories__item-title">Ζυμαρικά</div>
        </a>
      </div>
      <!-- ITEM -->
      <div class="swiper-slide">
        <a href="" class="food-categories__item">
          <div class="food-categories__item-img-parent">
            <img
              src="./images/icons/food-categories/temp.svg"
              alt=""
              class="food-categories__item-img"
            />
          </div>
          <div class="food-categories__item-title">Street food</div>
        </a>
      </div>
      <!-- ITEM -->
      <div class="swiper-slide">
        <a href="" class="food-categories__item">
          <div class="food-categories__item-img-parent">
            <img
              src="./images/icons/food-categories/temp.svg"
              alt=""
              class="food-categories__item-img"
            />
          </div>
          <div class="food-categories__item-title">Vegetarian</div>
        </a>
      </div>
      <!-- ITEM -->
      <div class="swiper-slide">
        <a href="" class="food-categories__item">
          <div class="food-categories__item-img-parent">
            <img
              src="./images/icons/food-categories/temp.svg"
              alt=""
              class="food-categories__item-img"
            />
          </div>
          <div class="food-categories__item-title">Sushi</div>
        </a>
      </div>
      <!-- ITEM -->
      <div class="swiper-slide">
        <a href="" class="food-categories__item">
          <div class="food-categories__item-img-parent">
            <img
              src="./images/icons/food-categories/temp.svg"
              alt=""
              class="food-categories__item-img"
            />
          </div>
          <div class="food-categories__item-title">Brunch</div>
        </a>
      </div>
      <!-- ITEM -->
      <div class="swiper-slide">
        <a href="" class="food-categories__item">
          <div class="food-categories__item-img-parent">
            <img
              src="./images/icons/food-categories/temp.svg"
              alt=""
              class="food-categories__item-img"
            />
          </div>
          <div class="food-categories__item-title">Ασιατικό</div>
        </a>
      </div>
      <!-- ITEM -->
      <div class="swiper-slide">
        <a href="" class="food-categories__item">
          <div class="food-categories__item-img-parent">
            <img
              src="./images/icons/food-categories/temp.svg"
              alt=""
              class="food-categories__item-img"
            />
          </div>
          <div class="food-categories__item-title">Ανατολίτικο</div>
        </a>
      </div>
      <!-- ITEM -->
      <div class="swiper-slide">
        <a href="" class="food-categories__item">
          <div class="food-categories__item-img-parent">
            <img
              src="./images/icons/food-categories/temp.svg"
              alt=""
              class="food-categories__item-img"
            />
          </div>
          <div class="food-categories__item-title">Ινδικό</div>
        </a>
      </div>
      <!-- ITEM -->
      <div class="swiper-slide">
        <a href="" class="food-categories__item">
          <div class="food-categories__item-img-parent">
            <img
              src="./images/icons/food-categories/temp.svg"
              alt=""
              class="food-categories__item-img"
            />
          </div>
          <div class="food-categories__item-title">Μεξικάνικο</div>
        </a>
      </div>
      <!-- ITEM -->
      <div class="swiper-slide">
        <a href="" class="food-categories__item">
          <div class="food-categories__item-img-parent">
            <img
              src="./images/icons/food-categories/temp.svg"
              alt=""
              class="food-categories__item-img"
            />
          </div>
          <div class="food-categories__item-title">Fine Dining</div>
        </a>
      </div>
      <!-- ITEM -->
      <div class="swiper-slide">
        <a href="" class="food-categories__item">
          <div class="food-categories__item-img-parent">
            <img
              src="./images/icons/food-categories/temp.svg"
              alt=""
              class="food-categories__item-img"
            />
          </div>
          <div class="food-categories__item-title">Ψητά σούβλας</div>
        </a>
      </div>
      <!-- ITEM -->
      <div class="swiper-slide">
        <a href="" class="food-categories__item">
          <div class="food-categories__item-img-parent">
            <img
              src="./images/icons/food-categories/temp.svg"
              alt=""
              class="food-categories__item-img"
            />
          </div>
          <div class="food-categories__item-title">Ψητά κοτόπουλα</div>
        </a>
      </div>
      <!-- ITEM -->
      <div class="swiper-slide">
        <a href="" class="food-categories__item">
          <div class="food-categories__item-img-parent">
            <img
              src="./images/icons/food-categories/temp.svg"
              alt=""
              class="food-categories__item-img"
            />
          </div>
          <div class="food-categories__item-title">Θαλασσινά</div>
        </a>
      </div>
      <!-- ITEM -->
      <div class="swiper-slide">
        <a href="" class="food-categories__item">
          <div class="food-categories__item-img-parent">
            <img
              src="./images/icons/food-categories/temp.svg"
              alt=""
              class="food-categories__item-img"
            />
          </div>
          <div class="food-categories__item-title">Vegan</div>
        </a>
      </div>
      <!-- ITEM -->
      <div class="swiper-slide">
        <a href="" class="food-categories__item">
          <div class="food-categories__item-img-parent">
            <img
              src="./images/icons/food-categories/temp.svg"
              alt=""
              class="food-categories__item-img"
            />
          </div>
          <div class="food-categories__item-title">Νηστίσιμα</div>
        </a>
      </div>
    </div>
  </div>
</section>
