<section class="food-categories">
  <div class="food-categories__swiper swiper-container">
    <div class="swiper-wrapper">
      <!-- ITEM -->
      <div class="swiper-slide">
        <a href="" class="food-categories__item">
          <div class="food-categories__item-img-parent">
            <img
              src="./images/icons/food-categories/temp.svg"
              alt=""
              class="food-categories__item-img"
            />
          </div>
          <div class="food-categories__item-title">Υγιεινό</div>
        </a>
      </div>
      <!-- ITEM -->
      <div class="swiper-slide">
        <a href="" class="food-categories__item">
          <div class="food-categories__item-img-parent">
            <img
              src="./images/icons/food-categories/temp.svg"
              alt=""
              class="food-categories__item-img"
            />
          </div>
          <div class="food-categories__item-title">Ιταλικό</div>
        </a>
      </div>
      <!-- ITEM -->
      <div class="swiper-slide">
        <a href="" class="food-categories__item active">
          <div class="food-categories__item-img-parent">
            <img
              src="./images/icons/food-categories/temp.svg"
              alt=""
              class="food-categories__item-img"
            />
          </div>
          <div class="food-categories__item-title">Ψητά κοτόπουλα</div>
        </a>
      </div>
      <!-- ITEM -->
      <div class="swiper-slide">
        <a href="" class="food-categories__item">
          <div class="food-categories__item-img-parent">
            <img
              src="./images/icons/food-categories/temp.svg"
              alt=""
              class="food-categories__item-img"
            />
          </div>
          <div class="food-categories__item-title">Ιταλικό</div>
        </a>
      </div>
      <!-- ITEM -->
      <div class="swiper-slide">
        <a href="" class="food-categories__item">
          <div class="food-categories__item-img-parent">
            <img
              src="./images/icons/food-categories/temp.svg"
              alt=""
              class="food-categories__item-img"
            />
          </div>
          <div class="food-categories__item-title">Pizza</div>
        </a>
      </div>
      <!-- ITEM -->
      <div class="swiper-slide">
        <a href="" class="food-categories__item">
          <div class="food-categories__item-img-parent">
            <img
              src="./images/icons/food-categories/temp.svg"
              alt=""
              class="food-categories__item-img"
            />
          </div>
          <div class="food-categories__item-title">Κινέζικο</div>
        </a>
      </div>
    </div>
  </div>
</section>
