<header class="header">
  <div class="header__left">
    <div class="header__burger">
      <!-- CONTENT HERE -->
      <img src="./images/icons/burger.svg" alt="" class="header__burger-icon" />
    </div>
  </div>
  <div class="header__center">
    <a href="" class="header__logo">
      <!-- CONTENT HERE -->
      <img src="./images/logo.svg" alt="" class="header__logo-img" />
    </a>
  </div>
  <div class="header__right">
    <div class="header__user">
      <!-- CONTENT HERE -->
      <!-- ---- GUEST ---- -->
      <!-- <div class="header__login-btn">Σύνδεση</div> -->

      <!-- ---- LOGGED IN ---- -->
      <!-- NOTIFICATION -->
      <a href="" class="header__notification">
        <div class="header__notification-number">2</div>
        <img
          src="./images/icons/notification-bg.svg"
          alt=""
          class="header__notification-img"
        />
      </a>
      <!-- USER PHOTO -->
      <div class="header__user-photo">
        <img src="./images/user.jpg" alt="" class="header__user-photo-img" />
      </div>
    </div>
  </div>

  <!-- FULLSCREEN MENU -->
  <nav class="main-nav">
    <!-- TOP PART -->
    <div class="main-nav__top">
      <img
        src="./images/icons/burger-close.svg"
        alt=""
        class="main-nav__top-burger-icon"
      />
    </div>
    <!-- SCROLLABLE -->
    <div class="main-nav__scrollable">
      <!-- MENU -->
      <div class="main-nav__menu">
        <!-- MENU ITEM -->
        <div class="main-nav__menu-item">
          <img
            src="./images/icons/main-menu-item.svg"
            alt=""
            class="main-nav__menu-item-img"
          />
          <div class="main-nav__menu-item-copy">Εστιατόρια</div>
        </div>
        <!-- MENU ITEM -->
        <div class="main-nav__menu-item main-nav__menu-item--active">
          <img
            src="./images/icons/main-menu-item.svg"
            alt=""
            class="main-nav__menu-item-img"
          />
          <div class="main-nav__menu-item-copy">Καφέ Snack</div>
        </div>
        <!-- MENU ITEM -->
        <div class="main-nav__menu-item">
          <img
            src="./images/icons/main-menu-item.svg"
            alt=""
            class="main-nav__menu-item-img"
          />
          <div class="main-nav__menu-item-copy">Grocery</div>
        </div>
        <!-- MENU ITEM -->
        <div class="main-nav__menu-item">
          <img
            src="./images/icons/main-menu-item.svg"
            alt=""
            class="main-nav__menu-item-img"
          />
          <div class="main-nav__menu-item-copy">Κάβες</div>
        </div>
        <!-- MENU ITEM -->
        <div class="main-nav__menu-item">
          <img
            src="./images/icons/main-menu-item.svg"
            alt=""
            class="main-nav__menu-item-img"
          />
          <div class="main-nav__menu-item-copy">Δώρα</div>
        </div>
        <!-- MENU ITEM -->
        <div class="main-nav__menu-item">
          <img
            src="./images/icons/main-menu-item.svg"
            alt=""
            class="main-nav__menu-item-img"
          />
          <div class="main-nav__menu-item-copy">Καθαριστήρια</div>
        </div>
      </div>
      <!-- SECONDARY MENU -->
      <div class="main-nav__secondary-menu-parent">
        <div class="main-nav__secondary-menu">
          <!-- SECONDARY MENU ITEM -->
          <div class="main-nav__secondary-menu-item">Αρχική Σελίδα</div>
          <!-- SECONDARY MENU ITEM -->
          <div class="main-nav__secondary-menu-item">Blog</div>
          <!-- SECONDARY MENU ITEM -->
          <div class="main-nav__secondary-menu-item">Επικοινωνία</div>
        </div>
      </div>

      <!-- <div>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit
        quis consectetur eos repellat quidem sint! Culpa beatae provident
        aliquam ea facere at, porro nostrum repellendus possimus, numquam
        excepturi deserunt fugiat. Lorem ipsum dolor sit, amet consectetur
        adipisicing elit. Reprehenderit quis consectetur eos repellat quidem
        sint! Culpa beatae provident aliquam ea facere at, porro nostrum
        repellendus possimus, numquam excepturi deserunt fugiat. Lorem ipsum
        dolor sit, amet consectetur adipisicing elit. Reprehenderit quis
        consectetur eos repellat quidem sint! Culpa beatae provident aliquam ea
        facere at, porro nostrum repellendus possimus, numquam excepturi
        deserunt fugiat. Lorem ipsum dolor sit, amet consectetur adipisicing
        elit. Reprehenderit quis consectetur eos repellat quidem sint! Culpa
        beatae provident aliquam ea facere at, porro nostrum repellendus
        possimus, numquam excepturi deserunt fugiat. Lorem ipsum dolor sit, amet
        consectetur adipisicing elit. Reprehenderit quis consectetur eos
        repellat quidem sint! Culpa beatae provident aliquam ea facere at, porro
        nostrum repellendus possimus, numquam excepturi deserunt fugiat. Lorem
        ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit quis
        consectetur eos repellat quidem sint! Culpa beatae provident aliquam ea
        facere at, porro nostrum repellendus possimus, numquam excepturi
        deserunt fugiat.
      </div> -->
    </div>
  </nav>
</header>
