<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>Store</title>
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="./css/styles.css" />
  <script>
    var context = {
      storeID: 12725,
      storeName: 'STORENAME',
      storeAddress: 'Ευφράνορος 21, Αθήνα 116 35',
      deliveryFee: 5.32,
      // rootURL with trailing slash
      rootURL: 'https://www.delivery.gr/',
      mode: 'development',
    };
  </script>
</head>
<!-- DISABLE CORS -->
<!-- "C:\Program Files (x86)\Google\Chrome\Application\chrome.exe" --disable-web-security --disable-gpu --user-data-dir=~/chromeTemp -->
