<header class="header">
  <div class="header__left">
    <div class="header__burger">
      <!-- CONTENT HERE -->
      <img src="./images/icons/burger.svg" alt="" class="header__burger-icon" />
    </div>
  </div>
  <div class="header__center">
    <a href="" class="header__logo">
      <!-- CONTENT HERE -->
      <img src="./images/logo.svg" alt="" class="header__logo-img" />
    </a>
  </div>
  <div class="header__right">
    <div class="header__user">
      <!-- CONTENT HERE -->
      <!-- NOTIFICATION -->
      <a href="" class="header__notification">
        <div class="header__notification-number">2</div>
        <img
          src="./images/icons/notification-bg.svg"
          alt=""
          class="header__notification-img"
        />
      </a>
      <!-- ---- GUEST ---- -->
      <div class="header__login-btn">Σύνδεση</div>

      <!-- ---- LOGGED IN ---- -->
      <!-- USER MODAL -->
      <div class="header__user-modal">
        <!-- BG FOR CLICK EVENT -->
        <div class="header__user-modal-mask"></div>
        <div class="header__user-modal-window">
          <!-- ITEM -->
          <a href="" class="header__user-modal-item">
            <img
              src="./images/icons/user-modal-1.svg"
              alt=""
              class="header__user-modal-item-img"
            />
            <div class="header__user-modal-item-copy">Στοιχεία</div>
          </a>
          <!-- ITEM -->
          <a href="" class="header__user-modal-item">
            <img
              src="./images/icons/user-modal-1.svg"
              alt=""
              class="header__user-modal-item-img"
            />
            <div class="header__user-modal-item-copy">Οι παραγγελίες μου</div>
          </a>
          <!-- ITEM -->
          <a href="" class="header__user-modal-item">
            <img
              src="./images/icons/user-modal-1.svg"
              alt=""
              class="header__user-modal-item-img"
            />
            <div class="header__user-modal-item-copy">Αγαπημένα</div>
          </a>
          <!-- ITEM -->
          <a href="" class="header__user-modal-item">
            <img
              src="./images/icons/user-modal-1.svg"
              alt=""
              class="header__user-modal-item-img"
            />
            <div class="header__user-modal-item-copy">Eat & Win</div>
          </a>
          <!-- ITEM -->
          <a href="" class="header__user-modal-item">
            <img
              src="./images/icons/user-modal-1.svg"
              alt=""
              class="header__user-modal-item-img"
            />
            <div class="header__user-modal-item-copy">Κουπόνια</div>
          </a>
          <!-- ITEM -->
          <a href="" class="header__user-modal-item">
            <img
              src="./images/icons/user-modal-1.svg"
              alt=""
              class="header__user-modal-item-img"
            />
            <div class="header__user-modal-item-copy">Κάρτες</div>
          </a>
          <!-- ITEM -->
          <a href="" class="header__user-modal-item">
            <img
              src="./images/icons/user-modal-1.svg"
              alt=""
              class="header__user-modal-item-img"
            />
            <div class="header__user-modal-item-copy">Διευθύνσεις</div>
          </a>
          <!-- ITEM -->
          <a href="" class="header__user-modal-item">
            <img
              src="./images/icons/user-modal-1.svg"
              alt=""
              class="header__user-modal-item-img"
            />
            <div class="header__user-modal-item-copy">
              Ρυθμίσεις Ενημερώσεων
            </div>
          </a>
          <!-- ITEM -->
          <a href="" class="header__user-modal-item">
            <img
              src="./images/icons/user-modal-1.svg"
              alt=""
              class="header__user-modal-item-img"
            />
            <div class="header__user-modal-item-copy">Αποσύνδεση</div>
          </a>
        </div>
      </div>
      <!-- USER PHOTO -->
      <!-- <div class="header__user-photo">
        <img src="./images/user.jpg" alt="" class="header__user-photo-img" />
      </div> -->
    </div>
  </div>

  <!-- FULLSCREEN MENU -->
  <nav class="main-nav">
    <!-- TOP PART -->
    <div class="main-nav__top">
      <img
        src="./images/icons/burger-close.svg"
        alt=""
        class="main-nav__top-burger-icon"
      />
    </div>
    <!-- SCROLLABLE -->
    <div class="main-nav__scrollable">
      <!-- MENU -->
      <div class="main-nav__menu">
        <!-- MENU ITEM -->
        <a href="" class="main-nav__menu-item">
          <img
            src="./images/icons/main-menu-item.svg"
            alt=""
            class="main-nav__menu-item-img"
          />
          <div class="main-nav__menu-item-copy">Εστιατόρια</div>
        </a>
        <!-- MENU ITEM -->
        <a href="" class="main-nav__menu-item main-nav__menu-item--active">
          <img
            src="./images/icons/main-menu-item.svg"
            alt=""
            class="main-nav__menu-item-img"
          />
          <div class="main-nav__menu-item-copy">Καφέ Snack</div>
        </a>
        <!-- MENU ITEM -->
        <a href="" class="main-nav__menu-item js-needs-address">
          <img
            src="./images/icons/main-menu-item.svg"
            alt=""
            class="main-nav__menu-item-img"
          />
          <div class="main-nav__menu-item-copy">Grocery</div>
        </a>
        <!-- MENU ITEM -->
        <a href="" class="main-nav__menu-item">
          <img
            src="./images/icons/main-menu-item.svg"
            alt=""
            class="main-nav__menu-item-img"
          />
          <div class="main-nav__menu-item-copy">Κάβες</div>
        </a>
        <!-- MENU ITEM -->
        <a href="" class="main-nav__menu-item">
          <img
            src="./images/icons/main-menu-item.svg"
            alt=""
            class="main-nav__menu-item-img"
          />
          <div class="main-nav__menu-item-copy">Δώρα</div>
        </a>
        <!-- MENU ITEM -->
        <a href="" class="main-nav__menu-item">
          <img
            src="./images/icons/main-menu-item.svg"
            alt=""
            class="main-nav__menu-item-img"
          />
          <div class="main-nav__menu-item-copy">Καθαριστήρια</div>
        </a>
      </div>
      <!-- SECONDARY MENU -->
      <div class="main-nav__secondary-menu-parent">
        <div class="main-nav__secondary-menu">
          <!-- SECONDARY MENU ITEM -->
          <a href="" class="main-nav__secondary-menu-item">Αρχική Σελίδα</a>
          <!-- SECONDARY MENU ITEM -->
          <a href="" class="main-nav__secondary-menu-item">Blog</a>
          <!-- SECONDARY MENU ITEM -->
          <a href="" class="main-nav__secondary-menu-item">Επικοινωνία</a>
        </div>
      </div>
    </div>
  </nav>
</header>
