<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no"
  />

  <title>Store</title>
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap"
    rel="stylesheet"
  />

  <link rel="stylesheet" href="./css/styles.css" />
  <script>
    var context = {
      storeID: 13138,
      storeName: 'STORENAME',
      storeAddress: 'Ευφράνορος 21, Αθήνα 116 35',
      isSelectedAddressSupported: true,
      isMarketView: true,
      deliveryFee: 5.32,
      // rootURL with trailing slash
      rootURL: 'https://staging.delivery.gr/',
      assetsURL: './',
      imagesURL: './images/',
      mode: 'development',
      // to match web, desktop, mobile or app
      orderOrigin: '2',
      isUserLoggedIn: true,
      chargeAmount: 5510,
      isLoadMoreOffers: true,
      csrfToken: '207364873960ba15a5619aa9.74143386',
      vivaBaseURL: 'https://demo-api.vivapayments.com/',
      vivaAuthToken:
        '9238B7B528A0DE0AFABE4C30DF149486A7FDFA1F031CBE4E8FBEF3D9E4A44DF1',
      promos: ['promo1', 'promo2', 'promo3', 'promo4', 'promo5'],
      redirectURLfromAddress: 'http://localhost:3000/catalog.html/',
      needsTobaccoConsent: true,
      showMissingData: false,
      redirectOnNegativeTobaccoConsent: 'https://google.com/',
      clickandcallURL: 'https://google.com/',
      userPhone: '6985544555',
      needsAlcoholConsent: false,
      noAvailableTimeslots: false,
      googleMapsApiKey: 'AIzaSyASJJKDrGicSfsdR2lvlboSJA11lzxCDpA',
      productsSearchUrl: 'https://api.ibutler.gr/search/market/13138/',
      timeslotType: 'delivery_only',
      timeslotType: 'delivery_and_pickup',
      // selectedTimeslots: {
      //   delivery: {
      //     date: '2022-01-01',
      //     from: '09:00',
      //     to: '10:00',
      //     slotId: '2',
      //     day: 'Δευτέρα',
      //     dateSmall: '01/01',
      //     expired: false,
      //   },
      //   pickup: {
      //     date: '2021-08-07',
      //     from: '08:00',
      //     to: '09:00',
      //     slotId: '31',
      //     day: 'Δευτέρα',
      //     dateSmall: '08/07',
      //     expired: false,
      //   },
      // },
    };
  </script>
</head>
