<!-- PRODUCTS -->
<div class="market-menu__products">
  <!-- PRODUCT ROW -->
  <div class="market-menu__product-row">
    <!-- PRODUCT COLUMN -->
    <div class="market-menu__product-col">
      <!-- PRODUCT -->
      <div class="market-menu__product js-product" data-product-id="185">
        <div class="market-menu__product-image-container">
          <div class="market-menu__product-badge">
            <img
              src="./images/icons/bomb.svg"
              alt=""
              class="market-menu__product-badge-image mr-6"
            />
            <div>Κέρδος 40%</div>
          </div>
          <img
            src="./images/market-img.jpg"
            alt=""
            class="market-menu__product-image"
          />
        </div>
        <div class="market-menu__product-info">
          <div class="market-menu__product-title">
            ΑΙΑ Cordon Bleu Σνίτσελ Κοτόπουλο Γαλοπούλα 490 GR
          </div>
          <div class="market-menu__product-small-text">15,18€ / κιλό</div>
          <div class="market-menu__product-price-container">
            <div class="market-menu__product-price">0,99€</div>
            <div class="market-menu__product-price-old">1,32€</div>
          </div>
        </div>
        <!-- ACTION BAR -->
        <div class="market-menu__product-action-bar">
          <!-- ADD TO BASKET -->
          <div class="market-menu__product-quick-add-btn">
            <img class="mr-8" src="./images/icons/quick-add-cart.svg" alt="" />
            <div>Προσθήκη</div>
          </div>

          <!-- CHANGE QTY -->
          <div class="market-menu__product-change-qty-btn">
            <div class="market-menu__product-plus-trigger"></div>
            <div class="market-menu__product-minus-trigger"></div>
            <div class="market-menu__product-change-qty-btn-minus">
              <img
                src="./images/icons/market-minus.svg"
                alt=""
                class="product-modal__add-to-cart-qty-minus-img"
              />
            </div>
            <div class="market-menu__product-change-qty-btn-value">
              <div class="js-qty">1</div>
            </div>
            <div class="market-menu__product-change-qty-btn-plus">
              <img
                src="./images/icons/market-plus.svg"
                alt=""
                class="product-modal__add-to-cart-qty-plus-img"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- PRODUCT COLUMN -->
    <div class="market-menu__product-col">
      <!-- PRODUCT -->
      <div class="market-menu__product js-product" data-product-id="1411216">
        <div class="market-menu__product-image-container">
          <div class="market-menu__product-badge">
            <img
              src="./images/icons/bomb.svg"
              alt=""
              class="market-menu__product-badge-image mr-6"
            />
            <div>Κέρδος 40%</div>
          </div>
          <img
            src="./images/market-img-2.jpg"
            alt=""
            class="market-menu__product-image"
          />
        </div>
        <div class="market-menu__product-info">
          <div class="market-menu__product-title">QUAKER Νιφάδες</div>
          <div class="market-menu__product-small-text">15,18€ / κιλό</div>
          <div class="market-menu__product-price-container">
            <div class="market-menu__product-price">0,99€</div>
          </div>
        </div>
        <!-- ACTION BAR -->
        <div class="market-menu__product-action-bar">
          <!-- ADD TO BASKET -->
          <div class="market-menu__product-quick-add-btn">
            <img class="mr-8" src="./images/icons/quick-add-cart.svg" alt="" />
            <div>Προσθήκη</div>
          </div>

          <!-- CHANGE QTY -->
          <div class="market-menu__product-change-qty-btn">
            <div class="market-menu__product-plus-trigger"></div>
            <div class="market-menu__product-minus-trigger"></div>
            <div class="market-menu__product-change-qty-btn-minus">
              <img
                src="./images/icons/market-minus.svg"
                alt=""
                class="product-modal__add-to-cart-qty-minus-img"
              />
            </div>
            <div class="market-menu__product-change-qty-btn-value">
              <div class="js-qty">1</div>
            </div>
            <div class="market-menu__product-change-qty-btn-plus">
              <img
                src="./images/icons/market-plus.svg"
                alt=""
                class="product-modal__add-to-cart-qty-plus-img"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- PRODUCT COLUMN -->
    <div class="market-menu__product-col">
      <!-- PRODUCT -->
      <div class="market-menu__product js-product" data-product-id="1411216">
        <div class="market-menu__product-image-container">
          <div class="market-menu__product-badge">
            <img
              src="./images/icons/bomb.svg"
              alt=""
              class="market-menu__product-badge-image mr-6"
            />
            <div>Κέρδος 40%</div>
          </div>
          <img
            src="./images/market-img.jpg"
            alt=""
            class="market-menu__product-image"
          />
        </div>
        <div class="market-menu__product-info">
          <div class="market-menu__product-title">
            ΑΙΑ Cordon Bleu Σνίτσελ Κοτόπουλο Γαλοπούλα 490 GR
          </div>
          <div class="market-menu__product-small-text">15,18€ / κιλό</div>
          <div class="market-menu__product-price-container">
            <div class="market-menu__product-price">0,99€</div>
            <div class="market-menu__product-price-old">1,32€</div>
          </div>
        </div>
        <!-- ACTION BAR -->
        <div class="market-menu__product-action-bar">
          <!-- ADD TO BASKET -->
          <div class="market-menu__product-quick-add-btn">
            <img class="mr-8" src="./images/icons/quick-add-cart.svg" alt="" />
            <div>Προσθήκη</div>
          </div>

          <!-- CHANGE QTY -->
          <div class="market-menu__product-change-qty-btn">
            <div class="market-menu__product-plus-trigger"></div>
            <div class="market-menu__product-minus-trigger"></div>
            <div class="market-menu__product-change-qty-btn-minus">
              <img
                src="./images/icons/market-minus.svg"
                alt=""
                class="product-modal__add-to-cart-qty-minus-img"
              />
            </div>
            <div class="market-menu__product-change-qty-btn-value">
              <div class="js-qty">1</div>
            </div>
            <div class="market-menu__product-change-qty-btn-plus">
              <img
                src="./images/icons/market-plus.svg"
                alt=""
                class="product-modal__add-to-cart-qty-plus-img"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- PRODUCT COLUMN -->
    <div class="market-menu__product-col">
      <!-- PRODUCT -->
      <div class="market-menu__product js-product" data-product-id="1411216">
        <div class="market-menu__product-image-container">
          <div class="market-menu__product-badge">
            <img
              src="./images/icons/bomb.svg"
              alt=""
              class="market-menu__product-badge-image mr-6"
            />
            <div>Κέρδος 40%</div>
          </div>
          <img
            src="./images/market-img-2.jpg"
            alt=""
            class="market-menu__product-image"
          />
        </div>
        <div class="market-menu__product-info">
          <div class="market-menu__product-title">QUAKER Νιφάδες</div>
          <div class="market-menu__product-small-text">15,18€ / κιλό</div>
          <div class="market-menu__product-price-container">
            <div class="market-menu__product-price">0,99€</div>
          </div>
        </div>
        <!-- ACTION BAR -->
        <div class="market-menu__product-action-bar">
          <!-- ADD TO BASKET -->
          <div class="market-menu__product-quick-add-btn">
            <img class="mr-8" src="./images/icons/quick-add-cart.svg" alt="" />
            <div>Προσθήκη</div>
          </div>

          <!-- CHANGE QTY -->
          <div class="market-menu__product-change-qty-btn">
            <div class="market-menu__product-plus-trigger"></div>
            <div class="market-menu__product-minus-trigger"></div>
            <div class="market-menu__product-change-qty-btn-minus">
              <img
                src="./images/icons/market-minus.svg"
                alt=""
                class="product-modal__add-to-cart-qty-minus-img"
              />
            </div>
            <div class="market-menu__product-change-qty-btn-value">
              <div class="js-qty">1</div>
            </div>
            <div class="market-menu__product-change-qty-btn-plus">
              <img
                src="./images/icons/market-plus.svg"
                alt=""
                class="product-modal__add-to-cart-qty-plus-img"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
