<!-- PRODUCTS -->
<div class="store-menu__products">
  <!-- PRODUCT -->
  <div
    class="store-menu__product"
    data-url="/productModal.html"
    data-product-id="8887776"
  >
    <!-- INFORMATION -->
    <div class="store-menu__product-information">
      <!-- TITLE -->
      <div class="store-menu__product-title" title="">Title</div>
      <!-- DESCRIPTION -->
      <div class="store-menu__product-description" title="">
        Με σπανάκι σωτέ, σάλτσα holladaisse και νιφάδες από προσούτο Πάρμας
      </div>
      <!-- PRICE -->
      <div class="store-menu__product-price-container">
        <div class="store-menu__product-price">€0,00</div>
      </div>
    </div>
    <!-- IMAGE -->
    <div class="store-menu__product-img-item">
      <div class="store-menu__product-img-container">
        <img src="images/b5.jpg" alt="" class="store-menu__product-img" />
      </div>
    </div>
  </div>
  <!-- PRODUCT -->
  <div
    class="store-menu__product store-menu__product--out-of-stock"
    data-url="/productModal.html"
    data-product-id="8887776"
  >
    <!-- INFORMATION -->
    <div class="store-menu__product-information">
      <!-- TITLE -->
      <div class="store-menu__product-title" title="">Title</div>
      <!-- DESCRIPTION -->
      <div class="store-menu__product-description" title="">
        Με σπανάκι σωτέ, σάλτσα holladaisse και νιφάδες από προσούτο Πάρμας
      </div>
      <!-- PRICE -->
      <div class="store-menu__product-price-container">
        <div class="store-menu__product-price">€0,00</div>
        <div class="store-menu__product-out-of-stock">Μη διαθέσιμο</div>
      </div>
    </div>
    <!-- IMAGE -->
    <div class="store-menu__product-img-item">
      <div class="store-menu__product-img-container">
        <img src="images/b5.jpg" alt="" class="store-menu__product-img" />
      </div>
    </div>
  </div>
  <!-- PRODUCT -->
  <div
    class="store-menu__product store-menu__product--out-of-stock"
    data-url="/productModal.html"
    data-product-id="8887776"
  >
    <!-- INFORMATION -->
    <div class="store-menu__product-information">
      <!-- TITLE -->
      <div class="store-menu__product-title" title="">Title</div>
      <!-- DESCRIPTION -->
      <div class="store-menu__product-description" title="">
        Με σπανάκι σωτέ, σάλτσα holladaisse και νιφάδες από προσούτο Πάρμας
      </div>
      <!-- PRICE -->
      <div class="store-menu__product-price-container">
        <div class="store-menu__product-price">€0,00</div>
        <div class="store-menu__product-out-of-stock">Μη διαθέσιμο</div>
      </div>
    </div>
  </div>
  <!-- PRODUCT -->
  <div
    class="store-menu__product"
    data-url="/productModal.html"
    data-product-id="8887776"
  >
    <!-- INFORMATION -->
    <div class="store-menu__product-information">
      <!-- TITLE -->
      <div class="store-menu__product-title" title="">Title</div>
      <!-- DESCRIPTION -->
      <div class="store-menu__product-description" title="">
        Με σπανάκι σωτέ, σάλτσα holladaisse και νιφάδες από προσούτο Πάρμας
      </div>
      <!-- PRICE -->
      <div class="store-menu__product-price-container">
        <div class="store-menu__product-price">€0,00</div>
      </div>
    </div>
    <!-- IMAGE -->
    <div class="store-menu__product-img-item">
      <div class="store-menu__product-img-container">
        <img src="images/b5.jpg" alt="" class="store-menu__product-img" />
      </div>
    </div>
  </div>
  <!-- PRODUCT IN CART -->
  <div
    class="store-menu__product store-menu__product--in-cart"
    data-url="/productModal.html"
    data-product-id="8887776"
  >
    <!-- INFORMATION -->
    <div class="store-menu__product-information">
      <!-- TITLE -->
      <div class="store-menu__product-title" title="">Title</div>
      <!-- DESCRIPTION -->
      <div class="store-menu__product-description" title="">
        Με σπανάκι σωτέ, σς
      </div>
      <!-- PRICE -->
      <div class="store-menu__product-price-container">
        <div class="store-menu__product-price">€0,00</div>
      </div>
    </div>
    <!-- IMAGE -->
    <div class="store-menu__product-img-item">
      <div class="store-menu__product-img-container">
        <img src="images/b5.jpg" alt="" class="store-menu__product-img" />
      </div>
    </div>
  </div>
  <!-- PRODUCT IN CART -->
  <div
    class="store-menu__product store-menu__product--in-cart"
    data-url="/productModal.html"
    data-product-id="8887776"
  >
    <!-- INFORMATION -->
    <div class="store-menu__product-information">
      <!-- TITLE -->
      <div class="store-menu__product-title" title="">
        Λευκή σοκολάτα με goji berry, βανίλια Μαδαγασκάρης & raspberry
      </div>
      <!-- DESCRIPTION -->
      <div class="store-menu__product-description" title=""></div>
      <!-- PRICE -->
      <div class="store-menu__product-price-container">
        <div class="store-menu__product-price">€0,00</div>
      </div>
    </div>
    <!-- IMAGE -->
    <div class="store-menu__product-img-item">
      <div class="store-menu__product-img-container">
        <img src="images/b5.jpg" alt="" class="store-menu__product-img" />
      </div>
    </div>
  </div>
  <!-- PRODUCT IN CART -->
  <div
    class="store-menu__product store-menu__product--in-cart"
    data-url="/productModal.html"
    data-product-id="8887776"
  >
    <!-- INFORMATION -->
    <div class="store-menu__product-information">
      <!-- TITLE -->
      <div class="store-menu__product-title" title="">
        Λευκή σοκολάτα με goji berry, βανίλια Μαδαγασκάρης & raspberry
      </div>
      <!-- DESCRIPTION -->
      <div class="store-menu__product-description" title="">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio,
        dicta, laborum et ullam fugiat, quis aut obcaecati nihil veritatis
        quisquam earum assumenda molestias dolor? Maiores laborum quasi debitis
        laudantium alias!
      </div>
      <!-- PRICE -->
      <div class="store-menu__product-price-container">
        <div class="store-menu__product-price">€0,00</div>
      </div>
    </div>
    <!-- IMAGE -->
    <div class="store-menu__product-img-item">
      <div class="store-menu__product-img-container">
        <img src="images/b5.jpg" alt="" class="store-menu__product-img" />
      </div>
    </div>
  </div>
  <!-- PRODUCT -->
  <div
    class="store-menu__product"
    data-url="/productModal.html"
    data-product-id="8887776"
  >
    <!-- INFORMATION -->
    <div class="store-menu__product-information">
      <!-- TITLE -->
      <div class="store-menu__product-title" title="">Title</div>
      <!-- DESCRIPTION -->
      <div class="store-menu__product-description" title="">
        Με σπανάκι σωτέ, σάλτσα holladaisse και νιφάδες από προσούτο Πάρμας
      </div>
      <!-- PRICE -->
      <div class="store-menu__product-price-container">
        <div class="store-menu__product-price">€0,00</div>
        <div class="store-menu__product-old-price">€0,00</div>
      </div>
    </div>
    <!-- IMAGE -->
    <div class="store-menu__product-img-item">
      <div class="store-menu__product-img-container">
        <img src="images/b5.jpg" alt="" class="store-menu__product-img" />
      </div>
    </div>
  </div>
  <!-- PRODUCT -->
  <div
    class="store-menu__product"
    data-url="/productModal.html"
    data-product-id="8887776"
  >
    <!-- INFORMATION -->
    <div class="store-menu__product-information">
      <!-- TITLE -->
      <div class="store-menu__product-title" title="">Title</div>
      <!-- DESCRIPTION -->
      <div class="store-menu__product-description" title="">
        Με σπανάκι σωτέ, σάλτσα holladaisse και νιφάδες από προσούτο Πάρμας
      </div>
      <!-- PRICE -->
      <div class="store-menu__product-price-container">
        <div class="store-menu__product-price">€0,00</div>
        <div class="store-menu__product-old-price">€0,00</div>
        <div class="store-menu__product-tag">Νέο</div>
      </div>
    </div>
    <!-- IMAGE -->
    <div class="store-menu__product-img-item">
      <div class="store-menu__product-img-container">
        <img src="images/b5.jpg" alt="" class="store-menu__product-img" />
      </div>
    </div>
  </div>
  <!-- PRODUCT -->
  <div
    class="store-menu__product"
    data-url="/productModal.html"
    data-product-id="8887776"
  >
    <!-- INFORMATION -->
    <div class="store-menu__product-information">
      <!-- TITLE -->
      <div class="store-menu__product-title" title="">Title</div>
      <!-- DESCRIPTION -->
      <div class="store-menu__product-description" title="">
        Με σπανάκι σωτέ, σάλτσα holladaisse και νιφάδες από προσούτο Πάρμας
      </div>
      <!-- PRICE -->
      <div class="store-menu__product-price-container">
        <div class="store-menu__product-price">€0,00</div>
        <div class="store-menu__product-old-price">€0,00</div>
        <div class="store-menu__product-tag">Δημοφιλές</div>
      </div>
    </div>
    <!-- IMAGE -->
    <div class="store-menu__product-img-item">
      <div class="store-menu__product-img-container">
        <img src="images/b5.jpg" alt="" class="store-menu__product-img" />
      </div>
    </div>
  </div>
  <!-- PRODUCT NO IMAGE -->
  <div
    class="store-menu__product"
    data-url="/productModal.html"
    data-product-id="8887776"
  >
    <!-- INFORMATION -->
    <div class="store-menu__product-information">
      <!-- TITLE -->
      <div class="store-menu__product-title" title="">Title</div>
      <!-- DESCRIPTION -->
      <div class="store-menu__product-description" title="">
        Με σπανάκι σωτέ, σάλτσα holladaisse και νιφάδες από προσούτο Πάρμαςasd
        aslaksd laksdjalskd jkasdlk ajlksdlk jaslkjd lasjdlkasjkldklasj
        alksjdlaks jaslkdjalksd jlaskjd lksadj
      </div>
      <!-- PRICE -->
      <div class="store-menu__product-price-container">
        <div class="store-menu__product-price">€0,00</div>
      </div>
    </div>
  </div>
</div>
