<template class="product-modal-template">
  <div class="product-modal">
    <!-- WINDOW -->
    <div class="product-modal__window">
      <!-- HEADER -->
      <div class="product-modal__header">
        <div class="product-modal__header-left">
          <div class="product-modal__title">${title}</div>
        </div>
        <div class="product-modal__header-right">
          <div class="product-modal__close-btn">
            <img
              src="./images/icons/modal-close.svg"
              alt=""
              class="product-modal__close-btn-img"
            />
          </div>
        </div>
      </div>
      <!-- BODY -->
      <div class="product-modal__body">
        <!-- PHOTOS SLIDER -->
        <div class="product-modal__slider swiper-container">
          <div class="swiper-wrapper">
            <!-- SLIDE ITEM -->
            <div class="swiper-slide">
              <div class="product-modal__slide">
                <img
                  src="./images/b1.jpg"
                  alt=""
                  class="product-modal__slide-img"
                />
              </div>
            </div>
            <!-- SLIDE ITEM -->
            <div class="swiper-slide">
              <div class="product-modal__slide">
                <img
                  src="./images/b2.jpg"
                  alt=""
                  class="product-modal__slide-img"
                />
              </div>
            </div>
          </div>
          <!-- Add Pagination -->
          <div class="swiper-pagination"></div>
        </div>
        <!-- DESCRIPTION -->
        <div class="product-modal__description">${description}</div>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex, pariatur
          praesentium quo iure error vel nam aliquid eveniet, magni optio
          recusandae tempore sunt odio repellat labore, deserunt corporis hic
          impedit. Eaque doloremque error, ipsum, nisi dignissimos iusto
          cupiditate eveniet alias, laudantium architecto vero enim recusandae?
          Inventore enim ratione doloribus commodi! Animi facilis ducimus nihil
          praesentium, blanditiis aliquam perspiciatis voluptatem nostrum. Quod,
          ab iusto autem omnis dolores ea sunt. Reiciendis consectetur sed ad
          rerum. Et assumenda neque sint unde accusamus. Iste, atque?
          Blanditiis, dolores dignissimos ex impedit suscipit optio. Maiores,
          minus. Magni eveniet veritatis illum quasi recusandae dolorem
          laboriosam corporis iste dolorum tempora suscipit rem, id quam ipsa
          iure quod iusto ratione autem fugiat incidunt in. A, iusto rerum.
          Voluptates, molestias. Commodi ex ea explicabo! Sequi assumenda
          eligendi, ullam, numquam accusantium illo officia nam error deserunt
          possimus natus magni, voluptas earum ab? Id expedita explicabo dolorem
          eligendi ratione culpa aperiam quas. Quibusdam dolore accusamus animi,
          architecto praesentium officiis id ullam, consectetur recusandae sed
          eaque est assumenda culpa quasi possimus? Repudiandae unde dolorem
          animi nam placeat libero ipsa ea ex aut quia. Temporibus perspiciatis
          odit quam voluptate modi sapiente eum, accusamus esse iste quasi
          nesciunt explicabo sunt ex! Repudiandae beatae iste porro odio neque
          sapiente quibusdam dolorem sunt! Aut nam maiores adipisci! Enim
          voluptates repellat repellendus quo asperiores, ipsa omnis
          accusantium, nemo velit nesciunt tenetur tempore, iure veritatis illo
          illum blanditiis ipsum sequi. Necessitatibus officiis sed ipsa laborum
          autem nesciunt a repellendus? Ex odit accusamus voluptas, distinctio
          doloremque perferendis tenetur consequuntur nam rerum praesentium
          eveniet ad a quo commodi mollitia ea cupiditate magni nulla alias
          excepturi. Quae vitae cumque libero est. Placeat. Consequatur enim
          esse, modi ipsa ratione ducimus aliquid libero qui quidem blanditiis
          error, harum quaerat illum beatae amet quasi, numquam nobis ipsam quod
          sit dolorem minima nam saepe animi! Qui? Id cupiditate dolorem odio
          suscipit placeat, magni possimus nesciunt. Aut velit, rerum asperiores
          porro vel aperiam delectus ea rem eius provident impedit reiciendis
          laboriosam expedita eveniet atque sit inventore. Quos? Rem, ut!
          Tempore, architecto rem consequuntur cupiditate repellendus culpa
          quibusdam, id quae tenetur nisi ipsum! Perferendis recusandae nisi
          temporibus cumque ducimus, hic quae, tempora quam debitis sit,
          assumenda voluptate odio. Asperiores iure fugit nulla accusamus, vero
          voluptate earum velit neque modi quisquam excepturi quis nostrum ipsa
          similique, doloribus cum sed nobis natus consectetur in,
          exercitationem placeat voluptates vitae. Cupiditate, quasi! Explicabo
          soluta enim impedit odit mollitia. Unde, mollitia. Quibusdam
          repellendus molestiae velit accusamus molestias, doloremque labore
          impedit voluptate, eum quaerat blanditiis, enim pariatur vel! Fuga
          omnis labore voluptas sequi facilis! Ducimus officia nostrum, velit
          tempora facilis consequuntur porro nesciunt asperiores quasi illum
          dolorum omnis inventore necessitatibus hic nihil autem eligendi dolor
          explicabo esse pariatur aut dignissimos voluptas ab illo? Doloremque?
          Ea iste dolorem id voluptas accusantium illum a labore quaerat,
          nesciunt necessitatibus, veniam, esse molestias assumenda?
          Reprehenderit repudiandae eligendi quibusdam amet placeat voluptatibus
          incidunt, mollitia rem est blanditiis at provident? Rerum nam
          voluptate quasi delectus totam, consectetur fugiat nobis perferendis
          numquam. Sequi autem adipisci cumque, aspernatur obcaecati blanditiis.
          Doloribus quisquam quo a dignissimos nulla rem. Aliquam est dolor a
          corporis. Provident magni commodi quis, doloremque, aliquid maiores,
          dolore consectetur possimus maxime quibusdam neque animi vel.
          Obcaecati eos at ut omnis! Quo vel, adipisci possimus similique
          molestiae rerum? Modi, officia optio! Iusto incidunt cupiditate illo
          impedit. Blanditiis nulla amet magnam, quis, delectus a eaque officia
          necessitatibus rerum maxime quibusdam eum exercitationem iste dolore
          ex consequatur asperiores, saepe vel neque similique quidem?
        </p>
      </div>
    </div>
  </div>
</template>
