<section class="search-and-filters">
  <div class="search-and-filters__search">
    <div class="search-and-filters__search-box">
      <img
        src="./images/icons/magnify.svg"
        alt=""
        class="search-and-filters__search-box-img"
      />
      <input
        class="search-and-filters__search-box-input"
        type="text"
        placeholder="Αναζήτηση"
      />
    </div>
  </div>
  <div class="search-and-filters__filters">
    <div class="search-and-filters__filters-box">
      <img
        src="./images/icons/filters.svg"
        alt=""
        class="search-and-filters__filters-box-img"
      />
      <div class="search-and-filters__filters-box-copy">Φίλτρα</div>
    </div>
  </div>
</section>
