<section class="search-and-filters search-and-filters--markets">
  <div class="search-and-filters__container">
    <div class="search-and-filters__search">
      <div class="search-and-filters__search-box">
        <img
          src="./images/icons/magnify.svg"
          alt=""
          class="search-and-filters__search-box-img"
        />
        <img
          src="./images/icons/search-active.svg"
          alt=""
          class="search-and-filters__search-box-img-active"
        />
        <input
          class="search-and-filters__search-box-input"
          disabled
          type="text"
          placeholder="Αναζήτηση"
        />
        <img
          src="./images/icons/close-search.svg"
          alt=""
          class="search-and-filters__search-box-close-img d-none"
        />
      </div>
    </div>
    <div class="search-and-filters__filters">
      <div class="search-and-filters__filters-box">
        <img
          src="./images/icons/filters.svg"
          alt=""
          class="search-and-filters__filters-box-img"
        />
        <img
          src="./images/icons/filters-active.svg"
          alt=""
          class="search-and-filters__filters-box-img-active"
        />
        <div class="search-and-filters__filters-box-copy">Κατηγορίες</div>
      </div>
    </div>
  </div>
</section>
