<section class="search-and-filters">
  <div class="search-and-filters__container">
    <div class="search-and-filters__search">
      <div class="search-and-filters__search-box">
        <img
          src="./images/icons/magnify.svg"
          alt=""
          class="search-and-filters__search-box-img"
        />
        <img
          src="./images/icons/search-active.svg"
          alt=""
          class="search-and-filters__search-box-img-active"
        />
        <input
          class="search-and-filters__search-box-input"
          type="text"
          placeholder="Αναζήτηση"
        />
        <img
          src="./images/icons/close-search.svg"
          alt=""
          class="search-and-filters__search-box-close-img d-none"
        />
      </div>
    </div>
    <div class="search-and-filters__filters">
      <div class="search-and-filters__filters-box">
        <img
          src="./images/icons/filters.svg"
          alt=""
          class="search-and-filters__filters-box-img"
        />
        <img
          src="./images/icons/filters-active.svg"
          alt=""
          class="search-and-filters__filters-box-img-active"
        />
        <div class="search-and-filters__filters-box-copy">Φίλτρα</div>
      </div>
    </div>
  </div>
</section>

<!-- FILTERS / SORTING MODAL -->
<div class="search-and-filters__modal modal">
  <!-- THE ACTUAL WINDOW -->
  <div class="modal__window">
    <!-- HEADER -->
    <div class="modal__header">
      <div class="modal__header-left">
        <img
          src="./images/icons/filters.svg"
          alt=""
          class="search-and-filters__filters-box-img"
        />
        <div class="">Filters</div>
      </div>
      <div class="modal__header-right">
        <div class="js-close">
          <img src="./images/icons/modal-close.svg" alt="" class="" />
        </div>
      </div>
    </div>
    <!-- BODY -->
    <div class="modal__body">
      <!-- FILTER -->
      <div class="search-and-filters__filter-section">
        <div class="px-16 py-10 font-size-5 font-weight-700 font-averta">
          Filter
        </div>
        <div class="p-16">
          <div class="search-and-filters__filter-section-cards">
            <!-- SORT ITEM -->
            <div class="search-and-filters__filter-section-cards-col">
              <div
                class="search-and-filters__filter-section-cards-item"
                data-filter="promo1"
              >
                <div class="search-and-filters__filter-section-cards-item-top">
                  <div
                    class="
                      search-and-filters__filter-section-cards-item-top-checkbox-container
                    "
                  >
                    <img src="./images/icons/sort-inactive.svg" alt="" />
                    <img
                      class="
                        search-and-filters__filter-section-cards-item-checkbox-container-active
                      "
                      src="./images/icons/sort-active.svg"
                      alt=""
                    />
                  </div>
                  <div
                    class="
                      search-and-filters__filter-section-cards-item-top-count
                    "
                  >
                    900
                  </div>
                </div>
                <img
                  src="./images/promos/promo1.svg"
                  alt=""
                  class="search-and-filters__filter-section-cards-item-img"
                />
                <div
                  class="
                    search-and-filters__filter-section-cards-item-description
                  "
                >
                  Επιλεγμένα combo menus με 50% έκπτωση; Click εδώ!
                </div>
              </div>
            </div>
            <!-- SORT ITEM -->
            <div class="search-and-filters__filter-section-cards-col">
              <div
                class="search-and-filters__filter-section-cards-item"
                data-filter="promo2"
              >
                <div class="search-and-filters__filter-section-cards-item-top">
                  <div
                    class="
                      search-and-filters__filter-section-cards-item-top-checkbox-container
                    "
                  >
                    <img src="./images/icons/sort-inactive.svg" alt="" />
                    <img
                      class="
                        search-and-filters__filter-section-cards-item-checkbox-container-active
                      "
                      src="./images/icons/sort-active.svg"
                      alt=""
                    />
                  </div>
                  <div
                    class="
                      search-and-filters__filter-section-cards-item-top-count
                    "
                  >
                    900
                  </div>
                </div>
                <img
                  src="./images/promos/promo2.svg"
                  alt=""
                  class="search-and-filters__filter-section-cards-item-img"
                />
                <div
                  class="
                    search-and-filters__filter-section-cards-item-description
                  "
                >
                  Διάλεξες ένα προϊόν; Σου δίνουμε δώρο ένα δεύτερο!
                </div>
              </div>
            </div>
            <!-- SORT ITEM -->
            <div class="search-and-filters__filter-section-cards-col">
              <div
                class="search-and-filters__filter-section-cards-item"
                data-filter="promo3"
              >
                <div class="search-and-filters__filter-section-cards-item-top">
                  <div
                    class="
                      search-and-filters__filter-section-cards-item-top-checkbox-container
                    "
                  >
                    <img src="./images/icons/sort-inactive.svg" alt="" />
                    <img
                      class="
                        search-and-filters__filter-section-cards-item-checkbox-container-active
                      "
                      src="./images/icons/sort-active.svg"
                      alt=""
                    />
                  </div>
                  <div
                    class="
                      search-and-filters__filter-section-cards-item-top-count
                    "
                  >
                    900
                  </div>
                </div>
                <img
                  src="./images/promos/promo3.svg"
                  alt=""
                  class="search-and-filters__filter-section-cards-item-img"
                />
                <div
                  class="
                    search-and-filters__filter-section-cards-item-description
                  "
                >
                  Ψάχνεις για super special προσφορές; Είναι όλες εδώ!
                </div>
              </div>
            </div>
            <!-- SORT ITEM -->
            <div class="search-and-filters__filter-section-cards-col">
              <div
                class="search-and-filters__filter-section-cards-item"
                data-filter="promo4"
              >
                <div class="search-and-filters__filter-section-cards-item-top">
                  <div
                    class="
                      search-and-filters__filter-section-cards-item-top-checkbox-container
                    "
                  >
                    <img src="./images/icons/sort-inactive.svg" alt="" />
                    <img
                      class="
                        search-and-filters__filter-section-cards-item-checkbox-container-active
                      "
                      src="./images/icons/sort-active.svg"
                      alt=""
                    />
                  </div>
                  <div
                    class="
                      search-and-filters__filter-section-cards-item-top-count
                    "
                  >
                    900
                  </div>
                </div>
                <img
                  src="./images/promos/promo4.svg"
                  alt=""
                  class="search-and-filters__filter-section-cards-item-img"
                />
                <div
                  class="
                    search-and-filters__filter-section-cards-item-description
                  "
                >
                  Έκπτωση στο menu; Ναι! Με την πιστωτική σου κάρτα.
                </div>
              </div>
            </div>
            <!-- SORT ITEM -->
            <div class="search-and-filters__filter-section-cards-col">
              <div
                class="search-and-filters__filter-section-cards-item"
                data-filter="promo5"
              >
                <div class="search-and-filters__filter-section-cards-item-top">
                  <div
                    class="
                      search-and-filters__filter-section-cards-item-top-checkbox-container
                    "
                  >
                    <img src="./images/icons/sort-inactive.svg" alt="" />
                    <img
                      class="
                        search-and-filters__filter-section-cards-item-checkbox-container-active
                      "
                      src="./images/icons/sort-active.svg"
                      alt=""
                    />
                  </div>
                  <div
                    class="
                      search-and-filters__filter-section-cards-item-top-count
                    "
                  >
                    900
                  </div>
                </div>
                <img
                  src="./images/promos/promo5.svg"
                  alt=""
                  class="search-and-filters__filter-section-cards-item-img"
                />
                <div
                  class="
                    search-and-filters__filter-section-cards-item-description
                  "
                >
                  Απλή έκπτωση; Όχι! Έκπτωση σε όόόλο το menu!
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- SORT -->
      <div class="search-and-filters__sort-section">
        <div class="px-16 py-10 font-size-5 font-weight-700 font-averta">
          Sort by
        </div>
        <div class="p-16">
          <div class="search-and-filters__sort-section-cards">
            <div class="search-and-filters__sort-section-cards-col">
              <!-- SORT ITEM -->
              <div
                class="
                  search-and-filters__sort-section-cards-item
                  search-and-filters__sort-section-cards-item--active
                "
                data-sort="native"
                data-order="asc"
              >
                <div
                  class="
                    search-and-filters__sort-section-cards-item-checkbox-container
                  "
                >
                  <img src="./images/icons/sort-inactive.svg" alt="" />
                  <img
                    class="
                      search-and-filters__sort-section-cards-item-checkbox-container-active
                    "
                    src="./images/icons/sort-active.svg"
                    alt=""
                  />
                </div>
                <div class="search-and-filters__sort-section-cards-item-copy">
                  Προεπιλεγμένη
                </div>
              </div>
            </div>
            <div class="search-and-filters__sort-section-cards-col">
              <!-- SORT ITEM -->
              <div
                class="search-and-filters__sort-section-cards-item"
                data-sort="name"
                data-order="asc"
              >
                <div
                  class="
                    search-and-filters__sort-section-cards-item-checkbox-container
                  "
                >
                  <img src="./images/icons/sort-inactive.svg" alt="" />
                  <img
                    class="
                      search-and-filters__sort-section-cards-item-checkbox-container-active
                    "
                    src="./images/icons/sort-active.svg"
                    alt=""
                  />
                </div>
                <div class="search-and-filters__sort-section-cards-item-copy">
                  Name
                </div>
              </div>
            </div>
            <div class="search-and-filters__sort-section-cards-col">
              <!-- SORT ITEM -->
              <div
                class="search-and-filters__sort-section-cards-item"
                data-sort="distance"
                data-order="asc"
              >
                <div
                  class="
                    search-and-filters__sort-section-cards-item-checkbox-container
                  "
                >
                  <img src="./images/icons/sort-inactive.svg" alt="" />
                  <img
                    class="
                      search-and-filters__sort-section-cards-item-checkbox-container-active
                    "
                    src="./images/icons/sort-active.svg"
                    alt=""
                  />
                </div>
                <div class="search-and-filters__sort-section-cards-item-copy">
                  Distance
                </div>
              </div>
            </div>
            <div class="search-and-filters__sort-section-cards-col">
              <!-- SORT ITEM -->
              <div
                class="search-and-filters__sort-section-cards-item"
                data-sort="rating"
                data-order="desc"
              >
                <div
                  class="
                    search-and-filters__sort-section-cards-item-checkbox-container
                  "
                >
                  <img src="./images/icons/sort-inactive.svg" alt="" />
                  <img
                    class="
                      search-and-filters__sort-section-cards-item-checkbox-container-active
                    "
                    src="./images/icons/sort-active.svg"
                    alt=""
                  />
                </div>
                <div class="search-and-filters__sort-section-cards-item-copy">
                  Rating
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- STICKY ACTION -->
    <div class="modal__action">
      <div class="py-20 px-16 w-100 d-flex">
        <div
          class="
            primary-btn
            js-clear
            mr-10
            search-and-filters__action-btn
            primary-btn--disabled
          "
        >
          <img
            src="./images/icons/filters-white.svg"
            alt=""
            class="search-and-filters__filters-box-img"
          />
          <div class="copy">Καθαρισμος</div>
        </div>
        <div class="primary-btn js-action-btn search-and-filters__action-btn">
          Πίσω στη λίστα
        </div>
      </div>
    </div>
  </div>
</div>
