<div class="timeslot__trigger">
  <div class="accordion__container accordion__container--smaller">
    <div class="accordion__item">
      <div class="accordion__header">
        <div class="delivery-type__option-header">
          <!-- TOP AND BOTTOM COPY -->
          <div class="delivery-type__option-header-top">
            Διαθέσιμες ώρες παράδοσης ― Σημερά
          </div>
          <div class="delivery-type__option-header-bottom">
            <div class="timeslot__accordion-container">
              <div class="timeslot__item">14:00-15:00</div>
              <div class="timeslot__item">14:00-15:00</div>
              <div class="timeslot__item">14:00-15:00</div>
              <div class="timeslot__item">14:00-15:00</div>
            </div>
          </div>
          <div class="delivery-type__option-header-opened-container">
            <div class="delivery-type__option-header-opened-copy">
              Διαθέσιμες ώρες παράδοσης ― Σημερά
            </div>
          </div>
        </div>
        <div class="accordion__right-side">
          <div class="accordion__header-arrow">
            <img src="./images/icons/accordion-arrow.svg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--
<input
  data-id="2021-07-31"
  data-from="11:00"
  data-to="14:00"
  data-date="2021-07-31"
  class="form-check-input"
  type="radio"
  name="order_delivery_slot"
  id="order_delivery_slot_401"
  value="401"
/> -->
