<div class="js-timeslot modal active">
  <!-- THE ACTUAL WINDOW -->
  <div class="modal__window">
    <!-- HEADER -->
    <div class="modal__header">
      <div class="modal__header-left">Παράδοση & Παραλαβή</div>
      <div class="modal__header-right">
        <div class="js-close-coupon-modal">
          <img src="./images/icons/modal-close.svg" alt="" class="" />
        </div>
      </div>
    </div>
    <!-- BODY -->
    <div class="modal__body">
      <!-- SECTION -->
      <div class="timeslot__section">
        <!-- TITLE -->
        <div class="timeslot__section-title">Παράδοση</div>
        <!-- DESCRIPTION -->
        <div class="timeslot__section-description">
          Ημέρα παράδοσης από το χώρο
        </div>
        <!-- DAYS -->
        <div class="timeslot__section-items mb-30">
          <div class="timeslot__section-item">
            <div class="timeslot__section-item-inner">Δευτέρα</div>
          </div>
          <div
            class="timeslot__section-item timeslot__section-item--unavailable"
          >
            <div class="timeslot__section-item-inner">Τρίτη</div>
          </div>
          <div
            class="timeslot__section-item timeslot__section-item--unavailable"
          >
            <div class="timeslot__section-item-inner">Τετάρτη</div>
          </div>
          <div class="timeslot__section-item">
            <div class="timeslot__section-item-inner">Πέμπτη</div>
          </div>
          <div class="timeslot__section-item timeslot__section-item--selected">
            <div class="timeslot__section-item-inner">Παρασκευή</div>
          </div>
          <div class="timeslot__section-item">
            <div class="timeslot__section-item-inner">Σάββατο</div>
          </div>
        </div>
        <!-- HOURS -->
        <div class="timeslot__section-items mb-10">
          <div class="timeslot__section-item">
            <div class="timeslot__section-item-inner">08:00 - 09:00</div>
          </div>
          <div
            class="timeslot__section-item timeslot__section-item--unavailable"
          >
            <div class="timeslot__section-item-inner">08:00 - 09:00</div>
          </div>
          <div
            class="
              timeslot__section-item timeslot__section-item--unavailable-red
            "
          >
            <div class="timeslot__section-item-inner">
              <img
                src="./images/icons/timeslot-alert.svg"
                alt=""
                class="timeslot__section-item-alert"
              />08:00 - 09:00
            </div>
          </div>
          <div class="timeslot__section-item">
            <div class="timeslot__section-item-inner">08:00 - 09:00</div>
          </div>
          <div class="timeslot__section-item timeslot__section-item--selected">
            <div class="timeslot__section-item-inner">08:00 - 09:00</div>
          </div>
          <div class="timeslot__section-item">
            <div class="timeslot__section-item-inner">08:00 - 09:00</div>
          </div>
        </div>
      </div>
      <!-- SECTION -->
      <div class="timeslot__section">
        <!-- TITLE -->
        <div class="timeslot__section-title">Παραλαβή</div>
        <!-- DESCRIPTION -->
        <div class="timeslot__section-description">
          Ημέρα παραλαβής από το χώρο
        </div>
        <!-- DAYS -->
        <div class="timeslot__section-items mb-30">
          <div class="timeslot__section-item">
            <div class="timeslot__section-item-inner">Δευτέρα</div>
          </div>
          <div
            class="timeslot__section-item timeslot__section-item--unavailable"
          >
            <div class="timeslot__section-item-inner">Τρίτη</div>
          </div>
          <div
            class="timeslot__section-item timeslot__section-item--unavailable"
          >
            <div class="timeslot__section-item-inner">Τετάρτη</div>
          </div>
          <div class="timeslot__section-item">
            <div class="timeslot__section-item-inner">Πέμπτη</div>
          </div>
          <div class="timeslot__section-item timeslot__section-item--selected">
            <div class="timeslot__section-item-inner">Παρασκευή</div>
          </div>
          <div class="timeslot__section-item">
            <div class="timeslot__section-item-inner">Σάββατο</div>
          </div>
        </div>
        <!-- HOURS -->
        <div class="timeslot__section-items mb-10">
          <div class="timeslot__section-item">
            <div class="timeslot__section-item-inner">08:00 - 09:00</div>
          </div>
          <div
            class="timeslot__section-item timeslot__section-item--unavailable"
          >
            <div class="timeslot__section-item-inner">08:00 - 09:00</div>
          </div>
          <div
            class="timeslot__section-item timeslot__section-item--unavailable"
          >
            <div class="timeslot__section-item-inner">08:00 - 09:00</div>
          </div>
          <div class="timeslot__section-item">
            <div class="timeslot__section-item-inner">08:00 - 09:00</div>
          </div>
          <div class="timeslot__section-item timeslot__section-item--selected">
            <div class="timeslot__section-item-inner">08:00 - 09:00</div>
          </div>
          <div class="timeslot__section-item">
            <div class="timeslot__section-item-inner">08:00 - 09:00</div>
          </div>
        </div>
      </div>
    </div>
    <!-- STICKY ACTION -->
    <div class="modal__action">
      <div class="py-20 px-16 w-100">
        <div class="primary-btn js-action-btn">Apply</div>
      </div>
    </div>
  </div>
</div>
