<div class="timeslot__trigger">
  <div class="accordion__container accordion__container--smaller">
    <div class="accordion__item">
      <div class="accordion__header">
        <div class="delivery-type__option-header">
          <!-- TOP AND BOTTOM COPY -->
          <div class="delivery-type__option-header-top">
            Διαθέσιμες ώρες παράδοσης - Σημερά
          </div>
          <div class="delivery-type__option-header-bottom">
            <div class="timeslot__accordion-container">
              <div class="timeslot__item">14:00-15:00</div>
              <div class="timeslot__item">14:00-15:00</div>
              <div class="timeslot__item">14:00-15:00</div>
              <div class="timeslot__item">14:00-15:00</div>
              <div class="timeslot__item">14:00-15:00</div>
              <div class="timeslot__item">14:00-15:00</div>
              <div class="timeslot__item">14:00-15:00</div>
            </div>
          </div>
          <div class="delivery-type__option-header-opened-container">
            <div class="delivery-type__option-header-opened-copy">
              Διαθέσιμες ώρες παράδοσης ― Σημερά
            </div>
          </div>
        </div>
        <div class="accordion__right-side">
          <div class="accordion__header-arrow">
            <img src="./images/icons/accordion-arrow.svg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="timeslot__item-selected">
  <img
    src="./images/icons/timeslot-delivery.svg"
    alt=""
    class="timeslot__item-selected-icon"
  />
  <div class="timeslot__item-selected-copy">
    Παρασκευή 16:00-17:00
  </div>
</div>
<div
  class="timeslot__item-selected timeslot__item-selected--error"
>
  <img
    src="./images/icons/timeslot-delivery-error.svg"
    alt=""
    class="timeslot__item-selected-icon flip-vertically"
  />
  <div class="timeslot__item-selected-copy">
    Σάββατο 16:00-17:00
  </div>
</div> -->
