<div class="js-timeslot modal">
  <!-- THE ACTUAL WINDOW -->
  <div class="modal__window">
    <!-- HEADER -->
    <div class="modal__header">
      <div class="modal__header-left">Παράδοση & Παραλαβή</div>
      <div class="modal__header-right">
        <div class="js-close">
          <img src="./images/icons/modal-close.svg" alt="" class="" />
        </div>
      </div>
    </div>
    <!-- BODY -->
    <div class="modal__body">
      <!-- SECTION -->
      <div class="timeslot__section" data-type="delivery">
        <!-- TITLE -->
        <div class="timeslot__section-title">Παράδοση</div>
        <!-- DESCRIPTION -->
        <div class="timeslot__section-description">
          Ημέρα παράδοσης από το χώρο
        </div>
        <!-- DAYS -->
        <div class="timeslot__section-items js-days mb-30">
          <div class="timeslot__section-item" data-date="2021-08-01">
            <div class="timeslot__section-item-inner">
              <div>Δευτέρα</div>
              <div>08/01</div>
            </div>
          </div>
          <div
            class="timeslot__section-item timeslot__section-item--unavailable"
            data-date="2021-08-02"
          >
            <div class="timeslot__section-item-inner">
              <div>Τρίτη</div>
              <div>08/02</div>
            </div>
          </div>
          <div
            class="timeslot__section-item timeslot__section-item--unavailable"
            data-date="2021-08-03"
          >
            <div class="timeslot__section-item-inner">
              <div>Τετάρτη</div>
              <div>08/03</div>
            </div>
          </div>
          <div class="timeslot__section-item" data-date="2021-08-04">
            <div class="timeslot__section-item-inner">
              <div>Πέμπτη</div>
              <div>08/04</div>
            </div>
          </div>
          <div class="timeslot__section-item" data-date="2021-08-05">
            <div class="timeslot__section-item-inner">
              <div>Παρασκευή</div>
              <div>08/05</div>
            </div>
          </div>
          <div class="timeslot__section-item" data-date="2021-08-06">
            <div class="timeslot__section-item-inner">
              <div>Σάββατο</div>
              <div>08/06</div>
            </div>
          </div>
          <div class="timeslot__section-item" data-date="2021-08-07">
            <div class="timeslot__section-item-inner">
              <div>Κυριακή</div>
              <div>08/07</div>
            </div>
          </div>
        </div>
        <!-- ALL HOURS CONTAINER -->
        <div class="timeslot__section-items-hours-container">
          <!-- HOURS 2021-08-01 -->
          <div
            class="timeslot__section-items d-none mb-10"
            data-date="2021-08-01"
          >
            <div
              class="timeslot__section-item"
              data-date="2021-08-01"
              data-date-small="08/01"
              data-day="Δευτέρα"
              data-from="08:00"
              data-to="09:00"
              data-slot-id="1"
            >
              <div class="timeslot__section-item-inner">08:00 - 09:00</div>
            </div>

            <div
              class="timeslot__section-item"
              data-date="2021-08-01"
              data-date-small="08/01"
              data-day="Τρίτη"
              data-from="09:00"
              data-to="10:00"
              data-slot-id="2"
            >
              <div class="timeslot__section-item-inner">09:00 - 10:00</div>
            </div>
            <div
              class="timeslot__section-item"
              data-date="2021-08-01"
              data-date-small="08/01"
              data-day="Τετάρτη"
              data-from="10:00"
              data-to="11:00"
              data-slot-id="3"
            >
              <div class="timeslot__section-item-inner">10:00 - 11:00</div>
            </div>
            <div
              class="timeslot__section-item"
              data-date="2021-08-01"
              data-date-small="08/01"
              data-day="Πεμπτή"
              data-from="11:00"
              data-to="12:00"
              data-slot-id="4"
            >
              <div class="timeslot__section-item-inner">11:00 - 12:00</div>
            </div>
            <div
              class="timeslot__section-item"
              data-date="2021-08-01"
              data-date-small="08/01"
              data-day="Παρασκευή"
              data-from="12:00"
              data-to="13:00"
              data-slot-id="5"
            >
              <div class="timeslot__section-item-inner">12:00 - 13:00</div>
            </div>
          </div>
          <!-- HOURS 2021-08-02 -->
          <div
            class="timeslot__section-items d-none mb-10"
            data-date="2021-08-02"
          >
            <div
              class="timeslot__section-item"
              data-date="2021-08-02"
              data-date-small="08/02"
              data-day="Δευτέρα"
              data-from="08:00"
              data-to="09:00"
              data-slot-id="6"
            >
              <div class="timeslot__section-item-inner">08:00 - 09:00</div>
            </div>

            <div
              class="timeslot__section-item"
              data-date="2021-08-02"
              data-date-small="08/02"
              data-day="Τρίτη"
              data-from="09:00"
              data-to="10:00"
              data-slot-id="7"
            >
              <div class="timeslot__section-item-inner">09:00 - 10:00</div>
            </div>
            <div
              class="timeslot__section-item"
              data-date="2021-08-02"
              data-date-small="08/02"
              data-day="Τετάρτη"
              data-from="10:00"
              data-to="11:00"
              data-slot-id="8"
            >
              <div class="timeslot__section-item-inner">10:00 - 11:00</div>
            </div>
            <div
              class="timeslot__section-item"
              data-date="2021-08-02"
              data-date-small="08/02"
              data-day="Πεμπτή"
              data-from="11:00"
              data-to="12:00"
              data-slot-id="9"
            >
              <div class="timeslot__section-item-inner">11:00 - 12:00</div>
            </div>
            <div
              class="timeslot__section-item"
              data-date="2021-08-02"
              data-date-small="08/02"
              data-day="Παρασκευή"
              data-from="12:00"
              data-to="13:00"
              data-slot-id="10"
            >
              <div class="timeslot__section-item-inner">12:00 - 13:00</div>
            </div>
          </div>
          <!-- HOURS 2021-08-03 -->
          <div
            class="timeslot__section-items d-none mb-10"
            data-date="2021-08-03"
          >
            <div
              class="timeslot__section-item"
              data-date="2021-08-03"
              data-date-small="08/03"
              data-day="Δευτέρα"
              data-from="08:00"
              data-to="09:00"
              data-slot-id="11"
            >
              <div class="timeslot__section-item-inner">08:00 - 09:00</div>
            </div>

            <div
              class="timeslot__section-item"
              data-date="2021-08-03"
              data-date-small="08/03"
              data-day="Τρίτη"
              data-from="09:00"
              data-to="10:00"
              data-slot-id="12"
            >
              <div class="timeslot__section-item-inner">09:00 - 10:00</div>
            </div>
            <div
              class="timeslot__section-item"
              data-date="2021-08-03"
              data-date-small="08/03"
              data-day="Τετάρτη"
              data-from="10:00"
              data-to="11:00"
              data-slot-id="13"
            >
              <div class="timeslot__section-item-inner">10:00 - 11:00</div>
            </div>
            <div
              class="timeslot__section-item"
              data-date="2021-08-03"
              data-date-small="08/03"
              data-day="Πεμπτή"
              data-from="11:00"
              data-to="12:00"
              data-slot-id="14"
            >
              <div class="timeslot__section-item-inner">11:00 - 12:00</div>
            </div>
            <div
              class="timeslot__section-item"
              data-date="2021-08-03"
              data-date-small="08/03"
              data-day="Παρασκευή"
              data-from="12:00"
              data-to="13:00"
              data-slot-id="15"
            >
              <div class="timeslot__section-item-inner">12:00 - 13:00</div>
            </div>
          </div>
          <!-- HOURS 2021-08-04 -->
          <div
            class="timeslot__section-items d-none mb-10"
            data-date="2021-08-04"
          >
            <div
              class="timeslot__section-item"
              data-date="2021-08-04"
              data-date-small="08/04"
              data-day="Δευτέρα"
              data-from="08:00"
              data-to="09:00"
              data-slot-id="16"
            >
              <div class="timeslot__section-item-inner">08:00 - 09:00</div>
            </div>

            <div
              class="timeslot__section-item"
              data-date="2021-08-04"
              data-date-small="08/04"
              data-day="Τρίτη"
              data-from="09:00"
              data-to="10:00"
              data-slot-id="17"
            >
              <div class="timeslot__section-item-inner">09:00 - 10:00</div>
            </div>
            <div
              class="timeslot__section-item"
              data-date="2021-08-04"
              data-date-small="08/04"
              data-day="Τετάρτη"
              data-from="10:00"
              data-to="11:00"
              data-slot-id="18"
            >
              <div class="timeslot__section-item-inner">10:00 - 11:00</div>
            </div>
            <div
              class="timeslot__section-item"
              data-date="2021-08-04"
              data-date-small="08/04"
              data-day="Πεμπτή"
              data-from="11:00"
              data-to="12:00"
              data-slot-id="19"
            >
              <div class="timeslot__section-item-inner">11:00 - 12:00</div>
            </div>
            <div
              class="timeslot__section-item"
              data-date="2021-08-04"
              data-date-small="08/04"
              data-day="Παρασκευή"
              data-from="12:00"
              data-to="13:00"
              data-slot-id="20"
            >
              <div class="timeslot__section-item-inner">12:00 - 13:00</div>
            </div>
          </div>
          <!-- HOURS 2021-07-31 -->
          <div
            class="timeslot__section-items d-none mb-10"
            data-date="2021-08-05"
          >
            <div
              class="timeslot__section-item"
              data-date="2021-08-05"
              data-date-small="08/05"
              data-day="Δευτέρα"
              data-from="08:00"
              data-to="09:00"
              data-slot-id="21"
            >
              <div class="timeslot__section-item-inner">08:00 - 09:00</div>
            </div>

            <div
              class="timeslot__section-item"
              data-date="2021-08-05"
              data-date-small="08/05"
              data-day="Τρίτη"
              data-from="09:00"
              data-to="10:00"
              data-slot-id="22"
            >
              <div class="timeslot__section-item-inner">09:00 - 10:00</div>
            </div>
            <div
              class="timeslot__section-item"
              data-date="2021-08-05"
              data-date-small="08/05"
              data-day="Τετάρτη"
              data-from="10:00"
              data-to="11:00"
              data-slot-id="23"
            >
              <div class="timeslot__section-item-inner">10:00 - 11:00</div>
            </div>
            <div
              class="timeslot__section-item"
              data-date="2021-08-05"
              data-date-small="08/05"
              data-day="Πεμπτή"
              data-from="11:00"
              data-to="12:00"
              data-slot-id="24"
            >
              <div class="timeslot__section-item-inner">11:00 - 12:00</div>
            </div>
            <div
              class="timeslot__section-item"
              data-date="2021-08-05"
              data-date-small="08/05"
              data-day="Παρασκευή"
              data-from="12:00"
              data-to="13:00"
              data-slot-id="25"
            >
              <div class="timeslot__section-item-inner">12:00 - 13:00</div>
            </div>
          </div>
          <!-- HOURS 2021-08-06 -->
          <div
            class="timeslot__section-items d-none mb-10"
            data-date="2021-08-06"
          >
            <div
              class="timeslot__section-item"
              data-date="2021-08-06"
              data-date-small="08/06"
              data-day="Δευτέρα"
              data-from="08:00"
              data-to="09:00"
              data-slot-id="26"
            >
              <div class="timeslot__section-item-inner">08:00 - 09:00</div>
            </div>

            <div
              class="timeslot__section-item"
              data-date="2021-08-06"
              data-date-small="08/06"
              data-day="Τρίτη"
              data-from="09:00"
              data-to="10:00"
              data-slot-id="27"
            >
              <div class="timeslot__section-item-inner">09:00 - 10:00</div>
            </div>
            <div
              class="timeslot__section-item"
              data-date="2021-08-06"
              data-date-small="08/06"
              data-day="Τετάρτη"
              data-from="10:00"
              data-to="11:00"
              data-slot-id="28"
            >
              <div class="timeslot__section-item-inner">10:00 - 11:00</div>
            </div>
            <div
              class="timeslot__section-item"
              data-date="2021-08-06"
              data-date-small="08/06"
              data-day="Πεμπτή"
              data-from="11:00"
              data-to="12:00"
              data-slot-id="29"
            >
              <div class="timeslot__section-item-inner">11:00 - 12:00</div>
            </div>
            <div
              class="timeslot__section-item"
              data-date="2021-08-06"
              data-date-small="08/06"
              data-day="Παρασκευή"
              data-from="12:00"
              data-to="13:00"
              data-slot-id="30"
            >
              <div class="timeslot__section-item-inner">12:00 - 13:00</div>
            </div>
          </div>
          <!-- HOURS 2021-08-07 -->
          <div
            class="timeslot__section-items d-none mb-10"
            data-date="2021-08-07"
          >
            <div
              class="timeslot__section-item"
              data-date="2021-08-07"
              data-date-small="08/07"
              data-day="Δευτέρα"
              data-from="08:00"
              data-to="09:00"
              data-slot-id="31"
            >
              <div class="timeslot__section-item-inner">08:00 - 09:00</div>
            </div>

            <div
              class="timeslot__section-item"
              data-date="2021-08-07"
              data-date-small="08/07"
              data-day="Τρίτη"
              data-from="09:00"
              data-to="10:00"
              data-slot-id="32"
            >
              <div class="timeslot__section-item-inner">09:00 - 10:00</div>
            </div>
            <div
              class="timeslot__section-item"
              data-date="2021-08-07"
              data-date-small="08/07"
              data-day="Τετάρτη"
              data-from="10:00"
              data-to="11:00"
              data-slot-id="33"
            >
              <div class="timeslot__section-item-inner">10:00 - 11:00</div>
            </div>
            <div
              class="timeslot__section-item"
              data-date="2021-08-07"
              data-date-small="08/07"
              data-day="Πεμπτή"
              data-from="11:00"
              data-to="12:00"
              data-slot-id="34"
            >
              <div class="timeslot__section-item-inner">11:00 - 12:00</div>
            </div>
            <div
              class="timeslot__section-item"
              data-date="2021-08-07"
              data-date-small="08/07"
              data-day="Παρασκευή"
              data-from="12:00"
              data-to="13:00"
              data-slot-id="35"
            >
              <div class="timeslot__section-item-inner">12:00 - 13:00</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- STICKY ACTION -->
    <div class="modal__action">
      <div class="py-20 px-16 w-100">
        <div class="primary-btn primary-btn--disabled js-action-btn">Apply</div>
      </div>
    </div>
  </div>
</div>
