<!-- STEP 1 -->
<div class="modal js-verify-number-modal">
  <!-- THE ACTUAL WINDOW -->
  <div class="modal__window">
    <!-- HEADER -->
    <div class="modal__header">
      <div class="modal__header-left">Αριθμός Κινητού</div>
      <div class="modal__header-right">
        <div class="js-close-coupon-modal">
          <img src="./images/icons/modal-close.svg" alt="" class="" />
        </div>
      </div>
    </div>
    <!-- BODY -->
    <div class="modal__body">
      <img src="./images/illustrations/coupon.svg" alt="" class="img-fluid" />

      <div class="container-a py-16">
        Επιβεβαίωσε μια μόνο φορά το τηλέφωνο σου
      </div>

      <!-- ERROR -->
      <div class="p-16 js-verify-number-modal-error coupon__error">
        <img
          src="./images/icons/error.svg"
          alt=""
          class="img-fluid mw-22 flex-shrink-0 align-self-center mr-10"
        />
        <div class="js-verify-number-modal-error-msg">
          You may have entered the wrong phone number.
        </div>
      </div>

      <div class="form-floating">
        <input
          type="email"
          class="form-control js-verify-number-modal-input"
          id="floatingInput"
          placeholder="placeholder"
          maxlength="10"
        />
        <label for="floatingInput">Αριθμός Κινητού</label>
      </div>
    </div>
    <!-- STICKY ACTION -->
    <div class="modal__action">
      <div class="py-20 px-16 w-100">
        <div class="primary-btn js-action-btn">Επιβεβαίωση</div>
      </div>
    </div>
  </div>
</div>

<!-- STEP 2 -->
<div class="modal js-verify-number-modal-otp active">
  <!-- THE ACTUAL WINDOW -->
  <div class="modal__window">
    <!-- HEADER -->
    <div class="modal__header">
      <div class="modal__header-left">Επιβεβαίωση αριθμού</div>
      <div class="modal__header-right">
        <div class="js-close-coupon-modal">
          <img src="./images/icons/modal-close.svg" alt="" class="" />
        </div>
      </div>
    </div>
    <!-- BODY -->
    <div class="modal__body">
      <img src="./images/illustrations/coupon.svg" alt="" class="img-fluid" />

      <div class="container-a py-16">
        Επιβεβαίωσε μια μόνο φορά το τηλέφωνο σου
      </div>

      <!-- ERROR -->
      <div class="p-16 js-verify-number-modal-error coupon__error">
        <img
          src="./images/icons/error.svg"
          alt=""
          class="img-fluid mw-22 flex-shrink-0 align-self-center mr-10"
        />
        <div class="js-verify-number-modal-error-msg">
          You may have entered the wrong phone number.
        </div>
      </div>

      <div class="form-floating">
        <input
          type="email"
          class="form-control js-verify-number-modal-input"
          id="floatingInput"
          placeholder="placeholder"
          maxlength="10"
        />
        <label for="floatingInput">Αριθμός Κινητού</label>
      </div>
    </div>
    <!-- STICKY ACTION -->
    <div class="modal__action">
      <div class="py-20 px-16 w-100">
        <div class="primary-btn js-action-btn">Επιβεβαίωση</div>
      </div>
    </div>
  </div>
</div>
