<!-- STEP 1 -->
<div class="modal js-verify-number-modal">
  <!-- THE ACTUAL WINDOW -->
  <div class="modal__window">
    <!-- HEADER -->
    <div class="modal__header">
      <div class="modal__header-left">Αριθμός Κινητού</div>
      <div class="modal__header-right">
        <div class="js-close-verify-number-modal">
          <img src="./images/icons/modal-close.svg" alt="" class="" />
        </div>
      </div>
    </div>
    <!-- BODY -->
    <div class="modal__body">
      <img src="./images/illustrations/coupon.svg" alt="" class="img-fluid" />

      <div class="container-a py-16">
        Επιβεβαίωσε μια μόνο φορά το τηλέφωνο σου
      </div>

      <!-- ERROR -->
      <div
        class="
          p-16
          js-verify-number-modal-error
          personal-details__verify-number-error
        "
      >
        <img
          src="./images/icons/error.svg"
          alt=""
          class="img-fluid mw-22 flex-shrink-0 align-self-center mr-10"
        />
        <div class="js-verify-number-modal-error-msg">
          You may have entered the wrong phone number.
        </div>
      </div>

      <div class="form-floating">
        <input
          type="text"
          pattern="^[0-9]*$"
          class="form-control js-verify-number-modal-input"
          id="floatingInput"
          placeholder="placeholder"
          maxlength="10"
          autocomplete="off"
        />
        <label for="floatingInput">Αριθμός Κινητού</label>
      </div>
    </div>
    <!-- STICKY ACTION -->
    <div class="modal__action">
      <div class="py-20 px-16 w-100">
        <div class="primary-btn js-action-btn">Επιβεβαίωση</div>
      </div>
    </div>
  </div>
</div>

<!-- STEP 2 -->
<div class="modal js-verify-number-modal-otp">
  <!-- THE ACTUAL WINDOW -->
  <div class="modal__window">
    <!-- HEADER -->
    <div class="modal__header">
      <div class="modal__header-left">
        <img
          src="./images/icons/left-arrow.svg"
          alt=""
          class="mr-10 js-previous-step"
        />
        <div>Επιβεβαίωση αριθμού</div>
      </div>
      <div class="modal__header-right">
        <div class="js-close-verify-number-modal">
          <img src="./images/icons/modal-close.svg" alt="" class="" />
        </div>
      </div>
    </div>
    <!-- BODY -->
    <div class="modal__body">
      <img src="./images/illustrations/coupon.svg" alt="" class="img-fluid" />

      <div class="container-a py-10 d-flex">
        <div>Αριθμός Κινητού</div>
        <div class="pl-10 ml-auto js-number">6943330960</div>
      </div>

      <div class="container-a py-16">
        Βάλε τον κωδικό επιβεβαίωσης που θα λάβεις στο κινητό σου τηλέφωνο.
      </div>

      <div class="form-floating">
        <input
          type="text"
          class="form-control js-verify-number-modal-input"
          id="floatingInput"
          placeholder="placeholder"
          maxlength="10"
          autocomplete="off"
        />
        <label for="floatingInput">Κωδικός επιβεβαίωσης</label>
      </div>
      <div class="d-flex container-a py-10 mt-10">
        <div class="color-dark-gray">Don't receive the SMS?</div>
        <div class="ml-auto pl-10 d-flex">
          <div class="js-countdown color-blue mr-10">00:39</div>
          <div class="js-resend font-weight-700 opacity-20">Resend</div>
        </div>
      </div>
    </div>
    <!-- STICKY ACTION -->
    <div class="modal__action">
      <div class="py-20 px-16 w-100">
        <div class="primary-btn js-action-btn">Ολοκλήρωση</div>
      </div>
    </div>
  </div>
</div>
